<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">Political Works</span>
        </div>
        <div class="col-sm-8">
            <form [formGroup]="filterForm">
                <div class="row g-1">
                    <div class="col-sm-3 offset-3">
                        <ngx-select [allowClear]="true" [items]="memberNameArray" optionValueField="Id" formControlName="memberName" optionTextField="FullName"  placeholder="Select Member Name">
                        </ngx-select>
                    </div>
                    <div class="col-sm-3">
                        <ngx-select [allowClear]="true" [items]="ddlpoliticalWork" placeholder="Select Political Work">
                        </ngx-select>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="From To Date" />
                            <button type="button" class="btn btn-light btn-sm"><i class="fas fa-calendar-alt"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>

    

    <div class="row" id="dash-stats">
        <div class="col-sm">
            <div class="card card-body bg-gold">
                <i class="fas fa-network-wired"></i>
                <p>Total Works</p>
                <h3>2</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-blue">
                <i class="fas fa-award"></i>
                <p>Political Works</p>
                <h3>34</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-green">
                <i class="far fa-newspaper"></i>
                <p>News Letters</p>
                <h3>43</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-cyan" >
                <i class="fas fa-envelope-open-text"></i>
                <p>Social Media Help</p>
                <h3>345</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-red">
                <i class="fas fa-hands-helping"></i>
                <p>Personal Help</p>
                <h3>343</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-voilet">
                <i class="fas fa-hashtag"></i>
                <p>Party Programs</p>
                <h3>343</h3>
            </div>
        </div>
    </div>

    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Work Date</th>
                            <th scope="col">Member Name</th>
                            <th scope="col">Work Type</th>
                            <th scope="col">Title</th>
                            <!-- <th scope="col">Description</th> -->
                            <!-- <th scope="col">Photos</th> -->
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let politicalWork of politicalWorkArray | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index">
                            <td>{{politicalWork.SrNo}}</td>
                            <td>{{politicalWork.ActivityDate}}</td>
                            <td><a routerLink="/members/member-profile">{{politicalWork.FullName}}</a></td>
                            <td>{{politicalWork.CategoryName}}</td>
                            <td>{{politicalWork.Title | titlecase}}</td>
                            <!-- <td>{{politicalWork.Description | titlecase}}</td> -->
                            <!-- <th scope="row">
                                <ng-container *ngFor="let img of politicalWork.Images.split(',').splice(0,2)">
                                    <img src="{{img}}">
                                </ng-container>
                            </th> -->
                            <td>
                                <button class="btn btn-sm btn-light" data-bs-toggle="modal"
                                    data-bs-target="#ViewDetailsModal"><i class="far fa-eye"></i></button>
                            </td>
                        </tr>
                        <tr *ngIf="politicalWorkArray?.length == 0">
                            <td colspan="9">
                                <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2 text-end" *ngIf="politicalWorkArray?.length != 0">
                    <pagination-controls previousLabel="" nextLabel=""
                        (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for details -->
<div class="modal fade" id="ViewDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ViewDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="ViewDetailsModalLabel">Details</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 form-container">
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label">#ID</label>
                                <div id="txtID" class="form-data">1</div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Post Date</label>
                                <div id="txtPostDate" class="form-data">01-12-2021</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Members Name</label>
                            <div id="txtMembersName" class="form-data">
                                Mr. Anil Kambale
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label">Work Type</label>
                                <div id="txtSocialMediaSource" class="form-data">
                                    <i class="fab fa-whatsapp me-1"></i> WhatsApp
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Title</label>
                                <div id="txtMobileNo" class="form-data">
                                    Title of the program
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label">Program</label>
                                <div id="txtSocialMediaSource" class="form-data">
                                    Program Name
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Media</label>
                                <div id="txtMobileNo" class="form-data">
                                    Medium of the program
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Post Description</label>
                            <div id="txtDescription" class="form-data">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label">URL Link</label>
                                <div id="txtMessageFavour" class="form-data">
                                    <a href="#">URL Link</a>>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Contact Person Details</label>
                                <div id="txtMessageOppse" class="form-data">
                                    Contact Person Name<br> +91-9871354230
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 form-container">
                        <div class="mb-3">
                            <label class="form-label">Location</label>
                            <img src="https://images.indianexpress.com/2017/05/google-maps-759.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="mb-3 col-sm-12 form-container">
                        <label class="form-label">Photos</label>
                        <div class="row">
                            <div class="col-sm-2 mb-3">
                                <img src="assets/images/dashboard-images/defaultimg.png" class="img-thumbnail" />
                            </div>
                            <div class="col-sm-2 mb-3">
                                <img src="assets/images/dashboard-images/defaultimg.png" class="img-thumbnail" />
                            </div>
                            <div class="col-sm-2 mb-3">
                                <img src="assets/images/dashboard-images/defaultimg.png" class="img-thumbnail" />
                            </div>
                            <div class="col-sm-2 mb-3">
                                <img src="assets/images/dashboard-images/defaultimg.png" class="img-thumbnail" />
                            </div>
                            <div class="col-sm-2 mb-3">
                                <img src="assets/images/dashboard-images/defaultimg.png" class="img-thumbnail" />
                            </div>
                            <div class="col-sm-2 mb-3">
                                <img src="assets/images/dashboard-images/defaultimg.png" class="img-thumbnail" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>