<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Political Works
                </span>
                <span class="float-end">
                    <div class="input-group">
                        <select class="form-select form-select-sm">
                            <option value="">Select Member Name</option>
                        </select>
                        <select class="form-select form-select-sm">
                            <option value="">Select Work Type</option>
                            <option>Political Work</option>
                            <option>News Letters</option>
                            <option>Social Media Activity of Help</option>
                            <option>Personal Help</option>
                            <option>Party Programs</option>
                        </select>
                    </div>
                </span>
            </div>
        </div>
    </div>

    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Work Date</th>
                            <th scope="col">Member Name</th>
                            <th scope="col">Work Type</th>
                            <th scope="col">Title</th>
                            <th scope="col">Program</th>
                            <th scope="col">Media</th>
                            <th scope="col">Description</th>
                            <th scope="col">URL Link</th>
                            <th scope="col">Photos</th>
                            <th scope="col">Person Contact Details</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>01-07-2021</td>
                            <td>Anil Kambale</td>
                            <td>Political Work</td>
                            <td>Title</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Description</td>
                            <td>-</td>
                            <td>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#PhotoGalleryModal"><img src="assets/images/dashboard-images/ncplogo.png" /></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#PhotoGalleryModal"><img src="assets/images/dashboard-images/ncplogo.png" /></a>
                            </td>
                            <td>-</td>
                            <td>
                                <button class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#LocationModal"><i class="fas fa-map-marker-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>02-07-2021</td>
                            <td>Sunil Jadhav</td>
                            <td>News Letters</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Media</td>
                            <td>Description</td>
                            <td><a href="#">URL Link</a></td>
                            <td>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#PhotoGalleryModal"><img src="assets/images/dashboard-images/ncplogo.png" /></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#PhotoGalleryModal"><img src="assets/images/dashboard-images/ncplogo.png" /></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#PhotoGalleryModal"><img src="assets/images/dashboard-images/ncplogo.png" /></a>
                            </td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>03-07-2021</td>
                            <td>Ramesh Singh</td>
                            <td>Social Media Activity of Help</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Description</td>
                            <td>-</td>
                            <td>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#PhotoGalleryModal"><img src="assets/images/dashboard-images/ncplogo.png" /></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#PhotoGalleryModal"><img src="assets/images/dashboard-images/ncplogo.png" /></a>
                            </td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>04-07-2021</td>
                            <td>Arvind Mohite-Patil</td>
                            <td>Personal Help</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Description</td>
                            <td>-</td>
                            <td>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#PhotoGalleryModal"><img src="assets/images/dashboard-images/ncplogo.png" /></a>
                            </td>
                            <td>
                                <p class="text-muted mb-0">Mr. Sunil Kambale</p>
                                <p class="text-muted mb-0">+91-9876543210</p>
                            </td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>05-07-2021</td>
                            <td>Rajesh Patil</td>
                            <td>Party Programs</td>
                            <td>Title</td>
                            <td>Program</td>
                            <td>-</td>
                            <td>Description</td>
                            <td>-</td>
                            <td>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#PhotoGalleryModal"><img src="assets/images/dashboard-images/ncplogo.png" /></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#PhotoGalleryModal"><img src="assets/images/dashboard-images/ncplogo.png" /></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#PhotoGalleryModal"><img src="assets/images/dashboard-images/ncplogo.png" /></a>
                            </td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Image Gallery -->
<div class="modal fade" id="PhotoGalleryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="PhotoGalleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="PhotoGalleryModalLabel">Photo Gallery</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="assets/images/dashboard-images/ncplogo.png" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<!-- Modal for Location -->
<div class="modal fade" id="LocationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="LocationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="LocationModalLabel">Location</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="https://images.indianexpress.com/2017/05/google-maps-759.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>