<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">Social media perception</span>
        </div>
        <div class="col-sm-8">
            <form [formGroup]="filterForm">
                <div class="row g-1">
                    <div class="col-sm-3">
                        <ngx-select [allowClear]="true" (remove)="clearFilter('member')"
                                    [items]="memberNameArray" optionValueField="Id" formControlName="memberName"
                                    optionTextField="FullName" (select)="filterData('Member')" placeholder="Select Member Name">
                                </ngx-select>
                    </div>
                    <div class="col-sm-3">
                        <ngx-select [allowClear]="true" (remove)="clearFilter('media')"
                                    [items]="socialMediaArray" optionValueField="Id" optionTextField="SocialMediaName"
                                    (select)="filterData('Media')" formControlName="mediaSource"
                                    placeholder="Select Media Source">
                                </ngx-select>
                    </div>

                    <div class="col-sm-3">
                        <div class="input-group">
                            <input [owlDateTime]="dt3" (remove)="clearFilter('dateRangePIcker')"
                                formControlName="fromTo" [selectMode]="'range'"
                                (dateTimeChange)="filterData('range')"
                                class="form-control border border-end-0" [owlDateTimeTrigger]="dt3"
                                placeholder="From To Date">

                            <button class="btn btn-light border btn-sm border-start-0 bg-transparent"
                                type="button" [owlDateTimeTrigger]="dt3" *ngIf="!defaultCloseBtn">
                                <i class="fas fa-calendar-alt"></i></button>
                            <button class="btn btn-light border btn-sm border-end-0 bg-transparent"
                                type="button" *ngIf="defaultCloseBtn"
                                (click)="clearFilter('dateRangePIcker')">
                                <i class="fas fa-times"></i></button>
                        </div>
                        <owl-date-time #dt3 [pickerType]="'calendar'"></owl-date-time>
                    </div>

                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="form-control border-end-0 border"
                                formControlName="searchText" placeholder="Search..."
                                (keyup)="onKeyUpFilter()" />
                            <button type="button"
                                class="btn btn-light border btn-sm border-start-0 bg-transparent"
                                (click)="clearFilter('search')" *ngIf="filterForm.value.searchText"><i
                                    _ngcontent-tbl-c102="" class="fas fa-times"></i></button>
                            <button type="button" *ngIf="!filterForm.value.searchText"
                                class="btn btn-sm border btn-light border-start-0 bg-transparent"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>

    <div class="row" id="dash-stats">
        <div class="col-sm">
            <div class="card card-body bg-gold">
                <i class="fas fa-comments"></i>
                <p>Total Messages</p>
                <h3>{{TotalMsg}}</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-blue">
                <i class="fab fa-facebook"></i>
                <p>Facebook</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.YouthMembers "></i></ng-container> -->
                <h3>{{FacebookCount}}</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-green">
                <i class="fab fa-whatsapp"></i>
                <p>WhtasApp</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.ActiveMembers"></i></ng-container> -->
                <h3>{{WhtasAppCount}}</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-cyan">
                <i class="fab fa-twitter"></i>
                <p>Twitter</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.CommitteeWork"></i></ng-container> -->
                <h3>{{Twitter}}</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-red">
                <i class="fas fa-hashtag"></i>
                <p>Other</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.MemberWork"></i></ng-container> -->
                <h3>{{socialMediaCount}}</h3>
            </div>
        </div>
    </div>

    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Post Date</th>
                            <th scope="col">Social Media</th>
                            <th scope="col">NCP Member</th>
                            <th scope="col">Posted By</th>
                            <!-- <th scope="col">Mobile No.</th> -->
                            <th scope="col">Message in Favour</th>
                            <th scope="col">Message in Oppose</th>
                            <th scope="col">Supporting To</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let socialMediaMessages of socialMediaMessagesArray | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index" [class.active]="socialMediaMessages.Id == HighlightRow">
                            <td>{{socialMediaMessages.SrNo}}</td>
                            <td>{{socialMediaMessages.PostDate}}</td>

                            <!-- <td><i class="fab fa-whatsapp me-1"></i> {{socialMediaMessages.SocialMediaName}}</td> -->

                            <td>
                                <ng-container *ngIf="socialMediaMessages.SocialMediaName == 'Other'"><i
                                        class="fas fa-hashtag me-1"></i></ng-container>
                                <ng-container *ngIf="socialMediaMessages.SocialMediaName == 'WhatsApp'"><i
                                        class="fab fa-whatsapp me-1"></i></ng-container>
                                <ng-container *ngIf="socialMediaMessages.SocialMediaName == 'Instagram'"><i
                                        class="fab fa-instagram me-1"></i></ng-container>
                                <ng-container *ngIf="socialMediaMessages.SocialMediaName == 'Facebook'"><i
                                        class="fab fa-facebook me-1"></i></ng-container>
                                <ng-container *ngIf="socialMediaMessages.SocialMediaName == 'Twitter'"><i
                                        class="fab fa-twitter me-1" style='color:rgb(70, 53, 53)'></i></ng-container>
                                {{socialMediaMessages.SocialMediaName}}
                            </td>



                            <td><a (click)="redToMemberProfile(socialMediaMessages.MemberId, socialMediaMessages.MemberName)"
                                    class="text-primary">{{socialMediaMessages.MemberName}}</a></td>
                            <td><a (click)="redToSocialMediaPerson(socialMediaMessages.PersonName,socialMediaMessages.PersonMobileNo)"
                                    class="text-primary">{{socialMediaMessages.PersonName}} </a>
                                    <p class="small mb-0"><a class="text-muted" href="tel:{{socialMediaMessages.PersonMobileNo}}">{{socialMediaMessages.PersonMobileNo}}</a></p>
                                </td>
                           
                            <td><span class="">{{socialMediaMessages.InFavorOf}}</span></td>
                            <td><span class="">{{socialMediaMessages.InOppositionOf}}</span></td>
                            <td>
                                <img src="{{socialMediaMessages.PartyIconImage}}">
                                <!-- {{socialMediaMessages.PartyInSupport}} -->
                            </td>
                            <td>
                                <button class="btn btn-sm btn-light"
                                    (click)="getSocialMediaDetails(socialMediaMessages.Id)" data-bs-toggle="modal"
                                    data-bs-target="#ViewDetailsModal"><i class="far fa-eye"></i></button>
                            </td>
                        </tr>
                        <tr *ngIf="socialMediaMessagesArray?.length == 0">
                            <td colspan="10">
                                <div class="alert alert-danger text-center py-2 mb-0">No Data Found..!</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2 text-end" *ngIf="socialMediaMessagesArray?.length != 0">
                    <pagination-controls previousLabel="" nextLabel=""
                        (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Location -->
<div class="modal fade" id="ViewDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ViewDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="ViewDetailsModalLabel">Details</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 form-container">
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label">Members Name</label>
                                <div id="txtMembersName" class="form-data">
                                    {{socialMediaDetailsArray?.MemberName}}
                                   
                                </div>
                                <!-- <label class="form-label">#ID</label>
                                <div id="txtID" class="form-data">{{socialMediaDetailsArray?.Id}}</div> -->
                            </div>
                            <div class="col-sm-6"  *ngIf="socialMediaDetailsArray?.MemberMobileNo">
                                <label class="form-label">Members  Mobile No.</label>
                            <div id="txtMembersName" class="form-data">
                                <span class="text-muted ms-2">{{socialMediaDetailsArray?.MemberMobileNo}}</span>
                            </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-sm-6">
                                <label class="form-label">Post Date</label>
                                <div id="txtPostDate" class="form-data">{{socialMediaDetailsArray?.PostDate}}</div>
                            </div>
                            <!-- <div class="col-sm-6">
                                <label class="form-label">Members Name</label>
                            <div id="txtMembersName" class="form-data">
                                {{socialMediaDetailsArray?.MemberName}}
                                <span class="text-muted ms-2" *ngIf="socialMediaDetailsArray?.MemberMobileNo">[{{socialMediaDetailsArray?.MemberMobileNo}}]</span>
                            </div>
                            </div> -->
                            <div class="col-sm-6" *ngIf="socialMediaDetailsArray?.SocialMediaName">
                                <label class="form-label">Social Media Source</label>
                                <div id="txtSocialMediaSource" class="form-data">
                                    <i class="fab fa-whatsapp me-1"></i> {{socialMediaDetailsArray?.SocialMediaName}}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6" *ngIf="socialMediaDetailsArray?.PersonName">
                                <label class="form-label">Posted By</label>
                                <div id="txtMobileNo" class="form-data">
                                    {{socialMediaDetailsArray?.PersonName}}
                                </div>
                            </div>
                            <div class="col-sm-6" *ngIf="socialMediaDetailsArray?.PersonMobileNo">
                                <label class="form-label">Person's Mobile No.</label>
                                <div id="txtMobileNo" class="form-data">
                                    {{socialMediaDetailsArray?.PersonMobileNo}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="socialMediaDetailsArray?.Description">
                            <label class="form-label">Post Description</label>
                            <div id="txtDescription" class="form-data">
                                {{socialMediaDetailsArray?.Description}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6" *ngIf="socialMediaDetailsArray?.InFavorOf">
                                <label class="form-label">Message in Favour</label>
                                <div id="txtMessageFavour" class="form-data">
                                    {{socialMediaDetailsArray?.InFavorOf}}
                                </div>
                            </div>
                            <div class="col-sm-6" *ngIf="socialMediaDetailsArray?.InOppositionOf">
                                <label class="form-label">Message in Oppose</label>
                                <div id="txtMessageOppse" class="form-data">
                                    {{socialMediaDetailsArray?.InOppositionOf}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="socialMediaDetailsArray?.PartyInSupport">
                            <label class="form-label">Party in Support</label>
                            <div id="txtPartyInSupport" class="form-data">
                                <img src="{{socialMediaDetailsArray?.PartyIconImage}}" class="partylogo" />
                                {{socialMediaDetailsArray?.PartyInSupport}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 form-container">
                        
                    <div class="mb-3" *ngIf="lat!='' && lng!=''; else elseBlock">
                        <label class="form-label">Location</label>
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="'roadmap'">
                            <agm-marker [latitude]="lat" [longitude]="lng" (markerClick)="clickedMarker(infowindow)">
                                <agm-info-window #infowindow>
                                    <strong><span class="">Address</span> : {{socialMediaDetailsAddress}}</strong>
                                </agm-info-window>
    
                            </agm-marker>
                        </agm-map>
                    </div>
                    <ng-template #elseBlock>
                        <div class="h-20 text-center">
                            <img src="../../../../assets/images/location-not-found.svg" class="img-h300">
                        </div>
                    </ng-template>
                </div>
                <div class="form-container">
                    <label class="form-label">Photos</label>
                    <div class="row">
                        <div class="col-sm-2 mb-3" *ngFor="let img of programGalleryImg; index as i">
                            <img *ngIf="i<4" class="img-fluid img-thumbnail h-150" [lightbox]="i" [src]="img?.data?.thumb" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>