<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-3">
            <span class="page-name">View Members</span>
        </div>
        <div class="col-sm-9">
            <form [formGroup]="filterForm">
                <div class="row g-1">
                    <div class="col-sm-2">
                        <ngx-select [allowClear]="true" formControlName="DistrictId" [items]="allDistrict"  
                        optionValueField="DistrictId" optionTextField="DistrictName" (remove)="clearFilter('district')" 
                        placeholder="Select District" (select)="filter()">
                        </ngx-select>
                    </div>
                    <div class="col-sm-2">
                        <ngx-select [allowClear]="true" formControlName="memberStatus" [items]="memberStatusArray"
                            optionValueField="id" optionTextField="name"
                            (remove)="clearFilter('MemberStatus')" placeholder="Member Status"
                            (select)="filter()">
                        </ngx-select>
                    </div>
                    <div class="col-sm-2">
                        <ngx-select [allowClear]="true" formControlName="deviceStatus" [items]="DeviceAppArray"
                            optionValueField="id" optionTextField="name"
                            (remove)="clearFilter('DeviceStatus')" placeholder="Select Device"
                            (select)="filter()">
                        </ngx-select>
                    </div>
                    <div class="col-sm-2">
                        <ngx-select [allowClear]="true" formControlName="deviceVersion" [items]="DeviceVersionArray"
                            optionValueField="id" optionTextField="name"
                            (remove)="clearFilter('DeviceVersion')" placeholder="Device Version"
                            (select)="filter()">
                        </ngx-select>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search Member" formControlName="searchText" (keyup)="onKeyUpFilter()" />
                            <button type="button" class="btn btn-light border btn-sm" *ngIf="filterForm.value.searchText" (click)="clearFilter('search')"><i _ngcontent-tbl-c102="" class="fas fa-times"></i></button>
                            <button type="button" (click)="searchFilter('true')" *ngIf="!filterForm.value.searchText" class="btn btn-sm border btn-light"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="dash-stats">
        <div class="col-sm-2">
            <div class="card card-body bg-cyan">
                <i class="fas fa-users"></i>
                <p>Youth Member</p>
                <h3>{{memberCountData?.TotalMember}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-green">
                <i class="fas fa-user"></i>
                <p>Executive Members</p>
                <h3>{{memberCountData?.ExcutiveMember}}</h3>
            </div>
        </div>
        <div class="col-sm-2" (click)="cardFilterData('memStatusFlag',1)">
            <!-- <div class="card card-body bg-gold" (click)="cardFilterData('memStatusFlag',1)"> -->
                <div class="card card-body bg-gold">
                <i class="fas fa-people-arrows"></i>
                <p>Active Members</p>
                <h3>{{memberCountData?.ActiveMember}}</h3>
            </div>
        </div>
        <div class="col-sm-2" (click)="cardFilterData('memStatusFlag',2)">
            <div class="card card-body bg-red">
                <i class="fas fa-user-alt-slash"></i>
                <p>Non Active Members</p>
                <h3>{{memberCountData?.InActiveMember}}</h3>
            </div>
        </div>
        <div class="col-sm-2" (click)="cardFilterData('diviceFlag',2)">
            <!-- <div class="card card-body bg-blue" (click)="cardFilterData('diviceFlag',2)"> -->
                <div class="card card-body bg-blue">
                <i class="fab fa-apple"></i>
                <p>iOS Users</p>
                <h3>{{memberCountData?.iOS}}</h3>
            </div>
        </div>
        <div class="col-sm-2" (click)="cardFilterData('diviceFlag',1)">
            <div class="card card-body bg-voilet">
                <i class="fas fa-robot"></i>
                <p>Andriod Users</p>
                <h3>{{memberCountData?.Android}}</h3>
            </div>
        </div>
    </div>
    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card card-body">
                <div class="text-end form-container">
                    <a (click)="addEditMember('Add',0)" class="btn btn-sm btn-main"><i class="fas fa-plus"></i> New Member</a>
                </div>
                <table class="table table-hover table-borderless mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Sr No.</th>
                            <th scope="col"></th>
                            <th scope="col">Registration Date</th>
                            <th scope="col">Member Name</th>
                            <th scope="col">Contacts</th>
                            <th scope="col">Location</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Divice</th>
                            <th></th>
                            <th scope="col">User Status</th>
                            <!-- <th scope="col">Active Status</th> -->
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let allMembers of resultAllViewMembers | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index">
                            <td>{{allMembers.SrNo}}</td>
                            <th scope="row">
                                <img *ngIf="allMembers.ProfilePhoto" src="{{allMembers.ProfilePhoto}}" class="prophoto" />
                                <img *ngIf="!allMembers.ProfilePhoto" src="assets/images/ncp-default.png" class="prophoto" />
                            </th>
                            <td>{{allMembers.PostDate}}</td>
                            <td><a class="text-primary" (click)="redToMemberProfile(allMembers.MemberId,allMembers.FullName)">{{allMembers.FullName | titlecase}}</a></td>
                            <td>
                                <p class="mb-0">{{allMembers.EmailId}}</p>
                                <p class="mb-0">{{allMembers.MobileNo}}</p>
                            </td>
                            <!-- <td><span>{{allMembers.Location}}</span></td> -->
                            <td>
                                <div *ngIf="allMembers?.Location"><span>{{allMembers?.Location}}</span></div>
                                <div *ngIf="allMembers?.Location == '' || allMembers?.Location == null"><span>-</span></div>
                            </td>
                            <td><span>{{allMembers.Designation}}</span></td>
                            <td>
                                <div *ngIf="allMembers?.DeviceType == 1">
                                    <ng-container *ngIf="allMembers?.Version_Status==1 ; else oldVersionAndroid">
                                        <img [appTooltip] title="New Version" src="assets\images\dashboard-images\Android_robot.svg">
                                    </ng-container>
                                    <ng-template #oldVersionAndroid>
                                        <img [appTooltip] title="Old Version" src="assets\images\dashboard-images\Android_robot_light_Red.svg">
                                    </ng-template>
                                </div>

                                <div *ngIf="allMembers?.DeviceType==2">
                                    <ng-container *ngIf="allMembers?.Version_Status==1 ; else oldVersionIos">
                                        <img [appTooltip] title="New Version" src="assets\images\dashboard-images\Apple_logo.svg">
                                    </ng-container>
                                    <ng-template #oldVersionIos>
                                        <img [appTooltip] title="Old Version" src="assets\images\dashboard-images\Apple_logo_light_red.svg">
                                    </ng-template>
                                </div>

                                <div *ngIf="allMembers?.DeviceType==3">
                                    <img [appTooltip] title="No Divice" src="assets\images\dashboard-images\no-cellphone.svg">
                                </div>
                            </td>
                            <!-- <td>
                                <div>
                                    <a target="_blank" href="https://api.whatsapp.com/send?phone=+91{{allMembers.MobileNo}}&amp;text=Dear+Sir/Mam,+Please+download+NCP+Youth+Mobile+App+from+Play+store/Appmarket+and+get+connected+with+Natonalist+Youth+Congress.+Android+Link+-+https://play.google.com/store/apps/details?id=com.develop.ncp_youth,+iOS+Link+-+https://apps.apple.com/in/app/ncp-youth/id1581373014">
                                    <img src="assets\images\dashboard-images\whatsapp.svg"></a>
                                </div>
                            </td> -->

                            <td>
                                <div *ngIf="allMembers?.Version_Status==2">
                                    <div *ngIf="allMembers?.DeviceType != 3">
                                        <a target="_blank" href="https://api.whatsapp.com/send?phone=+91{{allMembers.MobileNo}}&amp;text=Dear+Sir/Mam,+Please+Update+NCP+Youth+Mobile+App+from+Play+Store/App+Store+and+get+connected+with+Natonalist+Youth+Congress.+Android+Link+-+https://play.google.com/store/apps/details?id=com.develop.ncp_youth,+iOS+Link+-+https://apps.apple.com/in/app/ncp-youth/id1581373014">
                                            <img [appTooltip] title="Send Link" src="assets\images\dashboard-images\whatsapp.svg"></a>
                                   </div>
                                   <div *ngIf="allMembers?.DeviceType == 3">
                                    <a target="_blank" href="https://api.whatsapp.com/send?phone=+91{{allMembers.MobileNo}}&amp;text=Dear+Sir/Mam,+Please+download+NCP+Youth+Mobile+App+from+Play+Store/App+Store+and+get+connected+with+Natonalist+Youth+Congress.+Android+Link+-+https://play.google.com/store/apps/details?id=com.develop.ncp_youth,+iOS+Link+-+https://apps.apple.com/in/app/ncp-youth/id1581373014">
                                        <img [appTooltip] title="Send Link" src="assets\images\dashboard-images\whatsapp.svg"></a>
                                   </div>
                                </div>
                                <div *ngIf="allMembers?.Version_Status==1">-</div>
                            </td>

                            <td>
                                <div *ngIf="allMembers?.UserStatus == 2">
                                    <span class="badge bg-danger">Non Active</span>
                                </div>
                                <div *ngIf="allMembers?.UserStatus == 1"> <span class="badge bg-success">Active</span>
                                </div>
                            </td>
                            <!-- <td>
                            <span [appTooltip] title="{{allMembers?.UserStatus == 1 ? 'Member Active' : 'Member InActive'}}">
                                <ng-container *ngIf="allMembers.UserStatus == 0"><i class="fas  fa-times-circle text-danger"></i></ng-container>
                                <ng-container *ngIf="allMembers.UserStatus != 0"><i class="fas fa-shield-alt text-success"></i></ng-container>
                            </span>
                            </td> -->
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-light text-edit rounded me-2" [disabled]="allMembers.IsUserBlock == 1" title="Edit Member" (click)="addEditMember('Update',allMembers?.MemberId)" title="Edit Member"><i class="fas fa-pen"></i></button>
                                    <!-- <button class="btn btn-sm btn-light text-danger mx-1 rounded" title="Delete Member"><i class="fas fa-trash-alt"></i></button> -->
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" (change)="blockUnblockUserModal(allMembers.IsUserBlock,allMembers?.MemberId)" [checked]="allMembers?.IsUserBlock == 0" type="checkbox" id="flexSwitchCheckDefault">
                                      </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="resultAllViewMembers?.length == 0">
                            <td colspan="9">
                                <div class="alert alert-danger text-center py-2">No Member Assigned..!</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
                <div class="text-end">
                    <div class="mt-2" *ngIf="resultAllViewMembers?.length != 0">
                        <!-- <pagination-controls previousLabel="" nextLabel="" (pageChange)="pageSize = $event" (click)="onClickPagintion(pageSize)"> </pagination-controls> -->
                        <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
