.main-content {
    margin-left: 69px;
}

#pageheader {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    /* box-shadow: 1px 1px 4px #dfdfdf; */
    padding: 5px 10px;
}

#pageheader span {
    line-height: 34px;
}

#pageheader .page-name {
    font-weight: 600;
    color: var(--main-color);
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#pageheader .form-control,
#pageheader .form-select {
    font-size: 0.85rem;
    box-shadow: none !important;
    outline: none !important;
}

.chartbox .card {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #dfdfdf;
}

.chartbox .card .card-header {
    background-color: transparent;
    border-bottom: none;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 34px;
    font-weight: 600;
}

.chartbox .card .card-header a {
    color: var(--main-color);
    margin-left: 5px;
}

.chartbox .card .card-header .form-control,
.chartbox .card .card-header .form-select {
    font-size: 0.85rem;
    box-shadow: none;
}

.chartbox .activity-item {
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 0.85rem;
    transition: all .25s ease-in;
    display: block;
    text-decoration: none;
    color: #000;
}

.chartbox .bg-high:hover {
    background-color: #dbffd2;
    transition: all .25s ease-in;
    /* box-shadow: 0px 0px 4px 3px #eee; */
    color: rgb(0, 146, 0);
}

.chartbox .bg-low:hover {
    background-color: #ffdfdf;
    transition: all .25s ease-in;
    /* box-shadow: 0px 0px 4px 3px #eee; */
    color: rgb(146, 0, 0);
}