.client-photo{
    border-radius: 10px;
    width: 200px;
    height:200px;
    object-fit: cover;
    object-position:center;
    margin-bottom: 10px;
}

.client-info p{
    font-size: .85rem;
    color: #353535;
}
.client-info i{
    background-color: #eee;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.client-stats{
    text-align: center;
}
.client-stats h1{
    font-weight: 600;
    color: #888;
}
.client-stats p{
    font-size: .85rem;
}
.candidate-photo{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px #aaa;
  }