<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">Assign Agents to Booths
            </span>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Assign Agent to Booth</div>
                <div class="card-body">
                    <div class="form-container">
                        <form [formGroup]="assAgentToBoothForm" (ngSubmit)="onSubmitAssAgentToBoothForm()">

                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label class="form-label required-field">Select Client</label>
                                    <ngx-select [ngClass]="{ 'is-invalid': aAsubmitted && a.ClientId.errors }"
                                        [allowClear]="true" [items]="clientNameArray" formControlName="ClientId"
                                        (select)=" getClientAgentListddl();clearAggentToBooth('agentName')"
                                        optionValueField="id" optionTextField="Fullname" placeholder="Select Client"
                                        (remove)="clearAggentToBooth('clientName')">
                                    </ngx-select>
                                    <div *ngIf="aAsubmitted && a.ClientId.errors" class="invalid-feedback">
                                        <div *ngIf="a.ClientId.errors.required">Client is required</div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label class="form-label required-field">Select Agent</label>
                                    <ngx-select [allowClear]="true" [items]="ClientAgentListddl"
                                        formControlName="UserId" optionValueField="AgentId"
                                        [disabled]="!this.assAgentToBoothForm.value.ClientId" optionTextField="FullName"
                                        class="w-75" (select)="getElectionName()" placeholder="Select Agent"
                                        (remove)="clearAggentToBooth('agentName')"
                                        [ngClass]="{ 'is-invalid': aAsubmitted && a.UserId.errors}">
                                    </ngx-select>
                                    <div *ngIf="aAsubmitted && a.UserId.errors" class="invalid-feedback">
                                        <div *ngIf="a.UserId.errors.required">Agent is required</div>
                                    </div>
                                    <div class="text-end">
                                        <button type="button" [disabled]="!this.assAgentToBoothForm.value.ClientId"
                                            class="btn btn-link btn-sm" (click)="Client_AgentList()"
                                            data-bs-toggle="modal" data-bs-target="#AddAgentsToBoothModal">
                                            Add Agents</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label class="form-label required-field">Select Election</label>
                                    <!-- <div class="form-check" *ngFor="let elections of electionNameArray">
                                            <input class="form-check-input" type="checkbox"  (change)="getConstituencyName($event,elections.ElectionId)">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{elections.ElectionName}}
                                            </label> 
                                        </div> -->
                                    <ngx-select [allowClear]="true" [items]="electionNameArray"
                                        [disabled]="!this.assAgentToBoothForm.value.UserId"
                                        (select)="getConstituencyName();clearAggentToBooth('constituencyName')"
                                        (remove)="clearAggentToBooth('electionName')" formControlName="ElectionId"
                                        optionValueField="ElectionId" optionTextField="ElectionName"
                                        placeholder="Select Election"
                                        [ngClass]="{ 'is-invalid': aAsubmitted && a.ElectionId.errors}">
                                    </ngx-select>
                                    <div *ngIf="aAsubmitted && a.ElectionId.errors" class="invalid-feedback">
                                        <div *ngIf="a.ElectionId.errors.required">Election is required</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label required-field">Select Constituency</label>
                                    <!-- <div class="form-check" *ngFor="let constituency of constituencyNameArray">
                                            <input class="form-check-input" type="checkbox"  (change)="getAssemblyName($event,constituency.ConstituencyId)">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{constituency.ConstituencyName}}
                                            </label> 
                                        </div> -->
                                    <ngx-select [allowClear]="true" [items]="constituencyNameArray"
                                        [disabled]="!this.assAgentToBoothForm.value.ElectionId"
                                        (select)="getAssemblyName()" (remove)="clearAggentToBooth('constituencyName')"
                                        formControlName="ConstituencyId" optionValueField="ConstituencyId"
                                        optionTextField="ConstituencyName" placeholder="Select Constituency"
                                        [ngClass]="{ 'is-invalid': aAsubmitted && a.ConstituencyId.errors}">
                                    </ngx-select>
                                    <div *ngIf="aAsubmitted && a.ConstituencyId.errors" class="invalid-feedback">
                                        <div *ngIf="a.ConstituencyId.errors.required">Constituency is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <label for="txtSearchAssembly" class="form-label required-field">Assembly</label>
                                    <div class="card border shadow-none">
                                        <div class="card-header border-bottom p-0 py-1">
                                            <input type="text" formControlName="AssemblyId" [(ngModel)]="searchAssembly"
                                                placeholder="Search Assemblies"
                                                class="form-control form-control-sm border-0"
                                                [ngClass]="{ 'is-invalid': aAsubmitted && a.AssemblyId.errors}">
                                        </div>
                                        <div class="card-body py-2 checkBox"
                                            *ngIf="( assemblyArray | filter:searchAssembly ) as assemblyResult">
                                            <div class="form-check" *ngFor="let assemblyData of assemblyResult">
                                                <input class="form-check-input" type="checkbox"
                                                    [checked]="assemblyData.checked"
                                                    (change)="onCheckChangeAssembly($event, assemblyData.Id)">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    {{assemblyData.ConstituencyName}}
                                                </label>
                                            </div>
                                            <div *ngIf="assemblyResult.length === 0">
                                                <div class="alert alert-danger text-center py-2 mb-0">No Data Found..!
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="submitted && f.assembly.errors" class="invalid-feedback">
                                        <div *ngIf="f.assembly.errors.required">Assembly is required</div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div>
                                        <label for="txtSearchBooth" class="form-label required-field">Booth</label>
                                        <div class="card border shadow-none">
                                            <div class="card-header border-bottom p-0 py-1">
                                                <input type="text" formControlName="boothId" placeholder="Search Booths"
                                                    [(ngModel)]="searchboothList"
                                                    class="form-control border-0 form-control-sm"
                                                    [ngClass]="{ 'is-invalid': submitted && f.boothList.errors}">
                                            </div>
                                            <div class="card-body py-2 checkBox"
                                                *ngIf="( boothListMergeArray | filter:searchboothList ) as boothResult">
                                                <div class="form-check" *ngFor="let boothData of boothResult">
                                                    <input class="form-check-input" type="checkbox"
                                                        [checked]="boothData.checked"
                                                        (change)="onCheckChangeBooths($event,boothData.BoothId,boothData.ConstituencyId,boothData.AssemblyId,boothData.ElectionId)">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        {{boothData.BoothNickName}}
                                                    </label>
                                                </div>
                                                <div *ngIf="boothResult.length === 0">
                                                    <div class="alert alert-danger text-center py-2 mb-0">No Data
                                                        Found..!</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-secondary btn-sm">Clear</button>
                                </div>
                                <div class="col-sm-9 text-end">
                                    <button type="submit" class="btn btn-main btn-sm">{{btnText}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <form [formGroup]="filterForm">
                        <div class="row g-2">
                            <div class="offset-2 col-sm-5">
                                <ngx-select [allowClear]="true" [items]="clientNameArray" optionValueField="id"
                                    (remove)="clearFilter('clientName')" (select)="filterData()"
                                    optionTextField="Fullname" placeholder="Select Client" formControlName="ClientId">
                                </ngx-select>

                            </div>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="Search"
                                        placeholder="Search..." (keyup)="onKeyUpFilter()" />
                                    <button type="button" class="btn btn-light border btn-sm"
                                        (click)="clearFilter('search')" *ngIf="filterForm.value.Search"><i
                                            _ngcontent-tbl-c102="" class="fas fa-times"></i></button>
                                    <button type="button" *ngIf="!filterForm.value.Search"
                                        class="btn btn-sm border btn-light"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Agent</th>
                                <th>Assigned Booths</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let clientABooths of clientAgentWithBoothArray | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index"
                                [class.active]="clientABooths.HeaderId == HighlightRow">
                                <td>{{clientABooths.SrNo}}</td>
                                <td>{{clientABooths.FullName}}
                                    <p class="mb-0 text-muted">{{clientABooths.MobileNo}}</p>
                                </td>
                                <td>
                                    <a  data-bs-toggle="modal" data-bs-target="#ShowBoothsModal"
                                        (click)="assignedBoothModel(clientABooths)">
                                        {{clientABooths.TotalBooths}}
                                    </a>
                                    <!-- <ul class="mb-0 ps-3 list-column">
                                        <li *ngFor="let clientAbooth of clientABooths.BoothsAssigned.split(',')">
                                            {{clientAbooth}}</li>
                                    </ul> -->
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-light text-dark rounded" title="Add Client"
                                            data-bs-toggle="modal" data-bs-target="#AddAgentsToBoothModal">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button type="button" class="btn btn-light text-edit rounded mx-1"
                                            (click)="patchAssBoothElection(clientABooths.HeaderId)" title="Edit Client">
                                            <i class="fas fa-pen"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-light text-main rounded fw-bold"
                                            title="Remove Client"
                                            [ngClass]="{'text-danger':clientABooths?.Isblock == 0 , 'text-main' :clientABooths?.Isblock == 1}"
                                            [disabled]="clientABooths?.Isblock == 0 ? true :false"
                                            data-bs-toggle="modal" data-bs-target="#agentBlock"
                                            (click)="ClientId = clientABooths.ClientId; userId = clientABooths.UserId">
                                            {{clientABooths?.Isblock == 0 ? 'Blocked' : 'Active'}}
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <div *ngIf="clientAgentWithBoothArray?.length == 0">
                                        <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2 text-end" *ngIf="clientAgentWithBoothArray?.length != 0">
                        <pagination-controls previousLabel="" nextLabel=""
                            (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal to add agents to booth -->
<div class="modal fade" id="AddAgentsToBoothModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="AddAgentsToBoothModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="assignAgentForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddAgentsToBoothModalLabel">Add Agent</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body chartbox">
                    <div class="form-container">

                        <div class="row mb-3 g-2">
                            <div class="col-sm-4">
                                <label class="form-label required-field">First Name</label>
                                <input type="text" class="form-control" formControlName="FName" placeholder="First Name"
                                    [ngClass]="{ 'is-invalid': submitted && f.FName.errors }">
                                <div *ngIf="submitted && f.FName.errors" class="invalid-feedback">
                                    <div *ngIf="f.FName.errors.required">First name is required
                                    </div>
                                    <div *ngIf="f.FName.errors.pattern">First name can not contain space</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="txtFullName" class="form-label required-field">Middle Name</label>
                                <input type="text" class="form-control" formControlName="MName"
                                    placeholder="Middle Name" [ngClass]="{ 'is-invalid': submitted && f.MName.errors }">
                                <div *ngIf="submitted && f.MName.errors" class="invalid-feedback">
                                    <div *ngIf="f.MName.errors.required">Middle name is required
                                    </div>
                                    <div *ngIf="f.MName.errors.pattern">Middle name can not contain space</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="txtFullName" class="form-label required-field">Last Name</label>
                                <input type="text" class="form-control" formControlName="LName" placeholder="Last Name"
                                    [ngClass]="{ 'is-invalid': submitted && f.LName.errors }">
                                <div *ngIf="submitted && f.LName.errors" class="invalid-feedback">
                                    <div *ngIf="f.LName.errors.required">Last name is required
                                    </div>
                                    <div *ngIf="f.LName.errors.pattern">Last name can not contain space</div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <label for="txtContactNo" class="form-label required-field">Contact No.</label>
                                <input type="text" class="form-control" id="txtContactNo1" maxlength="10"
                                    formControlName="MobileNo" placeholder="Contact No."
                                    [ngClass]="{ 'is-invalid': submitted && f.MobileNo.errors }">
                                <div *ngIf="submitted && f.MobileNo.errors" class="invalid-feedback">
                                    <div *ngIf="f.MobileNo.errors.required">Contact No. is required</div>
                                    <div *ngIf="f.MobileNo.errors.pattern">Please, Enter 10 digit Mobile Number.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Address1" class="form-label required-field">Address</label>
                            <textarea class="form-control" id="txtAddress" formControlName="Address"
                                placeholder="Address"
                                [ngClass]="{ 'is-invalid': submitted && f.Address.errors }"></textarea>
                            <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                                <div *ngIf="f.Address.errors.required">Address is required</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="IsMemberAddAllow"
                                    value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Allow Sub Member
                                </label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-outline-secondary btn-sm"
                                    (click)="clearAggentForm()">Clear</button>
                            </div>
                            <div class="col-sm-6 text-end">
                                <button type="button" class="btn btn-primary btn-main btn-sm"
                                    (click)="insertBoothAgent()">{{btnText}}</button>
                            </div>
                        </div>
                        <div class="mb-0" *ngIf="clientAgentListFlag">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Agent Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let agentList of getAllClientAgentList">
                                        <td>{{agentList.SrNo}}</td>
                                        <td>{{agentList.FullName}}<small>{{agentList?.MobileNo}}</small></td>
                                        <td>
                                            <button type="button" class="btn btn-light text-edit btn-sm me-1"><i
                                                    class="fas fa-pen"></i></button>
                                            <button type="button" class="btn btn-light text-danger btn-sm"
                                                (click)="blockUser(agentList.ClientId,agentList.UserId)"><i
                                                    class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div *ngIf="getAllClientAgentList.length == 0">
                                                <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal to show boots of agents assigned -->
<div class="modal fade" id="ShowBoothsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ShowBoothsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ShowBoothsModalLabel">Show Booths</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-container">
                    <div class="mb-2">
                        <label class="form-label">Agent Details</label>
                        <div class="form-data">
                            <p class="mb-0 fw-bold">{{assBoothObjData?.FullName}} <span
                                    class="small text-muted">[{{assBoothObjData?.MobileNo}}]</span></p>
                        </div>
                    </div>
                </div>
                <div class="mb-0">
                    <label class="form-label">Booths Assigned</label>
                    <div class="form-data">
                        <ul class="mb-0 ps-3 list-column">
                            <li class="ng-star-inserted"
                                *ngFor="let boothsAssi of assBoothObjData?.BoothsAssigned.split(',')">
                                {{boothsAssi}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Agent block -->
<div class="modal fade" id="agentBlock" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="agentBlockLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agentBlockLabel">User Block</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body chartbox text-center">
                <i class="far fa-question-circle fa-5x text-success mb-3"></i>
                <h5 class="mb-3">Do you really want to block this user?</h5>
                <button type="button" class="btn btn-sm btn-secondary me-2 px-4" data-bs-dismiss="modal"
                    aria-label="Close">No</button>
                <button (click)="blockUser(userId,ClientId)" type="button" class="btn btn-sm btn-main px-4">Yes</button>
            </div>
        </div>
    </div>
</div>