<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Party Program Master
                </span>
            </div>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">{{programTitle}} Program</div>
                <div class="card-body pt-0 form-container">
                    <form [formGroup]="createProgram" (ngSubmit)="onSubmitProgramForm()">
                        <div class="mb-3">
                            <label for="txtProgramTitle" class="form-label">Program Title <span
                                    class="text-danger">*</span> </label>
                            <input type="text" class="form-control" formControlName="ProgramTitle" placeholder="Program Title" [ngClass]="{ 'is-invalid': submitted && f.ProgramTitle.errors }" />
                            <div *ngIf="submitted && f.ProgramTitle.errors" class="invalid-feedback">
                                <div *ngIf="f.ProgramTitle.errors.required">Program title is required</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="txtProgramDescription" class="form-label">Program Description <span
                                    class="text-danger">*</span> </label>
                            <textarea rows="5" class="form-control" formControlName="ProgramDescription" placeholder="Program Description" [ngClass]="{ 'is-invalid': submitted && f.ProgramDescription.errors }"></textarea>
                            <div *ngIf="submitted && f.ProgramDescription.errors" class="invalid-feedback">
                                <div *ngIf="f.ProgramDescription.errors.required">Program Description is required</div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="txtProgramDuration" class="form-label">Program Duration <span
                                    class="text-danger">*</span> </label>
                            <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="ProgramStartDate" class="form-control input-group-addon" placeholder="From Date" [min]="minDate" [ngClass]="{ 'is-invalid': submitted && f.ProgramStartDate.errors }" />
                            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                            <div *ngIf="submitted && f.ProgramStartDate.errors" class="invalid-feedback">
                                <div *ngIf="f.ProgramStartDate.errors.required">Program date is required</div>
                            </div>
                            <!-- <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" class="form-control input-group-addon mt-2"
                       placeholder="To Date" [min]="minDate" />
                        <owl-date-time #dt2 [pickerType]="'calendar'" ></owl-date-time> -->

                        </div>
                        <!-- <div class="mb-2">
                        <label for="txtProgramDuration" class="form-label"> <span class="text-danger">*</span> </label>
                        <input type="text" class="form-control" id="txtProgramDuration" placeholder="To Date" />
                    </div> -->
                        <!-- <div class="mb-2">
                        <label for="ddlProgramLevel" class="form-label">Program Level <span class="text-danger">*</span> </label>
                        <ngx-select [allowClear]="true" [items]="items" placeholder="Select Program Level">
                        </ngx-select>
                    </div>
                    <div class="mb-2">
                        <label for="ddlState" class="form-label">Select State <span class="text-danger">*</span> </label>
                        <ngx-select [allowClear]="true" [items]="items" placeholder="Select State">
                        </ngx-select>
                    </div> -->
                        <!-- <div class="mb-3">
                        <label for="ddlDistrict" class="form-label">Select District <span class="text-danger">*</span> </label>
                        <ngx-select [allowClear]="true" [items]="items" placeholder="Select District">
                        </ngx-select>
                    </div> -->
                        <!-- <div class="mb-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rblArea" id="rblAreaRural" value="Rural">
                            <label class="form-check-label" for="rblAreaRural">Rural</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rblArea" id="rblAreaUrban" value="Urban">
                            <label class="form-check-label" for="rblAreaUrban">Urban</label>
                          </div>
                    </div>
                    <div class="mb-2">
                        <label for="ddlTaluka" class="form-label">Select Taluka <span class="text-danger">*</span> </label>
                        <ngx-select [allowClear]="true" [items]="items" placeholder="Select Taluka">
                        </ngx-select>
                    </div>
                    <div class="mb-3">
                        <label for="ddlCityVillage" class="form-label">Select City/Village <span class="text-danger">*</span> </label>
                        <ngx-select [allowClear]="true" [items]="items" placeholder="Select City/Village">
                        </ngx-select>
                    </div> -->
                        <div class="mb-2">
                            <button type="button" class="btn btn-secondary btn-sm" (click)="clearForm()">Clear</button>
                            <span class="float-end">
                                <button type="submit" class="btn btn-main btn-sm">{{programTitle}} Party Program</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">
                    <form [formGroup]="topFilter">
                        <div class="row g-2 ">
                            <div class="col-sm-3 offset-sm-6">
                                <ngx-select [allowClear]="true" (remove)="removeProgram()" (select)="selprogramStatus($event)" [items]="programStatusArray" optionValueField="id" optionTextField="programStatus" placeholder="Select Program Status">
                                </ngx-select>
                                <!-- <select class="form-control" (change)="selprogramStatus($event)">
                                    <option disabled selected>Select status</option>
                                <option   *ngFor="let programStatus of programStatusArray" [value]="programStatus.id" > 
                                    [ngClass]="{'bg-success':programStatus.id == 1, 'bg-warning': programStatus.id == 2, 'bg-info':programStatus.id == 3, 'bg-danger':programStatus.id ==  4}"
                                    {{programStatus.programStatus}}
                                </option>
                           </select> -->
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input [owlDateTime]="dt3" formControlName="fromTo" [selectMode]="'range'" (dateTimeChange)="selDateRangeByFilter(this.topFilter.value.fromTo)" class="form-control" [owlDateTimeTrigger]="dt3" placeholder="Select date range">
                                    <button class="btn btn-light border btn-sm" type="button" [owlDateTimeTrigger]="dt3" *ngIf="!defaultCloseBtn">
                                        <i class="fas fa-calendar-alt"></i></button>
                                    <button class="btn btn-light border btn-sm" type="button" *ngIf="defaultCloseBtn" (click)="clearValue()">
                                        <i class="fas fa-times"></i></button>
                                </div>
                                <owl-date-time #dt3 [pickerType]="'calendar'"></owl-date-time>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No. </th>
                                <th>Program Title</th>
                                <!-- <th>District</th> -->
                                <th>Program Duration</th>
                                <th>Status</th>
                                <th>Actions</th>
                                <th>End Program</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let programList of resultProgramList  | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total  }" [class.active]="programList.Id == HighlightRow">
                                <td>{{programList.SrNo}}</td>
                                <!-- class="text-ellipsis-250px" <td><a routerLink="../../master/party-program/details">{{programList?.ProgramTitle}}</a></td> -->
                                <td><a (click)="partyProgramDetails(programList.Id,programList?.ProgramTitle,programList.ProgramStatus)" class="text-ellipsis-250px text-primary" title={{programList?.ProgramTitle}}>{{programList?.ProgramTitle | titlecase}}</a></td>
                                <!-- <td>{{programList?.ProgramDescription}}</td> -->
                                <td>
                                    {{programList?.ProgramStartDate}} ~ {{programList?.ProgramEndDate ? programList?.ProgramEndDate : 'NA'}}
                                </td>
                                <td>
                                    <span class="mb-0 h6">
                                        <span class="badge rounded-pill" [ngClass]="{'bg-success':programList.ProgramStatus == 1, 'bg-warning': programList.ProgramStatus == 2, 'bg-info':programList.ProgramStatus == 3, 'bg-danger':programList.ProgramStatus ==  4}">
                                          
                                            <ng-container class="bg-success" *ngIf="programList.ProgramStatus == 1">
                                                Upcomimg</ng-container>
                                            <ng-container class="bg-warning" *ngIf="programList.ProgramStatus == 2">
                                                Ongoing</ng-container>
                                            <ng-container class="bg-info" *ngIf="programList.ProgramStatus == 3">
                                                Completed</ng-container>
                                            <ng-container class="bg-danger" *ngIf="programList.ProgramStatus == 4">
                                                Cancelled</ng-container>
                                               
                                        </span>
                                    </span>
                                </td>

                                <td>
                                    <button class="btn btn-sm btn-light" title="View Program Details" (click)="ViewProgramList(programList)" data-bs-toggle="modal" data-bs-target="#ViewDetailsModal">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button class="btn btn-sm btn-light text-edit mx-2" title="Edit Program" [disabled]="(programList.ProgramStatus == 3 ||  programList.ProgramStatus == 4) ? disabledAction : ''" (click)="editrogramList(programList)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-sm btn-light text-danger" title="Cancel Program" [disabled]="programList.ProgramStatus == 2 || (programList.ProgramStatus == 3 ||  programList.ProgramStatus == 4) ? disabledAction : ''" data-bs-toggle="modal" data-bs-target="#ProgramStatusModal"
                                        (click)="ModalOpen('cancelProgram', programList)">
                                        <i class="fas fa-ban"></i>
                                    </button>
                                </td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" [disabled]="(programList.ProgramStatus == 3 ||  programList.ProgramStatus == 1 
                                        ||  programList.ProgramStatus == 4) ? disabledAction : ''" id="flexSwitchCheckChecked" data-bs-toggle="modal" 
                                        (click)="ModalOpen('EndProgram', programList)"
                                            data-bs-target="#ProgramStatusModal" [checked]="programList?.ProgramStatus == 1">
                                        <!-- ProgramStatus -->
                                        <!-- <label class="form-check-label" for="flexSwitchCheckChecked">End Program</label> -->
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="resultProgramList?.length==0">
                                <td colspan="6">
                                    <div class="alert alert-danger text-center py-2 ">No Data Found..!</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2 text-right float-lg-end" *ngIf="resultProgramList?.length != 0">
                        <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                        <!-- <pagination-controls previousLabel="" nextLabel="" (pageChange)="pageSize = $event" (click)="onClickPagintion(pageSize)"> </pagination-controls> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- View details modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ViewDetailsModal" tabindex="-1" aria-labelledby="ViewDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="ViewDetailsModalLabel">View Details</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="programDetails">
                <div class="form-container">
                    <div class="mb-3">
                        <label class="form-label">Program Title</label>
                        <p class="form-data">{{programDetails.ProgramTitle}}</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Program Description</label>
                        <p class="form-data">
                            {{programDetails.ProgramDescription}}
                        </p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Program Duration</label>
                        <p class="form-data"> {{programDetails?.ProgramStartDate}} ~ {{programDetails?.ProgramEndDate}}
                        </p>
                    </div>

                </div>
                <hr>
                <div class="float-end">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" (click)="clearForm()">Close</button>
                </div>
                <!-- <div class="float-end">
                    <button type="button" class="btn btn-warning btn-sm me-2" (click)="editrogramList(programDetails)" data-bs-dismiss="modal">Edit Program</button>
                    <button type="button" class="btn btn-danger btn-sm">Cancel Program</button>
                </div> -->
            </div>

        </div>
    </div>
</div>

<!-- Delete Confirmation modal pop up -->
<div class="modal fade" id="ProgramStatusModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ProgramStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-transparent border-bottom-0">
                <!-- <h5 class="modal-title" id="ProgramStatusModalLabel">Modal title</h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6"
                                stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                            <line class="path line" fill="none" stroke="#D06079" stroke-width="6"
                                stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8"
                                y2="92.3" />
                            <line class="path line" fill="none" stroke="#D06079" stroke-width="6"
                                stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4"
                                y2="92.2" />
                        </svg>
                <h3 class="my-3">Are You Sure?</h3>
                <p class="mb-4">Do you really want to {{modalStatusMsg}}? This process can not be undone.</p>
                <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="ModalOpenClose()">Cancel</button>
                <button class="btn btn-danger" type="button" (click)="programStatus(modalStatusMsg)" data-bs-dismiss="modal" aria-label="Close">I'm Sure</button>
            </div>
        </div>
    </div>
</div>