<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-3">
            <span class="page-name">View Booth Voters
            </span>
        </div>
        <div class="col-sm-9 text-end">
            <div class="row g-2">
                <div class="col-sm-3">
                    <select class="form-select">
                        <option value="">Select Candidate</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-select">
                        <option value="">Select Election</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-select">
                        <option value="">Select Constituency</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search..." />
                        <button class="btn btn-light btn-sm text-dark" type="button"><i
                                class="fas fa-times"></i></button>
                        <button class="btn btn-light btn-sm text-dark" type="button"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="dash-stats">
        <div class="col-sm-2">
            <div class="card card-body bg-cyan">
                <i class="fas fa-person-booth"></i>
                <p>Booths</p>
                <h3>567</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-green">
                <i class="fas fa-users"></i>
                <p>Voters</p>
                <h3>656775</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-blue">
                <i class="fas fa-house-user"></i>
                <p>Families</p>
                <h3>234</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-gold">
                <i class="fas fa-plane-departure"></i>
                <p>Migrated</p>
                <h3>237</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-red">
                <i class="fas fa-star-half-alt"></i>
                <p>Fill / Pending</p>
                <h3>3456 / 15442</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-voilet">
                <i class="fas fa-user-cog"></i>
                <p>Agents</p>
                <h3>345</h3>
            </div>
        </div>
    </div>


    <div class="row chartbox mb-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-booth1-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-booth1" type="button" role="tab" aria-controls="v-pills-booth1"
                                aria-selected="true">booth1</button>
                            <button class="nav-link" id="v-pills-booth2-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-booth2" type="button" role="tab"
                                aria-controls="v-pills-booth2" aria-selected="false">booth2</button>
                            <button class="nav-link" id="v-pills-booth3-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-booth3" type="button" role="tab"
                                aria-controls="v-pills-booth3" aria-selected="false">booth3</button>
                            <button class="nav-link" id="v-pills-booth4-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-booth4" type="button" role="tab"
                                aria-controls="v-pills-booth4" aria-selected="false">booth4</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-booth1" role="tabpanel"
                                aria-labelledby="v-pills-booth1-tab">booth1</div>
                            <div class="tab-pane fade" id="v-pills-booth2" role="tabpanel"
                                aria-labelledby="v-pills-booth2-tab">booth2</div>
                            <div class="tab-pane fade" id="v-pills-booth3" role="tabpanel"
                                aria-labelledby="v-pills-booth3-tab">booth3</div>
                            <div class="tab-pane fade" id="v-pills-booth4" role="tabpanel"
                                aria-labelledby="v-pills-booth4-tab">booth4</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal to show voters list -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Voters List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Voter Name</th>
                            <th>Voter ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Ravikumar Rajesh Wadekar</td>
                            <td>1234567</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>