#membername {
    font-size: 1.3rem;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: solid 2px #ddd;
    color: var(--main-color);
}

#profile-left .card-body {
    padding: 20px;
}

#profile-left .card .card-header {
    background-color: transparent;
    border-bottom: none;
    text-transform: uppercase !important;
    font-size: 0.85rem !important;
    font-weight: 600;
    border-bottom: none;
}

#profile-left .card-text {
    font-size: 0.95rem;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #565656;
}

#profile-left .list-group .list-group-item {
    font-size: 0.85rem;
}

#profile-left .list-group .list-group-item i {
    width: 30px;
}

#profile-left .card,
#profile-right .card {
    border-radius: 10px !important;
    border: none;
}

#profile-right .card-header {
    text-transform: uppercase !important;
    font-size: 0.85rem !important;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: transparent !important;
    border-bottom: none;
}

#profile-right #overview .card {
    border: solid 1px rgba(27, 21, 21, 0.125);
    text-align: center;
    border-top-width: 5px;
}

#profile-right #overview .card i {
    color: #aaa;
}

#profile-right #overview .card p {
    margin: 5px 0;
    font-size: 0.75rem;
}

#profile-right #overview .card a {
    width: 100%;
    border-radius: 2px;
    background-color: #f5f5f5;
    border-bottom: solid 3px #f5f5f5;
}

#profile-right #overview .card a:hover {
    border-bottom: solid 3px var(--main-color);
}

#profile-right #overview .card h3 {
    margin: 0;
    font-weight: 600;
    color: var(--main-color);
    font-size: 1.3rem;
}

agm-map {
    height: 490px;
}

.border-add {
    border-bottom: solid 3px #f5f5f5
}

.border-add.active {
    border-bottom: solid 3px var(--main-color)!important;
}

#ViewCommitteeDetailsModal .list-group .active{
    background-color:var(--main-color);
    color: #fff !important;

}
#ViewCommitteeDetailsModal .list-group .active i.text-success {
    color: #0f0 !important;
}

#ViewCommitteeDetailsModal .list-group .active i.text-danger {
    color: #f00 !important;
}

.item-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 3em auto 0;
    border-radius: 4px;
    width: 100%;
    max-width: 500px;
    padding: 10px 15px;
    text-align: justify;
  }
  .img-square{
      height: 83px;
      width: 100%;
      object-fit: color;
  }