<div class="container-fluid">
    <div class="row" id="membername">
        <div class="col-sm-11">
            {{programTile}}
        </div>
        <div class="col-sm-1 text-end">
            <button type="button" class="btn btn-sm btn-secondary" (click)="location.back()">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" id="profile-left">
            <div class="card form-container mb-3">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <label class="form-label">From</label>
                            <p class="form-data mb-0">{{(programDetailsArray?.ProgramStartDate) ? (programDetailsArray?.ProgramStartDate) : 'NA'}}</p>
                        </li>
                        <li class="list-group-item">
                            <label class="form-label">To</label>
                            <p class="form-data mb-0">{{(programDetailsArray?.ProgramEndDate) ? (programDetailsArray?.ProgramEndDate) : 'NA'}}</p>
                        </li>

                        <li class="list-group-item">
                            <label class="form-label">Description</label>
                            <p class="form-data mb-0">
                                {{programDetailsArray?.ProgramDescription}}
                            </p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="card" id="gallery">
                <div class="card-header">
                    Program Gallery
                </div>
                <div class="card-body">
                    <div class="row g-2">
                        <div class="col-sm-6" *ngFor="let img of programGalleryImg; index as i">
                            <!-- <button (click)="_lightbox.close(i)"> closed</button> -->
                            <img *ngIf="i<4" class="img-fluid img-thumbnail" [lightbox]="i" [src]="img?.data?.thumb" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-9" id="profile-right">
            <div class="card mb-3">
                <div class="card-header">
                    Overview
                </div>
                <div class="card-body">
                    <div class="row" id="overview">
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <i class="fas fa-users pb-2"></i>
                                <h6>Members</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a class="btn btn-light py-2 px-3 border-add" (click)=" paginationNo = 1; getMembersData(); ParticipantsText = 'Members'" [ngClass]="{'active':ParticipantsText == 'Members'}">
                                            <p class="small mb-1">Participants</p>
                                            <h3 class="mb-0">{{overviewArray?.ParticipatedMember}}</h3>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 p-2">
                                        <p class="small mb-1">Total Members</p>
                                        <h3 class="mb-0">{{overviewArray?.TotalMember}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <i class="fas fa-network-wired pb-2"></i>
                                <h6>Committees</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a class="btn btn-light py-2 px-3 border-add" (click)="paginationNo = 1; getCommitteesData();  ParticipantsText = 'Committees';" [ngClass]="{'active':ParticipantsText == 'Committees'}">
                                            <p class="small mb-1">Participated</p>
                                            <h3 class="mb-0">{{overviewArray?.TotalCommitteeParticipated}}</h3>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 p-2">
                                        <p class="small mb-1">Total Committees</p>
                                        <h3 class="mb-0">{{overviewArray?.TotalCommittee}}</h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <i class="fas fa-users pb-2"></i>
                                <h6>Non-Participant Committees</h6>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-light py-2 px-3 border-add" (click)="paginationNo = 1; getNonParticipantsData();  ParticipantsText = 'Non -';" [ngClass]="{'active':ParticipantsText == 'Non -'}">
                                            <p class="small mb-1">Non-Participated</p>
                                            <h3 class="mb-0">{{overviewArray?.NonParticipatedMember}}</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    {{ParticipantsText}} Participants
                </div>

                <!-- Member Table -->
                <div class="card-body chartbox" *ngIf="MemberTableDiv">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Sr. No.</th>
                                <th scope="col">Participants Name</th>
                                <th scope="col">Participation</th>
                                <th scope="col">Phone No</th>
                                <th scope="col">Designation</th>
                                <th scope="col">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let membersData of membersDataArray | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total  }">
                                <td>{{membersData.SrNo}}</td>
                                <td><a (click)="redToMemberProfile(membersData.MemberId,membersData.FullName)" class="text-primary">{{membersData.FullName}}</a></td>
                                <td>{{membersData.ActivityDate}} {{membersData.ActivityTime}}</td>
                                <td> <a href="tel:{{membersData.MobileNo}}">{{membersData.MobileNo}}</a></td>
                                <td>{{membersData.Designation}}</td>
                                <td>
                                    <!-- <button class="btn btn-sm btn-light" (click)="getPartyProgramDetails(membersData)" data-bs-toggle="modal" data-bs-target="#ViewDetailsModal"><i class="far fa-eye"></i></button> -->
                                    <button class="btn btn-sm btn-light" (click)="getPartyProgramDetails(membersData.ActivityId)" data-bs-toggle="modal" data-bs-target="#ViewDetailsModal"><i class="far fa-eye"></i></button>
                                </td>
                            </tr>
                            <tr *ngIf="membersDataArray?.length == 0">
                                <td colspan="6">
                                    <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2 text-right float-lg-end" *ngIf="membersDataArray?.length != 0">
                        <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event, defaultPartiNonParti)">
                        </pagination-controls>
                    </div>
                </div>


                <!-- Commity & Non Commity Table -->
                <div class="card-body chartbox" *ngIf="commityNonComityTableDiv">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Sr. No.</th>
                                <th scope="col">Committee Name</th>
                                <th scope="col">Mobile Number</th>
                                <th scope="col">District Name</th>
                                <th scope="col">Taluka Name</th>
                                <th scope="col">Head of Committee</th>
                                <th scope="col" *ngIf="ViewEyeModelHide">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let committeesData of commityNonComityArray | paginate: { itemsPerPage: 10, currentPage: paginationNo1, totalItems:total1  }">
                                <td>{{committeesData.SrNo}}</td>
                                <td><a class="text-primary" (click)="redirectOrgDetails(committeesData.Id,committeesData.BodyOrgCellName)">{{committeesData.BodyOrgCellName}}</a>
                                </td>
                                <td> <a href="tel:{{committeesData.CommitteeHeadMobile}}">{{committeesData.CommitteeHeadMobile}}</a></td>
                                <td>{{committeesData.districtName}}</td>
                                <td>{{committeesData.TalukaName}}</td>
                                <td>{{committeesData?.CommitteeHeadDetails}}</td>

                                <td *ngIf="ViewEyeModelHide">
                                    <button class="btn btn-sm btn-light" data-bs-toggle="modal" (click)="getCommitteeUserList(committeesData.Id,committeesData.BodyOrgCellName)" data-bs-target="#ViewCommitteeDetailsModal"><i class="far fa-eye"></i></button>
                                </td>
                            </tr>
                            <tr *ngIf="commityNonComityArray?.length == 0">
                                <td colspan="5">
                                    <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2 text-right float-lg-end" *ngIf="commityNonComityArray?.length != 0">
                        <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion1(pageSize = $event)"> </pagination-controls>
                    </div>
                </div>

                <div class="card-body border" *ngIf="ViewEyeModelHide">
                    <div class="mb-3" *ngIf="(membersDataArray?.length != 0 && commityNonComityArray?.length != 0); else NotFoundBlock">
                        <label class="form-label">Location</label>
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                            <agm-marker *ngFor="let latlongData of programDetailsLatLongArray" [latitude]="latlongData.latitude" [longitude]="latlongData.Longitude">

                                <agm-info-window>
                                    <table class="table table-bordered table-sm mb-0">
                                        <tbody>
                                            <tr>
                                                <td>Full Name :</td>
                                                <th>{{latlongData.FullName}}</th>
                                            </tr>
                                            <tr>
                                                <td>Mobile No :</td>
                                                <th>{{latlongData.MobileNo}}</th>
                                            </tr>
                                            <tr>
                                                <td>Program Tile :</td>
                                                <th>{{programTile}}</th>
                                            </tr>
                                            <tr>
                                                <td>Address :</td>
                                                <th style="max-width:250px;">{{latlongData.ActivityLocation}}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </agm-info-window>
                            </agm-marker>
                        </agm-map>
                    </div>

                    <ng-template #NotFoundBlock>
                        <div class="h-20 text-center">
                            <img src="../../../../assets/images/location-not-found.svg" class="img-h300">
                        </div>
                    </ng-template>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal for view participants  -->

<div class="modal fade" id="ViewDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ViewDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="ViewDetailsModalLabel">Details</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" *ngIf="resultBodyMemActDetails">
                    <div class="col-sm-6 form-container">
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label">#ID</label>
                                <div id="txtID" class="form-data">{{resultBodyMemActDetails.Id}}</div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Post Date</label>
                                <div id="txtPostDate" class="form-data">
                                    {{resultBodyMemActDetails.ActivityDate}}</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Members Name</label>
                            <div id="txtMembersName" class="form-data">
                                {{resultBodyMemActDetails.FullName}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4" *ngIf="resultBodyMemActDetails?.CategoryName">
                                <label class="form-label">Work Type</label>
                                <div id="txtWorkType" class="form-data">
                                    {{resultBodyMemActDetails.CategoryName}}
                                </div>
                            </div>
                            <div class="col-sm-4" *ngIf="resultBodyMemActDetails?.Title">
                                <label class="form-label">Title</label>
                                <div id="txtTitle" class="form-data">
                                    {{resultBodyMemActDetails.Title | titlecase}}
                                </div>
                            </div>
                            <div class="col-sm-4" *ngIf="resultBodyMemActDetails?.ProgramTitle">
                                <label class="form-label">Program</label>
                                <div id="txtProgram" class="form-data">
                                    {{resultBodyMemActDetails. ProgramTitle | titlecase}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="resultBodyMemActDetails?.Description">
                            <label class="form-label">Description</label>
                            <div id="txtDescription" class="form-data">
                                {{resultBodyMemActDetails.Description | titlecase}}
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="resultBodyMemActDetails?.Link">
                            <label class="form-label">Link URL</label>
                            <div class="form-data">
                                <a href="{{resultBodyMemActDetails.Link}}" target="_blank">
                                    {{resultBodyMemActDetails.Link}}
                                </a>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label class="form-label">Likes</label>
                                <p class="form-data text-primary">{{resultBodyMemActDetails.TotalLikes}}</p>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Comments</label>
                                <p class="form-data text-success">{{resultBodyMemActDetails.TotalComments}}</p>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Shares</label>
                                <p class="form-data text-info">{{resultBodyMemActDetails.TotalShares}}</p>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Abuses</label>
                                <p class="form-data text-danger">{{resultBodyMemActDetails.TotalAbuses}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 form-container">
                        <div class="mb-3" *ngIf="lat!='' && lng!=''; else NotFoundBlock">
                            <label class="form-label">Location</label>
                            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="'roadmap'">
                                <agm-marker [latitude]="lat" [longitude]="lng">
                                    <agm-info-window>
                                        <table class="table table-bordered table-sm mb-0">
                                            <tbody>
                                                <tr>
                                                    <td>Full Name :</td>
                                                    <th>{{resultBodyMemActDetails?.FullName}}</th>
                                                </tr>
                                                <tr>
                                                    <td>Mobile No :</td>
                                                    <th>{{resultBodyMemActDetails?.MobileNo}}</th>
                                                </tr>
                                                <tr>
                                                    <td>Program Tile :</td>
                                                    <th>{{programTile}}</th>
                                                </tr>
                                                <tr>
                                                    <td>Address :</td>
                                                    <th style="max-width:250px;">{{resultBodyMemActDetails.ActivityLocation}}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </agm-info-window>
                                </agm-marker>
                            </agm-map>
                        </div>

                        <ng-template #NotFoundBlock>
                            <div class="h-20 text-center">
                                <img src="../../../../assets/images/location-not-found.svg" class="img-h300">
                            </div>
                        </ng-template>

                    </div>
                    <div class="col-sm-12 form-container">
                        <div class="mb-3">
                            <label class="form-label">Photos</label>
                            <div class="row">
                                <!-- <div class="col-sm-2 mb-3"
                                    *ngFor="let img of resultBodyMemActDetails?.Images?.split(',')">
                                    <img src="{{img}}" class="img-thumbnail h-150">
                                </div> -->
                                <div class="col-sm-2 mb-3" *ngFor="let imgs1 of comUserdetImg; index as i1">
                                    <img [lightbox]="i1" [src]="imgs1?.data?.thumb" [title]="imgs1?.data?.title" [gallery]="'anotherLightbox'" class="img-thumbnail h-150">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal for committee participants details -->
<div class="modal fade" id="ViewCommitteeDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ViewCommitteeDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="ViewCommitteeDetailsModalLabel">{{committeeNmame}}</h6>
                <button type="button" (click)="closeModelCommitty()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3 border-end">
                        <div class="list-group list-group-flush" id="list-tab" role="tablist">
                            <a *ngFor="let CommitteeUser of CommitteeUserArray  | paginate:  { itemsPerPage: 10, currentPage: paginationNo2, totalItems:total2};
                             let i = index" (click)="committeeUserdetails(CommitteeUser.ActivityId)" class="list-group-item list-group-item-action  list-group-item d-flex justify-content-between align-items-start" id="list-home-list" data-bs-toggle="list"
                                href="#list-home" role="tab" aria-controls="list-home" [ngClass]="{'active' : CommitteeUser?.ActivityId == globalGroupId}">
                                <div class="me-auto">
                                    <div class="fw-bold">{{CommitteeUser.FullName}}</div>
                                    <small>{{CommitteeUser.Designation}}</small>
                                </div>
                                <i class="fas fa-thumbs-up text-success"></i>
                            </a>
                            <div class="mt-2 text-end" *ngIf="CommitteeUserArray?.length == 0">
                                <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                            </div>
                            <div class="mt-2 text-end" *ngIf="CommitteeUserArray?.length != 0">
                                <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion2(pageSize = $event)"> </pagination-controls>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="committeeModelDataDivHide">
                        <div class="col-sm-9">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                    <div class="form-container">
                                        <div class="mb-2">
                                            <div class="row border-bottom pb-1">
                                                <div class="col-sm-6">
                                                    <h6 class="mb-0"><span class="badge bg-success">Program Attended</span></h6>
                                                    <!-- <h6 class="mb-0"><span class="badge bg-danger">Program Not Attended</span></h6> -->
                                                </div>
                                                <div class="col-sm-6 text-muted text-end">
                                                    <i class="fas fa-calendar-alt me-2"></i> {{committeeUserdetailsArray?.ActivityDate}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Members Name</label>
                                            <p class="form-data mb-0">{{committeeUserdetailsArray?.FullName}}<span class="text-muted ms-2 small">+91-{{committeeUserdetailsArray?.MobileNo}}</span></p>
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Program Title</label>
                                            <p class="form-data mb-0">{{committeeUserdetailsArray?.ProgramTitle}}</p>
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label">Description</label>
                                            <p class="form-data mb-0">{{committeeUserdetailsArray?.ProgramDescription}}</p>
                                        </div>
                                        <div class="row mb-0">
                                            <div class="col-sm-3">
                                                <label class="form-label">Likes</label>
                                                <p class="form-data text-primary">{{committeeUserdetailsArray?.TotalLikes}}</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="form-label">Comments</label>
                                                <p class="form-data text-success">{{committeeUserdetailsArray?.TotalComments}}</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="form-label">Shares</label>
                                                <p class="form-data text-info">{{committeeUserdetailsArray?.TotalShares}}</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="form-label">Abuses</label>
                                                <p class="form-data text-danger">{{committeeUserdetailsArray?.TotalAbuses}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div *ngIf="activitiesDetailslat!='' && activitiesDetailslng!=''; else NotFoundBlock">
                                                    <label class="form-label">Location</label>
                                                    <agm-map [latitude]="activitiesDetailslat" [longitude]="activitiesDetailslng" [zoom]="zoom" [mapTypeId]="'roadmap'" style="height:220px">
                                                        <agm-marker [latitude]="activitiesDetailslat" [longitude]="activitiesDetailslng">
                                                            <agm-info-window>
                                                                <table class="table table-bordered table-sm mb-0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Full Name :</td>
                                                                            <th>{{committeeUserdetailsArray?.FullName}}</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Mobile No :</td>
                                                                            <th>{{committeeUserdetailsArray?.MobileNo}}</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Program Tile :</td>
                                                                            <th>{{programTile}}</th>
                                                                        </tr>
                                                                        <!-- <tr>
                                                                       <td>Address :</td>
                                                                       <th style="max-width:250px;">{{latlongData.ActivityLocation}}</th>
                                                                   </tr> -->
                                                                    </tbody>
                                                                </table>
                                                            </agm-info-window>
                                                        </agm-marker>
                                                    </agm-map>
                                                </div>

                                                <ng-template #NotFoundBlock>
                                                    <div class="h-20 text-center">
                                                        <img src="../../../../assets/images/location-not-found.svg" class="img-h300">
                                                    </div>
                                                </ng-template>

                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label">Photos</label>
                                                <div class="row g-2">
                                                    <div class="col-sm-3 mb-3" *ngFor="let imgs of comUserdetImg; index as i2">
                                                        <img [lightbox]="i2" [gallery]="'anotherLightbox'" [src]="imgs?.data?.thumb" class="img-thumbnail img-square">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                    2
                                </div>
                                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                                    3
                                </div>
                                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                                    4
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</div>