<div class="container-fluid">
    <div class="row" id="membername">
        <div class="col-sm-6">
            Indhan vadi viruddha Andholan
        </div>
        <div class="col-sm-6 text-end">
            <button type="button" class="btn btn-sm btn-secondary" (click)="location.back()">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" id="profile-left">
            <div class="card form-container mb-3">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <label class="form-label">From</label>
                            <p class="form-data mb-0">{{programDetailsArray?.ProgramStartDate | date:'dd-MM-yyyy hh:mm a'}}</p>
                        </li>
                        <li class="list-group-item">
                            <label class="form-label">To</label>
                            <p class="form-data mb-0">{{programDetailsArray?.ProgramEndDate | date:'dd-MM-yyyy hh:mm a'}}</p>  
                        </li>
                       
                        <li class="list-group-item">
                            <label class="form-label">Description</label>
                            <p class="form-data mb-0">
                             {{programDetailsArray?.ProgramDescription}}
                            </p>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Program Gallery
                </div>
                <div class="card-body">
                    <div class="row g-2">
                        <div class="col-sm-6">
                            <img src="assets/images/error.jpg" class="img-fluid img-thumbnail" />
                        </div>
                        <div class="col-sm-6">
                            <img src="assets/images/error.jpg" class="img-fluid img-thumbnail" />
                        </div>
                        <div class="col-sm-6">
                            <img src="assets/images/error.jpg" class="img-fluid img-thumbnail" />
                        </div>
                        <div class="col-sm-6">
                            <img src="assets/images/error.jpg" class="img-fluid img-thumbnail" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-9" id="profile-right">
            <div class="card mb-3">
                <div class="card-header">
                    Overview
                </div>
                <div class="card-body">
                    <div class="row" id="overview">
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <i class="fas fa-users pb-2"></i>
                                <h5>Members</h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-light py-2 px-3">
                                            <p class="small mb-1">Participants</p>
                                            <h3 class="mb-0">{{overviewArray?.ParticipatedMember}}</h3>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 p-2">
                                        <p class="small mb-1">Total Members</p>
                                        <h3 class="mb-0">{{overviewArray?.TotalMember}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <i class="fas fa-network-wired pb-2"></i>
                                <h5>Committees</h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-light py-2 px-3">
                                            <p class="small mb-1">Participated</p>
                                            <h3 class="mb-0">{{overviewArray?.TotalCommitteeParticipated}}</h3>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 p-2">
                                        <p class="small mb-1">Total Committees</p>
                                        <h3 class="mb-0">{{overviewArray?.TotalCommittee}}</h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <i class="fas fa-users pb-2"></i>
                                <h5>Non-Participants</h5>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="#" class="btn btn-light py-2 px-3">
                                            <p class="small mb-1">Non-Participated</p>
                                            <h3 class="mb-0">{{overviewArray?.NonParticipatedMember}}</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    Actual Participants
                </div>
                <div class="card-body chartbox">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Participants Name</th>
                                <th scope="col">Phone No</th>
                                <th scope="col">Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a routerLink="../../members/member-profile">Anil Kambale</a></td>
                                <td>+91-9876543210</td>
                                <td>Youth Member</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a routerLink="../../members/member-profile">Anil Kambale</a></td>
                                <td>+91-9876543210</td>
                                <td>Youth Member</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a routerLink="../../members/member-profile">Anil Kambale</a></td>
                                <td>+91-9876543210</td>
                                <td>Youth Member</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a routerLink="../../members/member-profile">Anil Kambale</a></td>
                                <td>+91-9876543210</td>
                                <td>Youth Member</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><a routerLink="../../members/member-profile">Anil Kambale</a></td>
                                <td>+91-9876543210</td>
                                <td>Youth Member</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="card-body border">
                        Chart : actual members in this region against participients
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>