<div class="container-fluid">
    <div class="row" id="membername">
        <div class="col-sm-11">
            {{programTile}}
        </div>
        <div class="col-sm-1 text-end">
            <button type="button" class="btn btn-sm btn-secondary" (click)="location.back()">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" id="profile-left">
            <div class="card form-container mb-3">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <label class="form-label">From</label>
                            <p class="form-data mb-0">{{(programDetailsArray?.ProgramStartDate) ? (programDetailsArray?.ProgramStartDate) : 'NA'}}</p>
                        </li>
                        <li class="list-group-item">
                            <label class="form-label">To</label>
                            <p class="form-data mb-0">{{(programDetailsArray?.ProgramEndDate) ? (programDetailsArray?.ProgramEndDate) : 'NA'}}</p>
                        </li>

                        <li class="list-group-item">
                            <label class="form-label">Description</label>
                            <p class="form-data mb-0">
                                {{programDetailsArray?.ProgramDescription}}
                            </p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="card" id="gallery">
                <div class="card-header">
                    Program Gallery
                </div>
                <div class="card-body">
                    <div class="row g-2">
                        <div class="col-sm-6" *ngFor="let img of programGalleryImg; index as i">
                            <img *ngIf="i<4" class="img-fluid img-thumbnail" [lightbox]="i" [src]="img?.data?.thumb" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-9" id="profile-right">
            <div class="card mb-3">
                <div class="card-header">
                    Overview
                </div>
                <div class="card-body">
                    <div class="row" id="overview">
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <i class="fas fa-users pb-2"></i>
                                <h6>Members</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a class="btn btn-light py-2 px-3 border-add" (click)=" paginationNo = 1; getMembersData(); ParticipantsText = 'Members'" [ngClass]="{'active':ParticipantsText == 'Members'}">
                                            <p class="small mb-1">Participants</p>
                                            <h3 class="mb-0">{{overviewArray?.ParticipatedMember}}</h3>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 p-2">
                                        <p class="small mb-1">Total Members</p>
                                        <h3 class="mb-0">{{overviewArray?.TotalMember}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <i class="fas fa-network-wired pb-2"></i>
                                <h6>Committees</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a class="btn btn-light py-2 px-3 border-add" (click)="paginationNo = 1; getCommitteesData(); ParticipantsText = 'Committees'" [ngClass]="{'active':ParticipantsText == 'Committees'}">
                                            <p class="small mb-1">Participated</p>
                                            <h3 class="mb-0">{{overviewArray?.TotalCommitteeParticipated}}</h3>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 p-2">
                                        <p class="small mb-1">Total Committees</p>
                                        <h3 class="mb-0">{{overviewArray?.TotalCommittee}}</h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <i class="fas fa-users pb-2"></i>
                                <h6>Non-Participants</h6>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-light py-2 px-3 border-add" (click)="paginationNo = 1; getNonParticipantsData();   ParticipantsText = 'Non -'" [ngClass]="{'active':ParticipantsText == 'Non -'}">
                                            <p class="small mb-1">Non-Participated</p>
                                            <h3 class="mb-0">{{overviewArray?.NonParticipatedMember}}</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    {{ParticipantsText}} Participants
                </div>

                <div class="card-body chartbox" *ngIf="membersAndNonParticipantsDiv">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Sr. No.</th>
                                <th scope="col">Participants Name</th>
                                <th scope="col">Phone No</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Photos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let membersData of membersDataNonParticipantsArray | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total  }">
                                <td>{{membersData.SrNo}}</td>
                                <td><a (click)="redToMemberProfile(membersData.MemberId, membersData.FullName)" class="text-ellipsis-250px text-primary">{{membersData.FullName}}</a></td>
                                <td> <a href="tel:{{membersData.MobileNo}}">{{membersData.MobileNo}}</a></td>
                                <td>{{membersData.Designation}}</td>
                                <td>
                                  <!-- <ng-container *ngFor="let img of ParpantsProMemImge; let i = index"  >
                                        <img *ngIf="i<1"  [lightbox]="i" [src]="img?.data?.thumb" />
                                
                                    </ng-container> -->
                                    <img [src]="membersData.ImagePath" [lightbox]="membersData.MemberId" (click)="showLightBox(membersData.MemberId)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2 text-right float-lg-end" *ngIf="membersDataNonParticipantsArray?.length != 0">
                        <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event, defaultPartiNonParti)"> </pagination-controls>
                    </div>
                </div>

                <div class="card-body chartbox" *ngIf="committeeTableDiv">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">SrNo</th>
                                <th scope="col">Committee Name</th>
                                <th scope="col">District Name</th>
                                <th scope="col">Taluka Name</th>
                                <th scope="col">Head of Committee</th>
                                <th scope="col">Photos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let committeesData of committeesDataArray | paginate: { itemsPerPage: 10, currentPage: paginationNo1, totalItems:total1  }">
                                <td>{{committeesData.SrNo}}</td>
                                <td><a routerLink="../../member/profile">{{committeesData.BodyOrgCellName}}</a></td>
                                <td>{{committeesData.districtName}}</td>
                                <td>{{committeesData.TalukaName}}</td>
                                <td>{{committeesData?.CommitteeHeadDetails}}</td>
                                <td>
                                    <img src="{{committeesData.ImagePath}}" *ngIf="committeesData.ImagePath; else noImg" />
                                    <ng-template #noImg>
                                        <img src="assets/images/dashboard-images/ncp-default.png">
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2 text-right float-lg-end" *ngIf="committeesDataArray?.length != 0">
                        <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion1(pageSize = $event)"> </pagination-controls>
                    </div>
                </div>

                <div class="card-body border">
                    <div class="mb-3">
                        <label class="form-label">Location</label>
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                            <agm-marker *ngFor="let latlongData of programDetailsLatLongArray" [latitude]="latlongData.latitude" [longitude]="latlongData.Longitude"></agm-marker>
                        </agm-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>