#allevents .media {
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #ccc;
}

#allevents .media-img {
    width: 70px;
    border-radius: 5px;
}

#allevents .card {
    border-radius: 10px;
}

#allevents .media-body p {
    font-size: 0.7rem;
}

#allevents .media-body h6 a {
    font-size: 0.85rem;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

#allevents .media-body h6 a:hover {
    color: var(--main-color);
}

#event-detail .card {
    border-radius: 10px;
    padding: 20px;
}

#event-detail .event-date {
    font-size: 0.75rem;
    color: #999;
}

#event-detail .event-head {
    font-weight: 400;
    line-height: 34px;
    margin-block: 15px;
    font-size: 1.4rem !important;
}

#event-detail .event-image,
#event-detail .event-description img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: middle;
    margin-bottom: 20px;
}

#event-detail .event-description p,
#event-detail .event-description ul,
#event-detail .event-description ol {
    font-size: 0.9rem;
    line-height: 24px;
}

#event-detail .event-description table {
    font-size: 0.85rem !important;
    width: 100% !important;
    margin-bottom: 15px !important;
    border-inline: solid 1px rgba(0, 0, 0, 0.125) !important;
}

#event-detail .event-description table th {
    border-top: solid 1px rgba(0, 0, 0, 0.125) !important;
    padding: 7px !important;
    background-color: #efefef !important;
}

#event-detail .event-description table td {
    padding: 7px !important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.125) !important;
}

#event-detail .event-description ul {
    padding-left: 20px !important;
    list-style: none !important;
}

#event-detail .event-description ul li:before {
    font-family: 'Font Awesome 5 free' !important;
    content: '\f105' !important;
    font-weight: 900 !important;
    margin: 0 8px 0 -15px !important;
    color: var(--clr-orange) !important;
}

#event-detail .event-description > h1,
#event-detail .event-description > h2,
#event-detail .event-description > h3,
#event-detail .event-description > h4,
#event-detail .event-description > h5,
#event-detail .event-description > h6 {
    font-weight: 600 !important;
    margin-block: 10px !important;
    font-size: 85% !important;
}

.media.active {
    background: #f5f5f5;
}

.text-ellipsis-250px-new {
    white-space: nowrap;
    width: 250px !important;
    height: 14px !important;
    display: block;
    overflow: hidden !important;
    text-overflow: ellipsis;
}