<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class='page-header'>
                <div class="centered">
                    <h1>Event Details</h1>
                    <p>Home <span class="mx-2">|</span> Event <span class="mx-2">|</span> Event Details</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row section">
        <div class="col-sm-12">
            <div class="container">
                <div class="row" id="event-detail">
                    <div class="col-sm-8">
                        <div class="card card-body">
                            <div class="text-end event-date">
                                <i class="fas fa-calendar-alt me-2"></i> 12-02-2021 - 15-02-2021
                            </div>
                            <hr class="my-2" />
                            <h5 class="event-head">Rich text editor component for Angular 11 demo site. Rich text editor component for Angular 11 demo site</h5>
                            <div class="event-description">
                                <img src="assets/images/event-header.jpg" class="event-image">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <table>
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Larry the Bird</td>
                                    <td>Larry the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>quis nostrud exercitation ullamco</li>
                                <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
                                <li>quis nostrud exercitation ullamco</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" id="allevents">
                        <div class="card mb-3 card-body">
                            <div class="d-flex media">
                                <div class="flex-shrink-0 me-3">
                                    <img src="assets/images/ncp-default.png" alt="..." class="media-img">
                                </div>
                                <div class="flex-grow-1" class="media-body">
                                    <h6>
                                        <a routerLink="./detail">Rich text editor component for Angular 11
                                            demo site. Rich text editor component for Angular 11 demo site</a>
                                    </h6>
                                    <p class="small text-muted">
                                        <i class="fas fa-calendar-alt me-2"></i> 12-02-2021 - 15-02-2021
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="d-flex media">
                                <div class="flex-shrink-0 me-3">
                                    <img src="assets/images/ncp-default.png" alt="..." class="media-img">
                                </div>
                                <div class="flex-grow-1" class="media-body">
                                    <h6>
                                        <a routerLink="./detail">Rich text editor component for Angular 11
                                            demo site. Rich text editor component for Angular 11 demo site</a>
                                    </h6>
                                    <p class="small text-muted">
                                        <i class="fas fa-calendar-alt me-2"></i> 12-02-2021 - 15-02-2021
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="d-flex media">
                                <div class="flex-shrink-0 me-3">
                                    <img src="assets/images/ncp-default.png" alt="..." class="media-img">
                                </div>
                                <div class="flex-grow-1" class="media-body">
                                    <h6>
                                        <a routerLink="./detail">Rich text editor component for Angular 11
                                            demo site. Rich text editor component for Angular 11 demo site</a>
                                    </h6>
                                    <p class="small text-muted">
                                        <i class="fas fa-calendar-alt me-2"></i> 12-02-2021 - 15-02-2021
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>