<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class='page-header'>
                <div class="centered">
                    <h1>Event Details</h1>
                    <p>Home <span class="mx-2">|</span> Event <span class="mx-2">|</span> Event Details</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row section">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        asdf
                    </div>
                    <div class="col-sm-4" id="allevents">
                        <div class="card mb-3 card-body">
                            <div class="d-flex media">
                                <div class="flex-shrink-0 me-3">
                                    <img src="assets/images/ncp-default.png" alt="..." class="media-img">
                                </div>
                                <div class="flex-grow-1" class="media-body">
                                    <h6>
                                        <a routerLink="./detail">Rich text editor component for Angular 11
                                            demo site. Rich text editor component for Angular 11 demo site</a>
                                    </h6>
                                    <p class="small text-muted">
                                        <i class="fas fa-calendar-alt me-2"></i> 12-02-2021 - 15-02-2021
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="d-flex media">
                                <div class="flex-shrink-0 me-3">
                                    <img src="assets/images/ncp-default.png" alt="..." class="media-img">
                                </div>
                                <div class="flex-grow-1" class="media-body">
                                    <h6>
                                        <a routerLink="./detail">Rich text editor component for Angular 11
                                            demo site. Rich text editor component for Angular 11 demo site</a>
                                    </h6>
                                    <p class="small text-muted">
                                        <i class="fas fa-calendar-alt me-2"></i> 12-02-2021 - 15-02-2021
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="d-flex media">
                                <div class="flex-shrink-0 me-3">
                                    <img src="assets/images/ncp-default.png" alt="..." class="media-img">
                                </div>
                                <div class="flex-grow-1" class="media-body">
                                    <h6>
                                        <a routerLink="./detail">Rich text editor component for Angular 11
                                            demo site. Rich text editor component for Angular 11 demo site</a>
                                    </h6>
                                    <p class="small text-muted">
                                        <i class="fas fa-calendar-alt me-2"></i> 12-02-2021 - 15-02-2021
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>