<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class='page-header'>
                <div class="centered">
                    <h1>Event Details</h1>
                    <p>Home <span class="mx-2">|</span> Event <span class="mx-2">|</span> Event Details</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row section">
        <div class="col-sm-12">
            <div class="container">
                <div class="row" id="event-detail">
                    <div class="col-sm-8">
                        <div class="card card-body">
                            <div class="text-end event-date">
                                <i class="fas fa-calendar-alt me-2"></i> {{eventDetalis?.ProgramStartDate}} ~ {{eventDetalis?.ProgramEndDate}}
                            </div>
                            <hr class="my-2" />
                            <h5 class="event-head">{{eventDetalis?.ProgramTitle | titlecase}}</h5>
                            <div class="event-description">
                                <img *ngIf="!eventDetalis?.ImagePath" src="assets/images/event-header.jpg" class="img-fluid rounded" alt="...">
                                <img *ngIf="eventDetalis?.ImagePath" src="{{eventDetalis?.ImagePath}}" class="img-fluid rounded" alt="...">
                                <div [innerHtml]="eventDetalis?.ProgramDescription">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" id="allevents">

                        <div class="offset-4 col-sm-8 float-end">
                            <div class="input-group">
                                <div class="input-group">
                                    <input [owlDateTime]="dt2" (dateTimeChange)="getweekRage($event.value)" [formControl]="selRange" class="form-control form-control-sm" [selectMode]="'range'" [owlDateTimeTrigger]="dt2" placeholder="Select Date">
                                    <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                                    <button class="btn btn-light btn-sm" type="button" *ngIf="!defaultCloseBtn" [owlDateTimeTrigger]="dt2"> <i class="fas fa-calendar-alt"></i></button>
                                    <button class="btn btn-light border btn-sm" type="button" *ngIf="defaultCloseBtn" (click)=" paginationNo = 1; clearValue()">
                                        <i class="fas fa-times"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3 card-body">
                            <!--  -->
                            <div class="d-flex media" *ngFor="let events of  eventListArray | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index" (click)="eventDetails(events)" [class.active]="events.EventId == selEventId">
                                <div class="flex-shrink-0 me-3">
                                    <img *ngIf="!events?.ImagePath" src="assets/images/ncp-default.png" class="media-img" alt="...">
                                    <img *ngIf="events?.ImagePath" src="{{events?.ImagePath}}" class="media-img" alt="...">
                                </div>
                                <div class="flex-grow-1" class="media-body">
                                    <h6>
                                        <a>{{eventDetalis?.ProgramTitle | titlecase}}</a>
                                    </h6>
                                    <p [innerHtml]="events?.ProgramDescription" class="text-ellipsis-250px-new"></p>
                                    <p class="small text-muted">
                                        <i class="fas fa-calendar-alt me-2"></i> {{events?.ProgramStartDate}} ~ {{events?.ProgramEndDate}}
                                    </p>

                                </div>
                            </div>
                            <div class="mt-2 text-end" *ngIf="eventListArray?.length != 0">
                                <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                            </div>
                            <!-- <div class="d-flex media">
                                <div class="flex-shrink-0 me-3">
                                    <img src="assets/images/ncp-default.png" alt="..." class="media-img">
                                </div>
                                <div class="flex-grow-1" class="media-body">
                                    <h6>
                                        <a routerLink="./detail">Rich text editor component for Angular 11
                                            demo site. Rich text editor component for Angular 11 demo site</a>
                                    </h6>
                                    <p class="small text-muted">
                                        <i class="fas fa-calendar-alt me-2"></i> 12-02-2021 - 15-02-2021
                                    </p>

                                </div>
                            </div> -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>