<div class="container-fluid">

    <div class="row" id="membername">
        <div class="col-sm-6">
            {{PersonName}}
        </div>
        <div class="col-sm-6 text-end">
            <div class="row">
                <div class="offset-7 col-sm-5 d-flex">
                    <div class="input-group">
                        <input [owlDateTime]="dt1" (dateTimeChange)="getRage($event)" [formControl]="dateTime" class="form-control" [selectMode]="'range'" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                        <button class="btn btn-light btn-sm" type="button" [owlDateTimeTrigger]="dt1"  *ngIf="!defaultCloseBtn">
                            <i class="fas fa-calendar-alt"></i>
                        </button>
                        <button class="btn btn-light border btn-sm" type="button" *ngIf="defaultCloseBtn" (click)="clearFilter()" >
                            <i class="fas fa-times"></i></button>
                    </div>
                    <button type="button" class="btn btn-sm btn-secondary ms-2" (click)="location.back()">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-sm-3 chartbox" id="profile-left">
            <div class="card mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fas fa-map-marked-alt text-warning"></i> {{PersonName}}
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-phone-alt text-primary"></i> +91-{{MemberMobileNo}}
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-phone-alt text-primary"></i> +91-{{MemberMobileNo}}
                    </li>
                </ul>
            </div>
            <div class="card mb-3">
                <div class="card-header text-success">
                    Highest Favoured Person/Party
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let most_Favouerd of mostFavouerd">
                        {{most_Favouerd?.PersonName | titlecase }}
                    </li>
                </ul>
            </div>
            <div class="card mb-3">
                <div class="card-header text-danger">
                    Least Favoured Person/Party
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let Most_Opposite of MostOpposite">
                        {{Most_Opposite?.PersonName | titlecase }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9" id="profile-right">
            <div class="card mb-3">
                <div class="card-header">
                    Activities
                </div>

                <div class="card-body chartbox">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Sr. No.</th>
                                <th scope="col">Post Date</th>
                                <th scope="col">Social Media</th>
                                <th scope="col">Message in Favour</th>
                                <th scope="col">Message in Oppose</th>
                                <th scope="col">Party in Support</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let socialMediaMessagesPerson of socialMediaMessagesPersonArray | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index">
                                <td>{{socialMediaMessagesPerson.SrNo}}</td>
                                <td>{{socialMediaMessagesPerson.PostDate}}</td>
                                <td>{{socialMediaMessagesPerson.SocialMediaName}}</td>
                                <td>{{socialMediaMessagesPerson.InFavorOf}}</td>
                                <td>{{socialMediaMessagesPerson.InOppositionOf}}</td>
                                <td>
                                    <img src="{{socialMediaMessagesPerson.PartyIconImage}}" />
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-light" (click)="getSocialMediaPersonDataById(i)" data-bs-toggle="modal" data-bs-target="#ViewDetailsModal"><i class="far fa-eye"></i></button>
                                </td>
                            </tr>
                            <tr *ngIf="socialMediaMessagesPersonArray?.length == 0">
                                <td colspan="9">
                                    <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2 text-end" *ngIf="socialMediaMessagesPersonArray?.length != 0">
                        <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                    </div>
                    <div class="card-body border mt-3">
                        <div class="workCountAgainstWork chartfont h-400"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- View Details Modal -->
<div class="modal fade" id="ViewDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ViewDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="ViewDetailsModalLabel">Details</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 form-container">
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label">Person Name</label>
                                <div id="txtID" class="form-data">{{getDatabyPersonId?.PersonName}}</div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Post Date</label>
                                <div id="txtPostDate" class="form-data">{{getDatabyPersonId?.PostDate}}</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <label class="form-label">Social Media</label>
                                <div id="txtWorkType" class="form-data">
                                    {{getDatabyPersonId?.SocialMediaName}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <div id="txtDescription" class="form-data">
                                {{getDatabyPersonId?.Description}}
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="form-label">Message in Favour</label>
                                    <div class="form-data">
                                        {{getDatabyPersonId?.InFavorOf}}
                                    </div> 
                            </div>
                                <div class="col-sm-6">
                                    <label class="form-label">Message in Oppose</label>
                                    <div class="form-data">
                                        {{getDatabyPersonId?.InOppositionOf}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Party in Support</label>
                            <div id="txtDescription" class="form-data">
                                <img src="{{getDatabyPersonId?.PartyIconImage}}" class="partylogo" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 form-container bg-light">
                    <div class="" *ngIf="lat!='' && lng!=''; else elseBlock">
                        <label class="form-label">Location</label>
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="'roadmap'">
                            <agm-marker [latitude]="lat" [longitude]="lng" (markerClick)="clickedMarker(infowindow)">
                                <agm-info-window #infowindow>
                                    <strong>Address -  {{getDatabyPersonId?.ActivityLocationAddress}}</strong>
                                </agm-info-window>
                            </agm-marker>
                        </agm-map>
                    </div>
                    <ng-template #elseBlock>
                        <div class="h-20 text-center">
                            <img src="assets/images/location-not-found.svg" class="img-h300">
                        </div>
                    </ng-template>

                </div>
                </div>

                <div class="col-sm-12 form-container">
                    <label class="form-label">Photos</label>
                    <div class="row">
                        <div class="col-sm-2 mb-3" *ngFor="let imgs of comUserdetImg; index as i">
                            <img [lightbox]="i" [src]="imgs?.data?.thumb" class="img-thumbnail h-150">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>