<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Committees on Map
                </span>
            </div>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-md-12">
            <div class="card card-body" id="committeesonmap">
                <div class="row">
                    <div class="col-sm-6 border-end">
                        <div class="card card-body shadow-none">
                            <div id="mapsvg"></div>
                            <!-- <img src="assets/images/maharashtra_districts_map.svg" /> -->
                        </div>
                    </div>
                    <div class="col-sm-3 border-end">
                        <div class="card shadow-none">
                            <div class="card-header">Committees in <span class="text-main">District</span></div>
                            <div class="card-body">
                                <div class="list-group list-group-flush">
                                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                      <span class="small">Ahmednagar - Akole - Abit Khind</span>
                                      <p class="mb-0 fw-bold mt-1">Abit Khind City Committee</p>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="small">Ahmednagar - Akole - Abit Khind</span>
                                      <p class="mb-0 fw-bold mt-1">Abit Khind City Committee</p>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="small">Ahmednagar - Akole - Abit Khind</span>
                                      <p class="mb-0 fw-bold mt-1">Abit Khind City Committee</p>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="small">Ahmednagar - Akole - Abit Khind</span>
                                      <p class="mb-0 fw-bold mt-1">Abit Khind City Committee</p>
                                    </a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card shadow-none">
                            <div class="card-header">Members in <span class="text-main">Committee Name</span></div>
                            <div class="card-body">
                                <div class="list-group list-group-flush">
                                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                      <span class="small">Designation</span>
                                      <p class="mb-0 fw-bold mt-1">Member Name</p>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="small">Designation</span>
                                      <p class="mb-0 fw-bold mt-1">Member Name</p>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="small">Designation</span>
                                      <p class="mb-0 fw-bold mt-1">Member Name</p>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span class="small">Designation</span>
                                      <p class="mb-0 fw-bold mt-1">Member Name</p>
                                    </a>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>