<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Event Master
                </span>
            </div>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Create Event</div>
                <div class="card-body pt-0">
                    <form [formGroup]="addEvent" (ngSubmit)="onSubmit()">
                        <div class="form-container">
                            <div class="row mb-3">
                                <div class="col-sm">
                                    <div class="mb-3">
                                        <label for="txtEventTitle" class="form-label required-field">Event Title</label>
                                        <textarea class="form-control" id="txtEventTitle" rows="3" formControlName="ProgramTitle"></textarea>
                                    </div>
                                    <div class="mb-0">
                                        <label for="txtEventDuration" class="form-label required-field">Event Duration</label>
                                        <input [owlDateTime]="dt1"  [owlDateTimeTrigger]="dt1" formControlName="ProgramDate" [selectMode]="'range'" class="form-control input-group-addon" placeholder="From Date" />
                                        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>

                                        <!-- <input type="text" id="txtEventDuration" class="form-control" formControlName="" placeholder="Selete Date Range" formControlName="ProgramTitle"> -->
                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    <label for="fuPhoto" class="form-label required-field">Event Display Image</label>
                                    <div class="uploadimg">
                                        <input type="file" id="img-upload" class="d-none">
                                        <img src="assets/images/dashboard-images/ncp-default.png" *ngIf="!ImgUrl" class="img-fluid img-thumbnail">
                                        <img *ngIf="ImgUrl" src="{{ImgUrl}}" class="img-fluid img-thumbnail">

                                        <button type="button" class="btn btn-light btn-sm btn-add" (click)="choosePhoto()" *ngIf="!ImgUrl">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button type="button" class="btn btn-light btn-sm btn-remove" (click)="removePhoto();" *ngIf="ImgUrl">
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </button>
                                        <input type="file" id="my_file" #myInput class="d-none" formControlName="EventImages" (change)="readUrl($event)" #fileInput>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="txtEventDescription" class="form-label required-field">Event Description</label>
                                <angular-editor [(ngModel)]="htmlContent" [config]="config" formControlName="ProgramDescription" ></angular-editor>
                            </div>
                            <div class="mb-2">
                                <span class="float-start">
                                    <button type="button" class="btn btn-secondary btn-sm" (click)="resetEventForm()">Cancel</button>
                                </span>
                                <span class="float-end">
                                    <button type="submit" class="btn btn-main btn-sm">{{editEventText}}</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="col-sm-5">
                    <div class="input-group">
                        <div class="input-group">
                            <input [owlDateTime]="dt2"  (dateTimeChange)="getweekRage($event.value)" [formControl]="selRange" class="form-control form-control-sm"  [selectMode]="'range'" [owlDateTimeTrigger]="dt2" placeholder="Select Date">
                            <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                            <button class="btn btn-light btn-sm" type="button" *ngIf="!defaultCloseBtn" [owlDateTimeTrigger]="dt2"> <i class="fas fa-calendar-alt"></i></button>
                            <button class="btn btn-light border btn-sm" type="button" *ngIf="defaultCloseBtn" (click)="clearValue()">
                                <i class="fas fa-times"></i></button>
                        </div>
                    </div>
                </div>

        


                <div class="card-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let eventListData of eventListArray | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index">
                                <td>
                                    <img src="{{eventListData.ImagePath}}" class="prophoto" *ngIf="eventListData.ImagePath!='' else defaultImg" />
                                </td>

                            <ng-template #defaultImg> <td><img src="assets/images/ncp-default.png" class="prophoto"></td></ng-template>

                                <td>
                                    <p class="small text-muted mb-2"><i class="fas fa-calendar-alt"></i> {{eventListData?.ProgramStartDate}} - {{eventListData?.ProgramEndDate}}
                                    </p>
                                    <h6 class="mb-0 lh-base eventtitle">{{eventListData?.ProgramTitle}}</h6>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      
                                
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" [disabled]="" id="flexSwitchCheckChecked" data-bs-toggle="modal" 
                                                    data-bs-target="#ProgramStatusModal" [checked]="">
                                            </div>


                                        <button class="btn btn-sm btn-light text-edit mx-1" (click)="editEventForm(eventListData)" type="button"><i
                                                class="fas fa-edit"></i></button>
                                        <button class="btn btn-sm btn-light text-danger" (click)="delNotConfirmation(eventListData.EventId)" type="button" data-bs-toggle="modal" data-bs-target="#delteteModal"><i
                                                class="fas fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="eventListArray?.length == 0">
                                <td colspan="9">
                                    <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2 text-end" *ngIf="eventListArray?.length != 0">
                        <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="delteteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delteteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-transparent border-bottom-0">
                <!-- <h5 class="modal-title" id="ProgramStatusModal1Label">Modal title</h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10"
                        cx="65.1" cy="65.1" r="62.1" />
                    <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
                        stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                    <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
                        stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
                </svg>
                <h3 class="my-3">Are You Sure?</h3>
                <p class="mb-4">Do you really want to Delete? This process can not be undone.</p>
                <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close" type="button" data-bs-dismiss="modal" (click)="IsDisplayEvent(2)" aria-label="Close">I'm
                    Sure</button>
            </div>
        </div>
    </div>
</div>