<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Event Master
                </span>
            </div>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Create Event</div>
                <div class="card-body pt-0">
                    <div class="form-container">
                        <div class="mb-3">
                            <label for="txtEventTitle" class="form-label">Event Title</label>
                            <input type="text" id="txtEventTitle" class="form-control" placeholder="Event Title">
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="txtEventDuration" class="form-label">Event Duration</label>
                                <input type="text" id="txtEventDuration" class="form-control" placeholder="Selete Date Range">
                            </div>
                            <div class="col-sm-6">
                                <label for="fuEventImage" class="form-label">Display Image</label>
                                <input class="form-control form-control-sm" id="fuEventImage" type="file">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="txtEventDescription" class="form-label">Event Description</label>
                            <textarea class="form-control" rows="15"></textarea>
                        </div>
                        <div class="mb-2">
                            <span class="float-start">
                                <button type="button" class="btn btn-secondary btn-sm">Cancel</button>
                            </span>
                            <span class="float-end">
                                <button type="button" class="btn btn-main btn-sm">Publish Event</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="assets/images/ncp-default.png" class="prophoto" />
                                </td>
                                <td>
                                    <p class="small text-muted mb-2"><i class="fas fa-calendar-alt"></i> 10-05-2021 - 12-05-2021</p>
                                    <h6 class="mb-0">Rich text editor component for Angular 11 demo site</h6>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-light text-dark" type="button"><i class="fas fa-eye"></i></button>
                                    <button class="btn btn-sm btn-light text-edit mx-1" type="button"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-sm btn-light text-danger" type="button"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/ncp-default.png" class="prophoto" />
                                </td>
                                <td>
                                    <p class="small text-muted mb-2"><i class="fas fa-calendar-alt"></i> 10-05-2021 - 12-05-2021</p>
                                    <h6 class="mb-0">Rich text editor component for Angular 11 demo site</h6>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-light text-dark" type="button"><i class="fas fa-eye"></i></button>
                                    <button class="btn btn-sm btn-light text-edit mx-1" type="button"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-sm btn-light text-danger" type="button"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/ncp-default.png" class="prophoto" />
                                </td>
                                <td>
                                    <p class="small text-muted mb-2"><i class="fas fa-calendar-alt"></i> 10-05-2021 - 12-05-2021</p>
                                    <h6 class="mb-0">Rich text editor component for Angular 11 demo site</h6>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-light text-dark" type="button"><i class="fas fa-eye"></i></button>
                                    <button class="btn btn-sm btn-light text-edit mx-1" type="button"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-sm btn-light text-danger" type="button"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>