<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Designation Master
                </span>
            </div>
        </div>
    </div>

    <div class="row chartbox">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Create Designation</div>
                <div class="card-body pt-0">
                    <div class="form-container">
                        <div class="mb-3">
                            <label for="txtDesignationName" class="form-label">Designation Name</label>
                            <input type="text" class="form-control" id="txtDesignationName" placeholder="Designation Name">
                        </div>
                        <div class="mb-2 text-end">
                            <button type="button" class="btn btn-main">Create Designation</button>
                            <button type="button" class="btn btn-warning mx-1">Update</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Designation Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>President</td>
                            <th>
                                <button type="button" class="btn btn-warning btn-sm"><i class="far fa-edit"></i></button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>