.example-list .example-box{
    cursor: all-scroll;
    border-radius: 7px;
    transition:all .25s ease-in;
}
.example-list .example-box:hover{
    box-shadow: 2px 1px 9px 0px #bbb;    
    transition:all .25s ease-in;
}

.cdk-drag.row.active {
    background: #e9ecef !important;
}

.fs-80rem{
    font-size: .80rem !important;
}
.add-buttons{
    background-color: var(--main-color);
    color: #fff;
    padding: 0px 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.8rem;
    border:0
}