<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Committee Master
                </span>
            </div>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">Create Committee</div>
                <div class="card-body pt-0">
                    <form [formGroup]="orgMasterForm" (ngSubmit)="onSubmit()">
                        <div class="form-container">
                            <div class="mb-2">
                                <label for="txtBodyName" class="form-label required-field">Committee Name</label>
                                <input type="text" class="form-control" id="txtBodyName" placeholder="Committee Name" formControlName="BodyOrgCellName" [ngClass]="{ 'is-invalid': submitted && f.BodyOrgCellName.errors }">
                                <div *ngIf="submitted && f.BodyOrgCellName.errors" class="invalid-feedback">
                                    <div *ngIf="f.BodyOrgCellName.errors.required">Organization name is required</div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label required-field">Select Level</label>
                                <ngx-select [allowClear]="true" (remove)="selectLevelClear()" [items]="allLevels" (select)="selectLevel(this.orgMasterForm.value.BodyLevelId, 'select')" formControlName="BodyLevelId" placeholder="Select Level" optionValueField="Id" optionTextField="LevelName"
                                    [ngClass]="{ 'is-invalid': submitted && f.BodyLevelId.errors }">
                                </ngx-select>
                                <div *ngIf="submitted && f.BodyLevelId.errors" class="invalid-feedback">
                                    <div *ngIf="f.BodyLevelId.errors.required">Body Level is required</div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label required-field">Select State</label>
                                <ngx-select [allowClear]="true" (remove)="clearselOption('State')" [items]="allStates" formControlName="StateId" placeholder="Select State" optionValueField="Id" optionTextField="StateName" [ngClass]="{ 'is-invalid': submitted && f.StateId.errors }"
                                    [disabled]="!this.orgMasterForm.value.BodyLevelId">
                                </ngx-select>
                                <div *ngIf="submitted && f.StateId.errors" class="invalid-feedback">
                                    <div *ngIf="f.StateId.errors.required">State is required</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" [ngClass]="{ 'required-field': submitted && f.DistrictId.errors }">Select
                                    District</label>
                                <ngx-select [allowClear]="true" (remove)="clearselOption('District')" [items]="allDistrict" formControlName="DistrictId" (select)="districtEvent(this.orgMasterForm.value.BodyLevelId, this.orgMasterForm.value.DistrictId)"  [disabled]="disableFlagDist || !this.orgMasterForm.value.StateId" (select)="getTaluka(this.orgMasterForm.value.DistrictId)"
                                    optionValueField="DistrictId" optionTextField="DistrictName" placeholder="Select District" [ngClass]="{ 'is-invalid': submitted && f.DistrictId.errors }">
                                </ngx-select>
                                <div *ngIf="submitted && f.DistrictId.errors" class="invalid-feedback">
                                    <div *ngIf="f.DistrictId.errors.required">District is required</div>
                                </div>
                            </div>
                            <!-- <div class="mb-2">
                                <div class="form-check form-check-inline" *ngFor="let category of categoryArray; let i = index">
                                    <input class="form-check-input" type="radio" [attr.disabled]="redioBtnDisabled ? true : null" formControlName="IsRural" [value]="category.id" name="IsRural" id="rblRural{{i}}" [checked]="defultCategory == category.name" (change)='onRadioChangeCategory(category.name, false)'>
                                    <label class="form-check-label" for="rblRural">{{category.name}}</label>
                                </div>
                            </div> -->
                            <!-- -->
                            <div class="mb-2">
                                <label class="form-label" [ngClass]="{ 'required-field': submitted && f.TalukaId.errors}">Select
                                    Taluka</label>
                                <ngx-select [allowClear]="true" (remove)="clearselOption('TalukaId')" [items]="getTalkaByDistrict" [disabled]="disableFlagTal || !this.orgMasterForm.value.DistrictId" formControlName="TalukaId" optionValueField="TalukaId" optionTextField="TalukaName" placeholder="Select Taluka"
                                    (select)="getVillageOrCity(this.orgMasterForm.value.TalukaId,villageCityLabel)" [ngClass]="{ 'is-invalid': submitted && f.TalukaId.errors }">
                                </ngx-select>
                                <div *ngIf="submitted && f.TalukaId.errors" class="invalid-feedback">
                                    <div *ngIf="f.TalukaId.errors.required">Taluka is required</div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label" [ngClass]="{ 'required-field': submitted && f.VillageId.errors }">Select
                                    {{villageCityLabel}}</label>
                                <ngx-select [allowClear]="true" (remove)="clearselOption('Village')" [items]="resultVillageOrCity" placeholder="Select {{villageCityLabel}}" [optionValueField]="setVillOrCityId" formControlName="VillageId" [optionTextField]="setVillOrcityName"
                                    [disabled]="disableFlagVill  || !this.orgMasterForm.value.DistrictId" [ngClass]="{ 'is-invalid': submitted && f.VillageId.errors }">
                                </ngx-select>
                                <div *ngIf="submitted && f.VillageId.errors" class="invalid-feedback">
                                    <div *ngIf="f.VillageId.errors.required">{{villageCityLabel}} is required</div>
                                </div>
                            </div>
                          
                            <div class="mb-2 mt-4">
                                <button type="button" class="btn btn-secondary  float-lg-start" (click)="clearForm()">Clear</button>
                                <button type="submit" class="btn btn-main float-lg-end">{{btnText}}</button>
                                <!-- <button type="button" class="btn btn-warning mx-1">Update</button>
                            <button type="button" class="btn btn-danger">Delete</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">
                    <form [formGroup]="filterForm">
                        <div class="row g-1">

                            <div class="col-sm-3 offset-3">
                                <ngx-select [allowClear]="allowClearFlag" (remove)="clearFilter('member')" (select)="filterData()" formControlName="AllotedDesignation" [items]="allotedDesignationArray" optionValueField="id" optionTextField="name" placeholder="Is Members Assigned">
                                </ngx-select>
                            </div>
                            <div class="col-sm-3">
                                <ngx-select [allowClear]="allowClearFlag" (remove)="clearFilter('district')" (select)="filterData()" formControlName="filterDistrict" [items]="allDistrict" optionValueField="DistrictId" optionTextField="DistrictName" placeholder="Select District">
                                </ngx-select>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="searchText" placeholder="Search..." (keyup)="onKeyUpFilter()" />
                                    <button type="button" class="btn btn-light border btn-sm" (click)="clearFilter('search')" *ngIf="filterForm.value.searchText"><i
                                            _ngcontent-tbl-c102="" class="fas fa-times"></i></button>
                                    <button type="button" *ngIf="!filterForm.value.searchText" class="btn btn-sm border btn-light"><i class="fas fa-search"></i></button>
                                    <!-- <button class="btn btn-sm btn-main" type="button" (click)="filter(this.filterForm.value.searchText)">

                                <i class="fas fa-search"></i> </button> &nbsp; &nbsp;
                                    <button class="btn btn-secondary btn-main ml-2" type="button" [disabled]="!this.filterForm.value.searchText && !this.filterForm.value.filterDistrict" (click)="clearFilter()">
                                    Clear </button> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Committee Name</th>
                                <th>Level</th>
                                <th>Area</th>
                                <th>Designations Assigned</th>
                                <th></th>
                                <th>Office Bearers</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- | filter:searchText -->
                            <tr *ngFor="let result of organizationRes | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total  }" [class.active]="result.Id == HighlightRow">
                                <td>{{result.SrNo}}</td>
                                <td><a (click)="redirectOrgDetails(result.Id,result.DesignationAssigned,result.BodyOrgCellName)" class="text-primary">{{result.BodyOrgCellName | titlecase}}</a></td>
                                <td>{{result.LevelName}}</td>
                                <td><span class="text-ellipsis-150px" [appTooltip]  title={{result.Area}}>{{result.Area}}</span></td>
                                <!-- <td><span class="text-ellipsis-150px" [appTooltip]  title={{result.DesignationAssigned}}>{{result.DesignationAssigned}}</span></td> -->

                                <td>
                                    <ul *ngFor=" let DesignAss of result.DesignationAssigned">
                                    <li>
                                        {{DesignAss}}
                                    </li>
                                  </ul>
                                </td>
                                <td> <button type="button" class="btn btn-sm btn-light" title="Add Designation" data-bs-toggle="modal" (click)="AddDesignation(result.BodyOrgCellName, result.Id)" data-bs-target="#AddDesignationModal">
                                        <i class="fas fa-user-plus"></i>
                                    </button> </td>
                                <td>{{result.AllottedDesignation}}</td>
                                <td>
                                    <button type="button" title="Edit Organization" class="btn btn-sm btn-light text-edit mx-2" (click)="editOrganization(result.Id)"><i class="far fa-edit"></i></button>
                                </td>
                            </tr>
                            <tr *ngIf="organizationRes?.length == 0">
                                <td colspan="8">
                                    <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2 text-right float-lg-end" *ngIf="organizationRes?.length != 0">
                        <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                        <!-- <pagination-controls previousLabel="" nextLabel="" (pageChange)="pageSize = $event" (click)="onClickPagintion(pageSize)"> </pagination-controls> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Add Designation -->
<div class="modal fade" id="AddDesignationModal" tabindex="-1" aria-labelledby="AddDesignationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <p class="modal-title" id="AddDesignationModalLabel">Add Designation</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" #closeModalAddDesignation (click)="clearAddDesignationForm()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-5">
                        <form [formGroup]="AddDesignationForm">
                            <div class="form-container">
                                <div class="mb-3">
                                    <label for="txtBodyName" class="form-label">Body Name</label>
                                    <input type="text" class="form-control" readonly formControlName="BodyId" />
                                </div>
                                <div class="mb-3">
                                    <label for="ddlDesignationName" class="form-label">Designation Name</label>
                                    <ngx-select [allowClear]="true" [items]="resultDesignation" placeholder="Select Designation" formControlName="DesignationId" optionValueField="Id" optionTextField="DesignationName">
                                    </ngx-select>
                                    <div *ngIf="addDesFormSubmitted && d.DesignationId.errors" class="invalid-feedback">
                                        <div *ngIf="d.DesignationId.errors.required">Designation is required</div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <label class="form-label d-block">Is Multiple</label>

                                    <div class="form-check form-check-inline" *ngFor="let isMultiple of IsMultiple">
                                        <input class="form-check-input" name="IsMultiple" type="radio" id="chkIsMultipleYes" formControlName="IsMultiple" [checked]="isMultiple.id == editRadioBtnClick" value="{{isMultiple.id}}">
                                        <label class="form-check-label" for="chkIsMultipleYes">{{isMultiple.name}}</label>
                                    </div>
                                    <div *ngIf="addDesFormSubmitted && d.IsMultiple.errors" class="invalid-feedback">
                                        <div *ngIf="d.IsMultiple.errors.required">Is Multiple is required</div>
                                    </div>
                                </div>
                                <button class="btn btn-secondary me-2 " type="button " (click)="clearAddDesignationForm() ">
                                    Clear </button>
                                <button type="submit " class="btn btn-main ml-2" (click)="submitDesignationForm() ">{{addDesignation}} Designation</button>

                            </div>
                            <div class="row bg-light border-bottom fw-bold g-1 px-2 py-2 mb-2 mt-3">
                                <div class="col-sm-2">
                                    Sr. No.
                                </div>
                                <div class="col-sm-9">
                                    Designation
                                </div>

                                <div class="col-sm-1"></div>
                            </div>
                            <div cdkDropList class="example-list" (cdkDropListDropped)="swingDesignation($event)">
                                <div class="row example-box g-1 py-1 px-2 d-flex align-items-center" *ngFor="let bodyAssignedDesignation of allBodyAssignedDesignation" cdkDrag>
                                    <div class="col-sm-2">
                                        {{bodyAssignedDesignation.SrNo}}
                                    </div>
                                    <div class="col-sm-9">
                                        {{bodyAssignedDesignation.DesignationName}}
                                    </div>
                                    <div class="col-sm-1">
                                        <!-- [disabled]="resOfAssignedDesignations.PersonAssigned" (click)=" submitDesignationForm( 'Edit', resOfAssignedDesignations.PostId) " -->
                                        <button class="btn btn-sm btn-light ng-star-inserted" (click)=" editDesignationForm(bodyAssignedDesignation) "><i
                                                class="fas fa-pencil-alt "></i></button>
                                    </div>
                                </div>
                                <div class="row" *ngIf="allAssignedDesignations?.length==0">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger text-center py-2 ">No Data Found..!</div>
                                    </div>
                                </div>
                            </div>

                            <!-- <button class="btn btn-secondary btn-main ml-2 " type="button " [disabled]="!this.AddDesignationForm.value.DesignationId && !this.AddDesignationForm.value.IsMultiple " (click)="clearAddDesignationForm() ">
                                Clear </button>
                            <button type="submit " class="btn btn-main " (click)="submitDesignationForm( 'Add',0) ">{{addDesignation}} Designation</button> -->
                        </form>
                        <!-- form end -->

                    </div>
                    <div class="col-sm-7">
                        <p class="fw-bold">Already Assigned Designations</p>
                        <!--  -->
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Designation</th>
                                    <th>Person(s) Assigned</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let resOfAssignedDesignations of allAssignedDesignations" class="example-box">
                                    <td>{{resOfAssignedDesignations.SrNo}}</td>
                                    <td>{{resOfAssignedDesignations.DesignationName}}</td>
                                    <td>{{resOfAssignedDesignations.PersonAssigned | titlecase}}</td>

                                </tr>
                                <tr *ngIf="allAssignedDesignations?.length==0">
                                    <td colspan="3 ">
                                        <div class="alert alert-danger text-center py-2 ">No Data Found..!</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer ">


            </div>

            <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
            </div> -->
        </div>
    </div>
</div>