<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">Help - Support</span>
        </div>
        <div class="col-sm-8 text-end">
            <button (click)="ngOnInit()" class="btn btn-sm btn-main"><i class="fas fa-sync-alt"></i></button>
        </div>
    </div>

    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card card-body">
                <div class="row" id="help-support">
                    <div class="col-sm-4 border-end">
                        <div class="input-group mb-3">
                            <input class="form-control" placeholder="Search Member" type="text" />
                            <button type="button" class="btn btn-light"><i class="fas fa-search"></i></button>
                        </div>
                        <div class="message-box">
                            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-1 username">List group item heading</p>
                                        <small class="helpdate">01-02-2021</small>
                                    </div>
                                    <small class="helpmsg">And some small print.</small>
                                    <span class="float-end">
                                        <span class="badge bg-danger">14</span>
                                    </span>
                                </a>
                                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-1 username">List group item heading</p>
                                        <small class="helpdate">01-02-2021</small>
                                    </div>
                                    <small class="helpmsg">And some small print.</small>
                                    <span class="float-end">
                                        <i class="fas fa-check text-success"></i>
                                    </span>
                                </a>
                                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-1 username">List group item heading</p>
                                        <small class="helpdate">01-02-2021</small>
                                    </div>
                                    <small class="helpmsg">And some small print.</small>
                                    <span class="float-end">
                                        <i class="fas fa-check text-success"></i>
                                    </span>
                                </a>
                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-1 username">List group item heading</p>
                                        <small class="helpdate">01-02-2021</small>
                                    </div>
                                    <small class="helpmsg">And some small print.</small>
                                    <span class="float-end">
                                        <i class="fas fa-check text-success"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8" #content>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                <div class="personadetails mb-3">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <span class="personname">Mr. Vijay M. Kore</span>
                                        </div>
                                        <div class="col-sm-4 text-end">
                                            <span class="persondate"><i class="fas fa-calendar-alt me-2"></i> 16-02-2021</span>
                                        </div>
                                    </div>
                                    <hr class="my-1">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <span class="personemail"><i class="far fa-envelope me-1"></i> vijaymkore@gmail.com</span>
                                        </div>
                                        <div class="col-sm-4 text-end">
                                            <span class="personcontact"><i class="fas fa-phone-alt me-1"></i> +91-9876543210</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="messagedetails">
                                    <div class="mb-2 pb-1 col-sm-10">
                                        <div class="card card-body border shadow-none position-relative membercall">
                                            <p class="small text-muted mb-1 lblfeedback">Message Sender
                                                <span class="float-end text-muted small">
                                                    Message DateTime
                                                </span>
                                            </p>
                                            <span class="feedback">
                                                he next generation of the web’s favorite icon library + toolkit is now available as a Beta release! Subscribe to Font Awesome Pro and get instant access to the v6 beta.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mb-2 pb-1 col-sm-10 offset-2">
                                        <div class="card card-body border bg-light shadow-none position-relative admincall">
                                            <p class="small text-muted mb-1 lblfeedback">Message Sender
                                                <span class="float-end text-muted small">Message DateTime</span>
                                            </p>
                                            <span class="feedback">
                                                he next generation of the web’s favorite icon library + toolkit is now available as a Beta release! Subscribe to Font Awesome Pro and get instant access to the v6 beta.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mb-2 pb-1 col-sm-10 offset-2">
                                        <div class="card card-body border bg-light shadow-none position-relative admincall">
                                            <p class="small text-muted mb-1 lblfeedback">Message Sender
                                                <span class="float-end text-muted small">Message DateTime</span>
                                            </p>
                                            <span class="feedback">
                                                he next generation of the web’s favorite icon library + toolkit is now available as a Beta release! Subscribe to Font Awesome Pro and get instant access to the v6 beta.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                2
                            </div>
                            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                                3
                            </div>
                            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                                4
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>