<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">Help - Support</span>
        </div>
        <div class="col-sm-8 text-end">
            <button (click)="ngOnInit()" class="btn btn-sm btn-main"><i class="fas fa-sync-alt"></i></button>
        </div>
    </div>

    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card card-body">
                <div class="row" id="help-support">
                    <div class="col-sm-4 border-end">
                        <form [formGroup]="filterForm">
                            <div class="input-group mb-3">
                                <input class="form-control" placeholder="Search Member" type="text" class="form-control" formControlName="searchFilter" placeholder="Search..." (keyup)="onKeyUpFilter()" />
                                <button type="button" class="btn btn-light border btn-sm" (click)="clearFilter()" *ngIf="filterForm.value.searchFilter"><i _ngcontent-tbl-c102=""
                                        class="fas fa-times"></i></button>
                                <button type="button" *ngIf="!filterForm.value.searchFilter" class="btn btn-sm btn-search border btn-light"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                        <div class="message-box">
                            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action " id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home" *ngFor="let receiverChatList of receiverChatListArray; let i = index" [ngClass]="{'active' : receiverChatList?.GroupId == globalGroupId}"
                                    (click)="getMessagebyGroupId(receiverChatList, receiverChatList?.GroupId, receiverChatList?.IsRead)">
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-1 username">{{receiverChatList.Sender | titlecase}}</p>
                                        <small class="helpdate">{{receiverChatList.MessageDate}}  {{receiverChatList.MessageTime}}</small>
                                    </div>
                                    <small class="helpmsg">{{receiverChatList.SenderMsg}}</small>
                                    <span class="float-end">
                                        <span class="badge bg-danger" *ngIf="receiverChatList.TotalUnReadMsg else readMsg">{{receiverChatList.TotalUnReadMsg}}</span>
                                    <ng-template #readMsg> <i class="fas fa-check text-success"></i></ng-template>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="tab-content" id="nav-tabContent" *ngIf="defaultMsgBox">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                <div class="personadetails mb-3">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <span class="personname">                                                
                                                {{infoUser?.Sender}}</span>
                                        </div>
                                        <div class="col-sm-4 text-end">
                                            <button class="btn btn-sm btn-light text-danger shadow-none me-2" (click)="defaultMsgBox = false; globalGroupId = 0"><i class="fas fa-times"></i></button>

                                        </div>
                                    </div>
                                    <hr class="my-1">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <span class="persondate"><i class="fas fa-calendar-alt me-2"></i>
                                                {{infoUser?.MessageDate}}</span>
                                        </div>
                                        <!-- <div class="col-sm-4">
                                            <span class="personemail"><i class="far fa-envelope me-1"></i>
                                                {{infoUser?.Emailid}}</span>
                                        </div> -->
                                        <div class="col-sm-4 text-end">
                                            <span class="personcontact" *ngIf="infoUser?.MobileNo"><i class="fas fa-phone-alt me-1"></i>
                                                +91-{{infoUser?.MobileNo}}</span>
                                        </div>
                                    </div>
                                </div>
                                <ng-container #messages>
                                    <div class="messagedetails mb-3" #content>
                                        <ng-container *ngFor="let message of messagebyGroupIdArray">
                                            <div class="mb-4 pb-1 col-sm-10" *ngIf="message.ReceiverId == loginUserId">
                                                <div class="card card-body border shadow-none position-relative membercall">
                                                    <p class="small text-muted mb-1 lblfeedback">{{message.Sender}}
                                                        <span class="float-end text-muted small">
                                                         {{message?.MessageDate}} {{message.MessageTime}}
                                                </span>
                                                    </p>
                                                    <span class="feedback">
                                                        {{(message.SenderMsg != 'null') ?  (message.SenderMsg | titlecase) : ''}} 
                                            </span>
                                                    <ng-container *ngIf="message.MediaTypeId == 2">
                                                        <div class="img-con">
                                                            <img src="{{message.MediaPath}}" class="helpimg">
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="message.MediaTypeId == 4">
                                                        <audio controls>
                                                    <source src="{{message.MediaPath}}" type="audio/mpeg">
                                                  </audio>
                                                    </ng-container>
                                                    <ng-container *ngIf="message.MediaTypeId == 3">
                                                        <video width="320" height="240" controls>
                                                        <source src="{{message.MediaPath}}" type="video/mp4">
                                                      </video>
                                                    </ng-container>
                                                    <ng-container *ngIf="message.MediaTypeId == 5">
                                                        <a href="{{message.MediaPath}}" download target="_blank" class=" btn btn-info" style="width: 123px;"><small><i class="fa fa-paperclip" aria-hidden="true" ></i>  Attachment</small></a>
                                                    </ng-container>
                                                    <!-- <img src="{{message.MediaPath}}" style="width: 100px;"> -->
                                                </div>
                                            </div>

                                            <div class="mb-2 pb-1 col-sm-10 offset-2" *ngIf="message.ReceiverId != loginUserId">
                                                <div class="card card-body border bg-light shadow-none position-relative admincall">
                                                    <p class="small text-muted mb-1 lblfeedback">{{message.Sender}}
                                                        <span class="float-end text-muted small"> {{message?.MessageDate}} {{message.MessageTime}}</span>
                                                    </p>
                                                    <span class="feedback">
                                                    {{(message.SenderMsg != 'null') ?  (message.SenderMsg | titlecase) : ''}} 
                                            </span>
                                                    <ng-container *ngIf="message.MediaTypeId == 2">
                                                        <div class="img-con">
                                                            <img src="{{message.MediaPath}}" class="helpimg">
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="message.MediaTypeId == 3">
                                                        <audio controls>
                                            <source src="{{message.MediaPath}}" type="audio/mpeg">
                                          </audio>
                                                    </ng-container>
                                                    <ng-container *ngIf="message.MediaTypeId == 3">
                                                        <video width="320" height="240" controls>
                                                <source src="{{message.MediaPath}}" type="video/mp4">
                                              </video>
                                                    </ng-container>
                                                    <ng-container *ngIf="message.MediaTypeId == 5">
                                                        <a href="{{message.MediaPath}}" download target="_blank" class=" btn btn-info" style="width: 123px;"><small><i class="fa fa-paperclip" aria-hidden="true" ></i>  Attachment</small></a>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                                <form enctype="multipart/form-data" [formGroup]="replayForm" class="replybox" (ngSubmit)="UploadHelpMeChatMediaMsg()">
                                    <div class="card card-body p-2 shadow-none border mb-2 d-flex flex-row" *ngIf="ImgUrl">
                                        <!-- *ngIf="ImgUrl && getImgExt == 'png' || ImgUrl && getImgExt 'jpg' || ImgUrl &&  getImgExt == 'svg'"  -->

                                        <div class="img-con">
                                            <ng-container *ngIf="getImgExt == 'png' || getImgExt == 'jpg'">
                                                <img src="{{ImgUrl}}" class="helpimg">
                                                <button class="btn" (click)="closeImg()" *ngIf="ImgUrl"><i class="fas fa-times"></i></button>
                                            </ng-container>
                                            <ng-container *ngIf="getImgExt == 'mp3'">
                                                <audio controls>
                                                <source src="{{ImgUrl}}" type="audio/mpeg">
                                              </audio>
                                                <button class="btn" (click)="closeImg()" *ngIf="ImgUrl"><i class="fas fa-times"></i></button>
                                            </ng-container>
                                            <ng-container *ngIf="getImgExt == 'mp4'">
                                                <video width="320" height="240" controls>
                                                <source src="{{ImgUrl}}" type="video/mp4">
                                              </video>
                                                <button class="btn" (click)="closeImg()" *ngIf="ImgUrl"><i class="fas fa-times"></i></button>
                                            </ng-container>

                                        </div>

                                    </div>
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="Reply Here.." formControlName="senderMsg" />
                                        <input type="file" id="img-upload" class="d-none" (change)="readUrl($event)" #fileInput>
                                        <button type="button" class="btn btn-light bg-transparent" (click)="openInputFile()"><i class="fas fa-paperclip"></i></button>
                                        <button type="submit" class="btn btn-sm btn-main "><i class="fas fa-paper-plane me-2"></i> Send</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                2
                            </div>
                            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                                3
                            </div>
                            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                                4
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>