<div class="nav" id="navbar" [class.show-menu]="isShowMenu" (mouseover)="hide=true" (mouseout)="hide=false">
    <div class="nav-head">
        <img src="/assets/images/dashboard-images/ncp-logo.png" />
    </div>
    <nav class="nav__container">
        <div class="nava">
            <ul class="nav__list">
                <li routerLinkActive="active">
                    <input id="group-1" type="checkbox" hidden />
                    <label for="group-1" routerLink="dashboard">
                      <i class="fas fa-tachometer-alt"></i>
                        NCP Dashboard</label>
                </li>
                <li routerLinkActive="active">
                    <input id="group-2" type="checkbox" hidden />
                    <label for="group-2">
                        <i class="fas fa-tools"></i>
                        Masters <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list" [class.d-none]="hide ? false : true">
                        <!-- <li><a routerLink="masters/designation-master">Designation Master</a></li> -->
                        <li><a routerLink="master/committee">Committee Master</a></li>
                        <li><a routerLink="master/party-program">Party Program Master</a></li>
                        <li><a routerLink="master/event-master">Event Master</a></li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <input id="group-3" type="checkbox" hidden />
                    <label for="group-3">
                        <i class="fas fa-users-cog"></i>
                        Member Management <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list" [class.d-none]="hide ? false : true">
                        <a routerLink="member/profile" style="display: none">Home</a>
                        <li><a routerLink="member/all">View Members</a></li>
                        <li><a routerLink="member/executive">Executive Members</a></li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <input id="group-4" type="checkbox" hidden />
                    <label for="group-4">
                        <i class="fas fa-tools"></i>
                        Activity Management <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list" [class.d-none]="hide ? false : true">
                        <!-- <li><a routerLink="masters/designation-master">Designation Master</a></li> -->
                        <li><a routerLink="social-media">Social Media Perception</a></li>
                        <li><a routerLink="party-works">Party Work</a></li>
                        <li><a routerLink="forward-activities">Forward Activities</a></li>
                        <li><a routerLink="activity-analysis">Activity Analysis</a></li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <input id="group-5" type="checkbox" hidden />
                    <label for="group-5">
                        <i class="fas fa-tools"></i>
                        Communications <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list" [class.d-none]="hide ? false : true">
                        <!-- <li><a routerLink="masters/designation-master">Designation Master</a></li> -->
                        <li><a routerLink="feedbacks">Feedbacks</a></li>
                        <li><a routerLink="notifications">Notifications</a></li>
                        <li><a routerLink="help-support">Help Support</a></li>
                        <li><a routerLink="activity-analysis">Activity Analysis</a></li>
                    </ul>
                </li>
                <!-- <li>
                    <input id="group-4" type="checkbox" hidden />
                    <label for="group-4" routerLink="registrations">
                      <i class="far fa-id-card"></i>
                      Registrations</label>
                </li> -->
                <!-- <li routerLinkActive="active">
                    <input id="group-5" type="checkbox" hidden />
                    <label for="group-5" routerLink="social-media">
                        <i class="fas fa-share-alt"></i>
                   Social Media Perception</label>
                </li>
                <li routerLinkActive="active">
                    <input id="group-6" type="checkbox" hidden />
                    <label for="group-6" routerLink="party-works">
                      <i class="fas fa-praying-hands"></i>
                      Party Work</label>
                </li> -->
                <!-- <li routerLinkActive="active">
                    <input id="group-7" type="checkbox" hidden />
                    <label for="group-7" routerLink="feedbacks">
                        <i class="fas fa-comments"></i>
                  Feedbacks</label>
                </li>
                <li routerLinkActive="active">
                    <input id="group-10" type="checkbox" hidden />
                    <label for="group-10" routerLink="notifications">
                        <i class="fas fa-bell"></i>
                  Notifications</label>
                </li>
                <li routerLinkActive="active">
                    <input id="group-8" type="checkbox" hidden />
                    <label for="group-8" routerLink="help-support">
                      <i class="fas fa-hands-helping"></i>
                 Help Support</label>
                </li> -->
                <!-- <li routerLinkActive="active">
                    <input id="group-9" type="checkbox" hidden />
                    <label for="group-9" routerLink="forward-activities">
                        <i class="fas fa-share"></i>
                Forward Activities</label>
                </li> -->
                <!-- <li routerLinkActive="active">
                    <input id="group-10" type="checkbox" hidden />
                    <label for="group-10" routerLink="activity-analysis">
                        <i class="fas fa-chart-bar"></i>
                Activity Analysis</label>
                </li> -->
                <!-- <li routerLinkActive="active">
                    <input id="group-11" type="checkbox" hidden />
                    <label for="group-11" routerLink="create-election">
                        <i class="fas fa-chart-bar"></i>
                        Create Election</label>
                </li> -->
                <li routerLinkActive="active">
                    <input id="group-6" type="checkbox" hidden />
                    <label for="group-6">
                        <i class="fas fa-vote-yea"></i>
                        Election Management <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list">
                        <li><a routerLink="election/create-election">Create Election</a></li>
                        <li><a routerLink="election/create-constituency">Create Constituency</a></li>
                        <li><a routerLink="election/assign-booth">Assign Booth</a></li>
                    </ul>
                </li> 
            </ul>
        </div>
    </nav>
</div>