<div class="nav" id="navbar" [class.show-menu]="isShowMenu" (mouseover)="hide=true" (mouseout)="hide=false">
    <div class="nav-head">
        <img src="/assets/images/dashboard-images/ncplogo.png" />
    </div>
    <nav class="nav__container">
        <div class="nava">
            <ul class="nav__list">
                <li routerLinkActive="active">
                    <input id="group-1" type="checkbox" hidden />
                    <label for="group-1" routerLink="dashboard">
                      <i class="fas fa-tachometer-alt"></i>
                        Dashboard</label>
                </li>
                <li  routerLinkActive="active">
                    <input id="group-2" type="checkbox" hidden />
                    <label for="group-2">
                        <i class="fas fa-tools"></i>
                        Masters <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list"  [class.d-none]="hide ? false : true">
                        <!-- <li><a routerLink="masters/designation-master">Designation Master</a></li> -->
                        <li><a routerLink="masters/organization-master">Organization Master</a></li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <input id="group-3" type="checkbox" hidden />
                    <label for="group-3">
                        <i class="fas fa-users-cog"></i>
                        Member Management <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list" [class.d-none]="hide ? false : true">
                        <li><a routerLink="members/view-members">View Members</a></li>
                        <li><a routerLink="members/executive-members">Executive Members</a></li>
                    </ul>
                </li>
                <!-- <li>
                    <input id="group-4" type="checkbox" hidden />
                    <label for="group-4" routerLink="registrations">
                      <i class="far fa-id-card"></i>
                      Registrations</label>
                </li> -->
                <li routerLinkActive="active">
                    <input id="group-5" type="checkbox" hidden />
                    <label for="group-5" routerLink="social-media-messages">
                        <i class="fas fa-share-alt"></i>
                   Social Media Messages</label>
                </li>
                <li routerLinkActive="active">
                    <input id="group-6" type="checkbox" hidden />
                    <label for="group-6" routerLink="political-work">
                      <i class="fas fa-praying-hands"></i>
                    Political Work</label>
                </li>
                <li routerLinkActive="active">
                    <input id="group-7" type="checkbox" hidden />
                    <label for="group-7" routerLink="feedbacks">
                        <i class="far fa-comments"></i>
                  Feedbacks</label>
                </li>
                <li routerLinkActive="active">
                    <input id="group-10" type="checkbox" hidden />
                    <label for="group-10" routerLink="notifications">
                        <i class="far fa-bell"></i>
                  Notifications</label>
                </li>
                <li>
                    <input id="group-8" type="checkbox" hidden />
                    <label for="group-8" routerLink="help-support">
                      <i class="fas fa-hands-helping"></i>
                  Support</label>
                </li>
                <li routerLinkActive="active">
                    <input id="group-9" type="checkbox" hidden />
                    <label for="group-9" routerLink="forward-activities">
                        <i class="fas fa-share"></i>
                Forward Activities</label>
                </li>

                <!-- <li>
                    <input id="group-8" type="checkbox" hidden />
                    <label for="group-8">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.222" height="20.667" viewBox="0 0 17.222 20.667">
                            <path id="Reports_blue" d="M16.854,0H4.368A2.37,2.37,0,0,0,2,2.368V18.3a2.37,2.37,0,0,0,2.368,2.368H16.854A2.37,2.37,0,0,0,19.222,18.3V2.368A2.37,2.37,0,0,0,16.854,0ZM9.535,11.194V6.954a4.3,4.3,0,1,1-3.189,7.7l3-3A.643.643,0,0,0,9.535,11.194ZM8.243,6.954v3.973l-2.81,2.81a4.27,4.27,0,0,1,2.81-6.783ZM15.993,18.3H5.229a.646.646,0,0,1,0-1.292H15.993a.646.646,0,1,1,0,1.292Zm0-2.8H14.7a.646.646,0,1,1,0-1.292h1.292a.646.646,0,1,1,0,1.292Zm0-2.368H14.7a.646.646,0,1,1,0-1.292h1.292a.646.646,0,1,1,0,1.292Zm0-2.583H14.7a.646.646,0,1,1,0-1.292h1.292a.646.646,0,1,1,0,1.292Zm0-2.368H14.7a.646.646,0,1,1,0-1.292h1.292a.646.646,0,0,1,0,1.292Z" transform="translate(-2)" fill="#11c6ff"/>
                          </svg>
                        Reports <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list">
                        <li><a href="#">Summary Report</a></li>
                        <li><a href="#">User Report</a></li>
                        <li><a href="#">Vehicle Report</a></li>
                        <li><a href="#">Breakdown Report</a></li>
                        <li><a href="#">Taluka Report</a></li>
                        <li><a href="#">Unauthorized Spots</a></li>
                        <input id="sub-group-2" type="checkbox" hidden />
                        <label for="sub-group-2"><span class="fa fa-angle-right"></span> Unit Wise Report</label>
                        <ul class="sub-group-list">
                            <li><a href="#">G P S Invalid Vehicle Report</a></li>
                            <li><a href="#">Register Unit Report</a></li>
                            <li><a href="#">Bidder Wise eTP Report</a></li>
                            <li><a href="#">Total Lifting</a></li>
                            <li><a href="#">Daily Lifting</a></li>
                            <li><a href="#">Lifting Report</a></li>
                            <li><a href="#">Performance Report</a></li>
                            <li><a href="#">Vehicle Log</a></li>
                            <li><a href="#">Invalid Vehicles</a></li>
                            <li><a href="#">Geofence Report</a></li>
                            <li><a href="#">Receive Lifting Report</a></li>
                            <li><a href="#">Receive eTP Report</a></li>
                        </ul>
                        <li><a href="#">VTS Alert Report</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </nav>
</div>