#letterhead {
    font-family: 'Yatra One', sans-serif !important;
    font-size: 1.2rem;
}

#letterhead img {
    width: 40px;
}

#personaldetails h4 {
    font-weight: 700;
    margin-bottom: 15px;
}

#personaldetails .prof-photo {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

#personaldetails p {
    font-size: 0.85rem;
    margin-bottom: 2px;
}

.desc-image {
    width: 180px;
    height: auto;
    max-height: 300px;
    /* object-fit: cover;  */
    border-radius: 5px;
    margin: 5px;
}

.print-title {
    font-size: 0.95rem;
    color: var(--main-color);
    line-height: 1.7rem;
    margin-bottom: 0px;
}

.print-desc {
    font-size: 0.85rem;
    margin-bottom: 0;
    line-height: 1.5rem;
}

@media print {

    .desc-image {
        width: 180px;
        height: auto;
        max-height: 220px;
        border-radius: 5px;
        margin-bottom: 15px;
        display: inline-block;

        /* margin: 5px; */
        /* clear: both;
        position: relative;
        display: block; */
    }

    .chartbox .card {
        padding-bottom: 25px;
        /* position: relative; */
        margin-bottom: 25px !important;
    }

    .d-lg-flex.align-items-start {
        display: flex;
        align-items: start !important;
    }

}