<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Change Password
                </span>
            </div>
        </div>
    </div>

    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card card-body">
               <div class="row form-container">
                   <div class="col-sm-4 mx-auto">
                       <div class="card shadow-none border">
                           <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label" for="txtUserName">UserName</label>
                                <input type="email" class="form-control" id="txtUserName" placeholder="UserName">
                              </div>
                              <div class="mb-3">
                                <label class="form-label" for="txtOldPassword">Old Password</label>
                                <div class="input-group">                                    
                                    <input type="password" class="form-control" id="txtOldPassword" placeholder="Old Password">
                                </div>
                              </div>
                              <div class="mb-3">
                                <label class="form-label" for="txtNewPassword">New Password</label>
                                <input type="password" class="form-control" id="txtNewPassword" placeholder="New Password">
                              </div>
                              <div class="mb-3">
                                <label class="form-label" for="txtRePassword">Retype Password</label>
                                <input type="password" class="form-control" id="txtRePassword" placeholder="Retype Password">
                              </div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
