<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Change Password
                </span>
            </div>
        </div>
    </div>

    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card card-body">
                <div class="row form-container">
                    <div class="col-sm-4">
                        <div class="card shadow-none border">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="form-label" for="txtUserName">UserName</label>
                                    <input type="email" class="form-control" id="txtUserName" placeholder="UserName">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="txtOldPassword">Old Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="txtOldPassword"
                                            placeholder="Old Password">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="txtNewPassword">New Password</label>
                                    <input type="password" class="form-control" id="txtNewPassword"
                                        placeholder="New Password">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="txtRePassword">Retype Password</label>
                                    <input type="password" class="form-control" id="txtRePassword"
                                        placeholder="Retype Password">
                                </div>
                                <div class="mb-2 mt-4"><button type="button"
                                        class="btn btn-secondary float-lg-start">Clear</button><button type="submit"
                                        class="btn btn-main float-lg-end">
                                        Change Password</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card shadow-none border">
                            <div class="card-header">Note :</div>
                            <div class="card-body">
                                <ul class="small">
                                    <li>Have at least one Lower Case character</li>
                                    <li>Have at lease one Upper Case character</li>
                                    <li>Have at least one Number</li>
                                    <li>Have at least one Special Character</li>
                                    <li>Password must be between 8 and 20 characters</li>
                                </ul>
                            </div>
                            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="form-label" for="txtUserName">UserName</label>
                                        <input type="email" class="form-control" [readonly]="true"
                                            formControlName="userName" id="txtUserName" placeholder="UserName">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="txtOldPassword">Old Password<span
                                                class="text-center text-danger">*</span></label>
                                        <input [type]="show_button ? 'text' : 'password'" class="form-control"
                                            placeholder="Old password" formControlName="oldPassword"
                                            [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
                                        <i class="eye-icon-pos" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                            (click)="showPassword('old')"> </i>
                                        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.oldPassword.errors.required">Old Password is requird </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label class="form-label" for="txtNewPassword">New Password<span
                                                class="text-center text-danger">*</span></label>
                                        <input [type]="show_button1 ? 'text' : 'password'" class="form-control"
                                            placeholder="New password" formControlName="newPassword"
                                            [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                                        <i class="eye-icon-pos" [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                            (click)="showPassword('new')"> </i>
                                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.newPassword.errors.passwordValid"> New Password is invalid
                                                format
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label class="form-label" for="txtRePassword">Confirm Password<span
                                                class="text-center text-danger">*</span></label>
                                        <input [type]="show_button2 ? 'text' : 'password'" class="form-control"
                                            placeholder="Confirm password" formControlName="ConfirmPassword"
                                            [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }">
                                        <i class="eye-icon-pos" [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                            (click)="showPassword('confirm')"> </i>
                                        <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
                                            <!-- <div *ngIf="f.ConfirmPassword.errors.required">Password is required</div> -->
                                            <div *ngIf="f.ConfirmPassword.errors.passwordValid"> Confirm Password is
                                                invalid format </div>
                                        </div>
                                    </div>

                                    <div class="mb-2 mt-4">
                                        <button type="button" class="btn btn-secondary float-lg-start" (click)="clearForm()">Clear</button>
                                        <button type="submit" class="btn btn-main float-lg-end">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>