.form-group,
.form-control {
    position: relative;
    box-shadow: none;
}

.form-control {
    border: 1px solid #ced4da;
}

.invalid-feedback {
    position: absolute;
    margin-top: 0px;
}

.eye-icon-pos {
    position: absolute;
    right: 12px;
    top: 33px;
}