#home-carousel .carousel-item h1 {
    font-weight: 300 !important;
    font-size: 3.5rem !important;
    margin-bottom: 2rem !important;
    line-height: normal !important;
}

#home-carousel .carousel {
    transition: all 1s ease-in;
}

.btn-home-green,
.btn-home-orange:hover {
    background: var(--clr-green);
    color: #fff;
    padding: 8px 20px;
    font-size: 0.9rem;
}

.btn-home-orange,
.btn-home-green:hover {
    background: var(--clr-orange);
    color: #fff;
    padding: 15px 30px;
}

#founders {
    padding-block: 15px;
}

#founders img {
    width: 110px;
    margin: 0 15px;
}

#pres-msg {
    /* height: 350px; */
    display: block;
    position: relative;
    background-color: #fff;
    padding-top: 40px;
}

#pres-msg::after {
    content: "";
    background-image: url('src/assets/images/ncp-default.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 350px;
}

#pres-msg .pres-photo {
    width: 259px;
    box-shadow: -10px -10px 0 var(--clr-green);
}

h3.section-head {
    font-weight: 300;
    font-family: 'Inter', sans-serif !important;
    margin: 0;
    padding-bottom: 7px;
    position: relative;
    display: inline-block;
    font-size: 1.8rem !important;
    margin-bottom: 35px;
    padding-bottom: 15px;
}

h3.section-head:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 40%;
    height: 6px;
    background: var(--clr-green);
}

h3.head-center:before {
    margin: 0 auto;
}

h6.sub-head {
    font-size: 1.1rem;
    color: var(--clr-orange);
    font-weight: 600;
}

.home-para {
    font-size: 1rem;
    line-height: 28px;
    color: #555;
}

#mission .media {
    margin-bottom: 20px;
}

#mission .media .media-icon {
    font-size: 1.3rem;
    border: solid 1px var(--clr-orange);
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    color: var(--clr-orange);
    transition: all .25s ease-in;
}

#mission .media:hover .media-icon {
    background: var(--clr-orange);
    color: #fff;
    transition: all .25s ease-in;
}

#mission .media .media-body h4 {
    font-size: 1.1rem;
    color: var(--clr-green);
}

#mission .media .media-body p {
    color: #777;
}

#events {
    padding: 40px 0;
    background-color: #fff;
}

#events .card {
    background-color: transparent;
    transition: all .25s ease-in;
    border-radius: 15px;
}

#events .card .card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: 200px;
    object-position: center;
    /* filter: opacity(0.5); */
}

#events .card:hover {
    background-color: #fff;
    box-shadow: 0px 0px 6px 7px #e9e9e9;
    transition: all .25s ease-in;
}

#events .card .card-body {
    background-color: transparent;
}

#events .card h6 {
    color: #222;
    font: inherit !important;
    cursor: pointer;
    line-height: 25px !important;
    height: 60px;
}

#events .card .card-text {
    font-size: 0.85rem;
}

#events .event-status {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
    background-color: var(--main-color);
    color: #fff;
    font-size: 0.75rem;
    border-radius: 50px;
    padding: 3px 12px;
}

#home-statistics {
    padding-block: 30px;
}

#home-statistics .card {
    background-color: transparent;
    border: solid 1px #aaa;
    color: #000;
    text-align: center;
    border-radius: 15px;
}

#home-statistics .card h3 {
    margin-bottom: 0;
    font-weight: 800;
    color: var(--clr-orange);
    font-family: 'Inter', sans-serif !important;
    font-size: 1.8rem;
}

#exe-members {
    background-color: #fff;
    padding: 40px 0;
}

#exe-members .card {
    transition: all .25s ease-in;
    border-radius: 10px;
    padding-bottom: 20px;
    border-bottom: solid 4px #eee;
    /* box-shadow: 0 8px 16px 0 rgb(60 110 203 / 10); */
}

#exe-members .card .card-img-top {
    width: 130px;
    margin-bottom: 15px;
}

#exe-members .card:hover {
    background-color: #fff;
    transition: all .25s ease-in;
    border-bottom: solid 4px var(--main-color);
}

#exe-members .card-title {
    font-size: 1.1rem;
}

#exe-members .card-text {
    font-size: 0.85rem;
    color: #777;
    margin-bottom: 35px;
}

#exe-members .card-link {
    color: var(--clr-green);
    padding: 10px 13px;
    background-color: #eee;
    border-radius: 5px;
}

.main {
    display: block;
    position: relative;
    font-family: 'Inter', 'Noto Sans', sans-serif !important;
}

.main:after {
    content: "";
    background-image: url('../../../assets/images/ncp-founders/sharad-pawar.png');
    background-position: left;
    background-repeat: no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    filter: grayscale(0.8);
    background-size: 50% auto;
    background-position-y: 60px;
    background-position-x: -66px;
}

#downloadapp h1.display-4 {
    font-size: 3.5rem !important;
    line-height: normal !important;
    font-family: 'Inter', sans-serif !important;
}

#downloadapp h5 {
    font-size: 1.3rem !important;
    font-family: 'Inter', sans-serif !important;
}

#downloadapp .store-icon {
    width: 150px;
    height: 50px;
    margin-right: 15px;
}