<div class="container-fluid">
    <div class="main">
        <header>
            <div class="row bg-white border-bottom">
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row g-0" id="topbar">
                            <div class="col-sm-6 d-flex align-items-center">
                                <a href="mailto:info@ncpyouth.com"><i class="far fa-envelope me-2"></i>
                                    info@ncpyouth.com</a>
                            </div>
                            <div class="col-sm-6 text-end">
                                Language :
                                <div class="btn-group ms-2" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                                        checked>
                                    <label class="btn btn-outline-secondary" for="btnradio1">English</label>
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                    <label class="btn btn-outline-secondary" for="btnradio2">Marathi</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-white shadow-sm">
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <nav class="navbar navbar-expand-lg navbar-light bg-white">
                                    <a class="navbar-brand" href="/home">
                                        <img src="assets/images/dashboard-images/ncp-logo.png" alt="NCP Youth Congress"
                                            class="logo" />
                                    </a>
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <div class="d-flex ms-auto">
                                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                                <li class="nav-item">
                                                    <a class="nav-link active" aria-current="page" href="#">
                                                        <i class="fas fa-home"></i>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">About</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Events</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Team</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Contact</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link donate" href="#">Donate Now</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/login">Login</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        <div class="row">
            <div class="col-sm-12">
                <div class="container">
                    <div class="row" id="founders">
                        <div class="col-sm-12 text-center">
                            <img src="assets/images/ncp-founders/sharad-pawar.png">
                            <img src="assets/images/ncp-founders/supriya-sule.png">
                            <img src="assets/images/ncp-founders/ajit-pawar.png">
                            <img src="assets/images/ncp-founders/jayant-patil.png">
                            <img src="assets/images/ncp-founders/chhagan-bhujbal.png">
                        </div>
                    </div>
    
                    <div class="row">
                        <div id="home-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-sm-6 pt-5">
                                            <h1>We are working for People & Country's Development</h1>
                                            <button type="button" class="btn btn-home-green">Join Us Now</button>
                                        </div>
                                        <div class="col-sm-6 px-5 py-2">
                                            <img src="assets/images/home-banner.png" class="img-fluid" />
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-6 px-5 py-2">
                                            <img src="assets/images/home-banner.png" class="img-fluid" />
                                        </div>
                                        <div class="col-sm-6 pt-5">
                                            <h1>Together we will move the Nation</h1>
                                            <button type="button" class="btn btn-home-green">Learn More</button>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-6 pt-5">
                                            <h1>The Power of Your Voice will bring the Change.</h1>
                                            <button type="button" class="btn btn-home-green">Learn More</button>
                                        </div>
                                        <div class="col-sm-6 px-5 py-2">
                                            <img src="assets/images/home-banner.png" class="img-fluid" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm-6 px-5 py-2">
                            <img src="assets/images/home-banner.png" class="img-fluid" />
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section" id="pres-msg">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <img src="assets/images/MehabubShaikh.jpg" class="pres-photo">
                    </div>
                    <div class="col-sm-6 p-5">
                        <h3 class="section-head">President's Message</h3>
                        <p class="home-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Globally eenable turnkey applications.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="sub-head">Organizing for Action</h6>
                        <h3 class="section-head">What We Do?</h3>
                        <p class="home-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Globally eenable turnkey applications.</p>
                        <p class="home-para">Efciey diseminate mtidisciplinary mindshare after clientcentered creative
                            theme experienvertcal paradigms before resource maximg convergence. Efciey diseminate
                            mindshare clientcentered.</p>
                    </div>
                    <div class="col-sm-6 ps-5" id="mission">
                        <h4 class="text-muted text-uppercase fw-bold mb-5">Our Mission</h4>
                        <div class="d-flex media">
                            <div class="flex-shrink-0">
                                <i class="fas fa-fist-raised media-icon"></i>
                            </div>
                            <div class="flex-grow-1 ms-3 media-body">
                                <h4>Fighting Hate</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
                                </p>
                            </div>
                        </div>
                        <div class="d-flex media">
                            <div class="flex-shrink-0">
                                <i class="fas fa-hands-helping media-icon"></i>
                            </div>
                            <div class="flex-grow-1 ms-3 media-body">
                                <h4>Make Yuva Strong</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
                                </p>
                            </div>
                        </div>
                        <div class="d-flex media">
                            <div class="flex-shrink-0">
                                <i class="fas fa-award media-icon"></i>
                            </div>
                            <div class="flex-grow-1 ms-3 media-body">
                                <h4>Voice of Youth</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section" id="events">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h6 class="sub-head">Programs for Youth</h6>
                        <h3 class="section-head head-center">Events Organized by Party</h3>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="https://static.indianexpress.com/m-images/M_Id_269657_Nationalist_Congress_Party_Workers.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="text-end mb-2">
                                    <small class="text-muted"><i class="fas fa-calendar-alt me-2"></i>
                                        10-02-2021</small>
                                </div>
                                <h6 class="card-title">Indhan Dharvad Andolan</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content....</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="https://static.indianexpress.com/m-images/M_Id_269657_Nationalist_Congress_Party_Workers.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="text-end mb-2">
                                    <small class="text-muted"><i class="fas fa-calendar-alt me-2"></i>
                                        10-02-2021</small>
                                </div>
                                <h6 class="card-title">Indhan Dharvad Andolan</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content....</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="https://static.indianexpress.com/m-images/M_Id_269657_Nationalist_Congress_Party_Workers.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="text-end mb-2">
                                    <small class="text-muted"><i class="fas fa-calendar-alt me-2"></i>
                                        10-02-2021</small>
                                </div>
                                <h6 class="card-title">Indhan Dharvad Andolan</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content....</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="https://static.indianexpress.com/m-images/M_Id_269657_Nationalist_Congress_Party_Workers.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="text-end mb-2">
                                    <small class="text-muted"><i class="fas fa-calendar-alt me-2"></i>
                                        10-02-2021</small>
                                </div>
                                <h6 class="card-title">Indhan Dharvad Andolan</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content....</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section" id="home-statistics">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card card-body">
                            <p>Total Members</p>
                            <h3>2345</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card card-body">
                            <p>Social Works</p>
                            <h3>2345</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card card-body">
                            <p>Events Organized</p>
                            <h3>2345</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card card-body">
                            <p>Personal Help</p>
                            <h3>2345</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section" id="exe-members">
        <div class="col-sm-12">
            <div class="container">
                <div class="col-sm-12 text-center">
                    <h6 class="sub-head">Our Team</h6>
                    <h3 class="section-head head-center">Youth Karyakarini</h3>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="assets/images/MehabubShaikh.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">President</h5>
                                <p class="card-text">Maharashtra Rajya Yuvak Congress</p>
                                <a href="#" class="card-link"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="assets/images/MehabubShaikh.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">President</h5>
                                <p class="card-text">Maharashtra Rajya Yuvak Congress</p>
                                <a href="#" class="card-link"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="assets/images/MehabubShaikh.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">President</h5>
                                <p class="card-text">Maharashtra Rajya Yuvak Congress</p>
                                <a href="#" class="card-link"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="assets/images/MehabubShaikh.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">President</h5>
                                <p class="card-text">Maharashtra Rajya Yuvak Congress</p>
                                <a href="#" class="card-link"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section" id="footer">
        <div class="col-sm-12">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-3">
                        <a href="#" class="social-link"><i class="fab fa-facebook-square"></i> NCPSpeaks</a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="social-link"><i class="fab fa-twitter"></i> NCPSpeaks</a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="social-link"><i class="fab fa-instagram"></i> NCPSpeaks</a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="social-link"><i class="fab fa-youtube"></i> NCPSpeaks</a>
                    </div>
                </div>
                <hr />
                <div class="row" id="bottom">
                    <div class="col-sm-12 text-center">
                        Copyright © 2021, <a href="https://ncpyouths.com" target="_blank">https://ncpyouths.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>