<div class="container-fluid">
    <div class="main">


        <div class="row">
            <div class="col-sm-12">
                <div class="container">
                    <div class="row" id="founders">
                        <div class="col-sm-12 text-center">
                            <img src="assets/images/ncp-founders/sharad-pawar.png">
                            <img src="assets/images/ncp-founders/supriya-sule.png">
                            <img src="assets/images/ncp-founders/ajit-pawar.png">
                            <img src="assets/images/ncp-founders/jayant-patil.png">
                            <img src="assets/images/ncp-founders/chhagan-bhujbal.png">
                        </div>
                    </div>

                    <div class="row">
                        <div id="home-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-sm-6 pt-5">
                                            <h1>We are working for People & Country's Development</h1>
                                            <button type="button" class="btn btn-home-green">Join Us Now</button>
                                        </div>
                                        <div class="col-sm-6 px-5 py-2">
                                            <img src="assets/images/home-banner.png" class="img-fluid" />
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-6 pt-5">
                                            <h1>Together we will move the Nation</h1>
                                            <button type="button" class="btn btn-home-green">Learn More</button>
                                        </div>
                                        <div class="col-sm-6 px-5 py-2">
                                            <img src="assets/images/home-banner.png" class="img-fluid" />
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-6 pt-5">
                                            <h1>The Power of Your Voice will bring the Change.</h1>
                                            <button type="button" class="btn btn-home-green">Learn More</button>
                                        </div>
                                        <div class="col-sm-6 px-5 py-2">
                                            <img src="assets/images/home-banner.png" class="img-fluid" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm-6 px-5 py-2">
                            <img src="assets/images/home-banner.png" class="img-fluid" />
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section" id="pres-msg">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <img src="assets/images/MehabubShaikh.jpg" class="pres-photo">
                    </div>
                    <div class="col-sm-6 p-5">
                        <h3 class="section-head">President's Message</h3>
                        <p class="home-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Globally eenable turnkey applications.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="sub-head">Organizing for Action</h6>
                        <h3 class="section-head">What We Do?</h3>
                        <p class="home-para">Shri. Sharad Pawar Saheb has always considered Nationalist Youth Congress as a platform for youth to build their leadership qualities and to increase their active participation in politics. Nationalist Youth Congress has emerged
                            as one of the strongest youth organizations in Maharashtra. The important agendas of the party are carried out by this youth cell. It is one of the most active cells of the party and plays a major role in many activities.</p>
                        <p class="home-para">Mahebub Sheikh, its state president, has made efforts for the advancement of the youth in many ways. Nationalist Youth Congress has brought about a great convergence with its innovative agitations on various issues.</p>
                        <p class="home-para">Nationalist Youth Congress has always taken an initiative to serve people in social issues as well as during natural calamities.</p>
                    </div>
                    <div class="col-sm-6 ps-5" id="mission">
                        <h4 class="text-muted text-uppercase fw-bold mb-5">Our Mission</h4>
                        <div class="d-flex media">
                            <div class="flex-shrink-0">
                                <i class="fas fa-fist-raised media-icon"></i>
                            </div>
                            <div class="flex-grow-1 ms-3 media-body">
                                <h4>Fighting Hate</h4>
                                <p>We are committed to fight against Caste, Religion, Economical, Gender based hate.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex media">
                            <div class="flex-shrink-0">
                                <i class="fas fa-hands-helping media-icon"></i>
                            </div>
                            <div class="flex-grow-1 ms-3 media-body">
                                <h4>Make Yuva Strong</h4>
                                <p>We made efforts for the advancement of Yuva in many ways by providing them able guidance, support.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex media">
                            <div class="flex-shrink-0">
                                <i class="fas fa-award media-icon"></i>
                            </div>
                            <div class="flex-grow-1 ms-3 media-body">
                                <h4>Voice of Youth</h4>
                                <p>We always raise our voice for Youths and their problems and helped to solve them.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section" id="events">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h6 class="sub-head">Programs for Youth</h6>
                        <h3 class="section-head head-center">Events Organized by Party</h3>
                    </div>
                    <!-- <div class="col-sm-3">
                        <div class="card">
                            <span class="event-status">
                                Upcoming
                            </span>
                            <img src="https://static.indianexpress.com/m-images/M_Id_269657_Nationalist_Congress_Party_Workers.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="text-end mb-2">
                                    <small class="text-muted"><i class="fas fa-calendar-alt me-2"></i>
                                        10-02-2021</small>
                                </div>
                                <h6 class="card-title">Indhan Dharvad Andolan</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content....</p>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-sm-3" *ngFor="let events of allLatestEvent" (click)="redirectToEvent(events?.EventId)">
                        <div class="card">
                            <img *ngIf="!events?.ImagePath" src="https://static.indianexpress.com/m-images/M_Id_269657_Nationalist_Congress_Party_Workers.jpg" class="card-img-top" alt="...">
                            <img *ngIf="events?.ImagePath" src="{{events?.ImagePath}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="text-end mb-2">
                                    <small class="text-muted"><i class="fas fa-calendar-alt me-2"></i>
                                        {{events?.ProgramStartDate}} ~ {{events?.ProgramEndDate}}</small>
                                </div>
                                <h6 class="card-title"> {{events?.ProgramTitle | titlecase}}</h6>
                                <div class="card-text" [innerHTML]="events?.ProgramDescription"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row section" id="home-statistics">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card card-body">
                            <p>Total Members</p>
                            <h3>2345</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card card-body">
                            <p>Social Works</p>
                            <h3>2345</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card card-body">
                            <p>Events Organized</p>
                            <h3>2345</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card card-body">
                            <p>Personal Help</p>
                            <h3>2345</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section" id="exe-members">
        <div class="col-sm-12">
            <div class="container">
                <div class="col-sm-12 text-center">
                    <h6 class="sub-head">Our Team</h6>
                    <h3 class="section-head head-center">Youth Karyakarini</h3>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="assets/images/executive-members/RavikantVarpe.jpg" class="card-img-top" alt="Ravikant Varpe">
                            <div class="card-body text-center">
                                <h5 class="card-title">Shri. Ravikant Varpe</h5>
                                <h4 class="h6 text-dark mb-2 fw-bold">Chairman</h4>
                                <p class="card-text">Maharashtra Rajya Yuvak Congress</p>
                                <a href="#" class="card-link"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="assets/images/executive-members/SunilChavan.jpg" class="card-img-top" alt="Sunil Chavan">
                            <div class="card-body text-center">
                                <h5 class="card-title">Shri. Sunil Chavan</h5>
                                <h4 class="h6 text-dark mb-2 fw-bold">Chairman</h4>
                                <p class="card-text">Maharashtra Rajya Yuvak Congress</p>
                                <a href="#" class="card-link"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="assets/images/executive-members/AbhaysinghJagtap.jpg" class="card-img-top" alt="Abhaysingh Jagtap">
                            <div class="card-body text-center">
                                <h5 class="card-title">Shri. Abhaysingh Jagtap</h5>
                                <h4 class="h6 text-dark mb-2 fw-bold">General Secretary</h4>
                                <p class="card-text">Maharashtra Rajya Yuvak Congress</p>
                                <a href="#" class="card-link"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="assets/images/executive-members/ArunAsabe.jpg" class="card-img-top" alt="Arun Asabe">
                            <div class="card-body text-center">
                                <h5 class="card-title">Shri. Arun Asabe</h5>
                                <h4 class="h6 text-dark mb-2 fw-bold">Secretary</h4>
                                <p class="card-text">Maharashtra Rajya Yuvak Congress</p>
                                <a href="#" class="card-link"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="card-link"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row section" id="downloadapp">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 py-5">
                        <h1 class="display-4 fw-light">Download the App <br>& Join Us</h1>
                        <h5 class="fw-light lh-base mt-3 mb-5">Lets Connect to most progressive and visionary organization for your better future.</h5>
                        <a href="https://play.google.com/store/apps/details?id=com.stpl.ncp_youth" target="_blank">
                            <img src="assets/images/GooglePlayStore.png" class="store-icon">
                        </a>
                        <a href="https://apps.apple.com/us/app/ncp-youth/id1581373014" target="_blank">
                            <img src="assets/images/AppleStore.png" class="store-icon">
                        </a>
                    </div>
                    <div class="col-sm-6 px-5">
                        <img src="assets/images/DownloadApp.svg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>