<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <header>
                <div class="row bg-white border-bottom">
                    <div class="col-sm-12">
                        <div class="container">
                            <div class="row g-0" id="topbar">
                                <div class="col-sm-6 d-flex align-items-center">
                                    <a href="mailto:info@ncpyouth.com"><i class="far fa-envelope me-2"></i>
                                        info@ncpyouth.com</a>
                                </div>
                                <div class="col-sm-6 text-end">
                                    Language :
                                    <div class="btn-group ms-2" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                        <label class="btn btn-outline-secondary" for="btnradio1">English</label>
                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                        <label class="btn btn-outline-secondary" for="btnradio2">Marathi</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-white shadow-sm">
                    <div class="col-sm-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                                        <a class="navbar-brand" href="/home">
                                            <img src="assets/images/dashboard-images/ncp-logo.png" alt="NCP Youth Congress" class="logo" />
                                        </a>
                                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                            <div class="d-flex ms-auto">
                                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" aria-current="page" href="/home">
                                                            <i class="fas fa-home"></i>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link">About</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/events">Events</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link">Team</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link">Contact</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link donate">Donate Now</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/login">Login</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>