
        <div class="recent-posts">
        <div class="row member-posts">
            <div class="col-sm-6" *ngFor="let dashboardActivities of resDashboardActivities">
                <a class="card shadow-none border" data-bs-toggle="modal" data-bs-target="#PostDetailModal"
                    (click)="openRecentPostDetails(dashboardActivities)">
                    <ng-container>
                        <img src="{{dashboardActivities?.ImagePath.split(',')[0]}}" class="card-img-top post-image" alt="...">
                    </ng-container>
                    
                    <div class="card-body py-2">
                        <div class="member">
                            <span class="post-type"></span>
                            <span class="post-date">{{dashboardActivities?.Category}}</span>
                            <p class="member-name">{{dashboardActivities?.UserFName}} {{dashboardActivities?.UserLName}}</p>
                            <p class="post-title">{{dashboardActivities?.Description}}</p>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent p-0 d-flex justify-content-between">
                        <a href="#" class="card-link"><i class="fas fa-thumbs-up me-2 text-primary"></i>{{dashboardActivities?.Likes}}</a>
                        <a href="#" class="card-link border-start border-end"><i class="fas fa-comments me-2 text-success"></i>{{dashboardActivities?.Comments}}</a>
                        <a href="#" class="card-link"><i class="fas far fa-eye me-2 text-info"></i>{{dashboardActivities?.IsLike}}</a>
                    </div>
                </a>
            </div>
            <!-- <div class="col-sm-6">
                <a class="card shadow-none border" data-bs-toggle="modal" data-bs-target="#PostDetailModal"
                    (click)="openRecentPostDetails()">
                    <img src="assets/images/event-header.jpg" class="card-img-top post-image" alt="...">
                    <div class="card-body py-2">
                        <div class="member">
                            <span class="post-type">Political Work</span>
                            <span class="post-date">10-12-2021</span>
                            <p class="member-name">Member Name</p>
                            <p class="post-title">Examination of Central Committee working towards uplifting of Girl/Child
                                Education in Maharashtra State from 2020-2021</p>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent p-0 d-flex justify-content-between">
                        <a href="#" class="card-link"><i class="fas fa-thumbs-up me-2 text-primary"></i>10</a>
                        <a href="#" class="card-link border-start border-end"><i class="fas fa-comments me-2 text-success"></i>15</a>
                        <a href="#" class="card-link"><i class="fas fa-share-square me-2 text-info"></i>25</a>
                    </div>
                </a>
            </div>
           -->
        </div>
    </div>