<!-- <div class="recent-posts">
    <div class="row member-posts">
        <div class="col-sm-6"
            *ngFor="let dashboardActivities of resDashboardActivities  | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index">
            <a class="card shadow-none border" data-bs-toggle="modal" data-bs-target="#PostDetailModal" (click)="openRecentPostDetails(dashboardActivities)">
                <ng-container>
                    <img src="{{dashboardActivities?.ImagePath.split(',')[0]}}" class="card-img-top post-image"
                        alt="...">
                </ng-container>

                <div class="card-body py-2">
                    <div class="member">
                        <span class="post-type">{{dashboardActivities?.Category}}</span>
                        <span class="post-date">{{dashboardActivities?.ActivityDate}}</span>
                        <p class="member-name">{{dashboardActivities?.UserFName}} {{dashboardActivities?.UserLName}}</p>
                        <p class="post-title">{{dashboardActivities?.Description}}</p>
                    </div>
                </div>
                <div class="card-footer bg-transparent p-0 d-flex justify-content-between">
                    <a href="#" class="card-link"><i
                            class="fas fa-thumbs-up me-2 text-primary"></i>{{dashboardActivities?.Likes}}</a>
                    <a href="#" class="card-link border-start border-end"><i
                            class="fas fa-comments me-2 text-success"></i>{{dashboardActivities?.Comments}}</a>
                    <a href="#" class="card-link"><i
                            class="fas far fa-eye me-2 text-info"></i>{{dashboardActivities?.IsLike}}</a>
                </div>
            </a>
        </div>        
    </div>
</div>

<div class="mt-2 text-end" *ngIf="resDashboardActivities?.length != 0">
    <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event)">
    </pagination-controls>
</div> -->
<div class="recent-posts">
    <div class="member-posts"
        *ngFor="let dashboardActivities of resDashboardActivities  | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index">
            <div class="row g-3">
                <div class="col-3">
                    
                    <img *ngIf="dashboardActivities?.ImagePath" src="{{dashboardActivities?.ImagePath.split(',')[0]}}" class="post-image" alt="...">
                    <img   *ngIf="!dashboardActivities?.ImagePath" src="assets/images/dashboard-images/ncp-default.png" class="post-image" alt="...">
                </div>
                <div class="col-9">
                    <div class="row mb-2">
                        <div class="col-sm-5">
                            <span class="post-type">{{dashboardActivities?.Category}}</span>
                        </div>
                        <div class="col-sm-7 text-end">
                            <span class="post-date"><i
                                    class="far fa-clock me-1"></i>{{dashboardActivities?.ActivityDate}}  {{dashboardActivities?.ActivityTime}}</span>
                        </div>
                    </div>
                    <h6 class="member-name">{{dashboardActivities?.UserFName}} {{dashboardActivities?.UserLName}}</h6>
                    <div class="post-details">
                        <p class="post-title">{{dashboardActivities?.Description | titlecase}}</p>
                        <div class="row small text-muted">
                            <div class="col-sm-4"><i class="far fa-thumbs-up me-2"></i>{{dashboardActivities?.Likes}}
                            </div>
                            <div class="col-sm-4"><i class="far fa-comments me-2"></i>{{dashboardActivities?.Comments}}
                            </div>
                            <div class="col-sm-4"><i
                                    class="far fa-share-square me-2"></i>{{dashboardActivities?.IsLike}}
                            </div>
                        </div>
                        <div>
                                <div class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#PostDetailModal"
                                (click)="openRecentPostDetails(dashboardActivities)"><i class="far fa-eye"></i></div>
                           
                            <div *ngIf="dashboardActivities?.Createdby == userId"><button type="button" (click)="delConfirmCanActivity(dashboardActivities.Id)" class="btn btn-sm btn-light text-danger rounded"><i class="fas fa-trash-alt"></i></button></div>
                            <div *ngIf="dashboardActivities?.Createdby != userId">
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AbuseModal" (click)="abuseCheckConfirm(dashboardActivities.Id)">Abuse</button>
                            </div>
                            <!-- (change)="blockUnblockUserModal(resultExeMember.IsUserBlock,resultExeMember?.MemberId)" -->

                        </div>
                    </div>
                </div>
            </div>

        <hr class="my-2">
    </div>
</div>
<div class="mt-2 text-end" *ngIf="resDashboardActivities?.length != 0">
    <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event)">
    </pagination-controls>
</div>


<!-- delete Model -->

<div class="modal fade" id="AbuseModal" tabindex="-1" aria-labelledby="AbuseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header bg-transparent border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body text-center pb-5">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10"
                cx="65.1" cy="65.1" r="62.1" />
            <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
                stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
            <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
                stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
        </svg>
        <h3 class="my-3">Are You Sure?</h3>
        <p class="mb-4">Do you really want to Abuse? This process can not be undone.</p>
        <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button"  data-bs-dismiss="modal"
            aria-label="Close">Cancel</button>
        <button class="btn btn-danger" type="button" data-bs-dismiss="modal" (click)="abuseInsertLikes(3)" aria-label="Close" type="button"
            data-bs-dismiss="modal" aria-label="Close" >I'm
            Sure</button>
    </div>
</div>
</div>
</div>