.member-posts a.card{
    margin-bottom: 15px;
}
.member-posts a{
    text-decoration: none !important;
}
.member-posts a:hover{
    background-color: #fafafa;
    text-decoration: none !important;
}
.member-posts .member-name{
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.member-posts .post-date{
    font-size: 0.65rem;
    color: #000;
    background: rgba(231, 231, 231, 0.7);
    padding: 3px 10px;
    border-radius: 15px;
}
.member-posts .post-type{
    font-size: 0.65rem;
    color: #000;
    background: rgba(231, 231, 231, 0.7);
    padding: 3px 10px;
    border-radius: 15px;
}
  .member-posts .post-title {
    font-size: 0.85rem;
    color:#222;
    margin-bottom: 5px;
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  }
  .member-posts .post-image{
      width: 100%;
      height: 94px;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
  } 
  .member-posts .card-link {
    width: 33.33%;
    text-align: center;
    padding: 6px;
    font-size: 0.85rem;
    color: #000;
}
.recent-posts{
    max-height: 603px;
        overflow-y: auto;
        padding: 1px;
        overflow-x: hidden;
  }
  .action-buttons button{
    font-size: 0.7rem;
}