#exe-members .card {
    border: none !important;
    border-radius: 10px;
    padding: 10px;
}


/* #exe-members .card-body {
    padding-top: 0;
} */

#exe-members .card img {
    border: none !important;
    border-radius: 10px !important;
    /* box-shadow: 2px 2px 5px #aaa; */
}

#exe-members h5.card-title {
    font-size: 1.1rem;
    color: var(--main-color);
    font-weight: 600;
}

#exe-members p.card-text {
    font-size: 0.9rem;
    color: #777;
}

#exe-members p.small {
    font-size: 0.8rem;
    color: #999;
    margin-bottom: 8px
}

#exe-members p.small i {
    width: 20px;
}