<div class="container-fluid">
    <div class="row  col-sm-12 " id="pageheader">
        <div class="col-sm-3">
                <span class="page-name">Perception on Social Media
                </span>
                </div>
            <div class="col-sm-2">
                <span>
                    <input [owlDateTime]="dt1" (dateTimeChange)="getweekRage($event)" class="form-control form-control-sm"  [max]="maxDate" [selectMode]="'range'" [owlDateTimeTrigger]="dt1" placeholder="Select Weekly Date">
                    <owl-date-time #dt1 [pickerType]="'calendar'" ></owl-date-time>
                </span> 
            </div>
        </div>
   

    <div class="row">
        <div class="col-sm-6 chartbox">
            <div class="card mb-3">
                <div class="card-header">Trend on Social Media</div>
                <div class="card-body chartHeight trendSocialMediaChart">
                    
                </div>
            </div>
            <div class="card">
                <div class="card-header">Party Influence Map</div>
                <div class="card-body">
                    <img src="assets/images/mahamap.svg" class="img-fluid mb-4" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 chartbox">
            <div class="card mb-3">
                <div class="card-header">Perception on Social Media
                    <span class="float-end">
                        <select class="form-select-sm form-select">
                            <option value="">Select Constituency</option>
                        </select>
                    </span>
                </div>
                <div class="card-body chartHeight socialMediaChartdiv">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header text-success">Most Liked Person/Party</div>
                        <div class="card-body pt-0 pb-1">
                            <a class="activity-item bg-high" *ngFor="let mostLikedPerson of mostLikedPersonArray">
                                {{mostLikedPerson.PersonName}}
                                <span class="float-end">{{mostLikedPerson.cnt}}</span>
                            </a>
                            <!-- <a class="activity-item bg-high">
                                Sambhajiraje Bhosale
                                <span class="float-end">250</span>
                            </a>
                            <a class="activity-item bg-high">
                                NCP
                                <span class="float-end">250</span>
                            </a>
                            <a class="activity-item bg-high">
                                Nitin Gadkari
                                <span class="float-end">250</span>
                            </a>
                            <a class="activity-item bg-high">
                                Jayant Patil
                                <span class="float-end">250</span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header text-danger">Most Hated Person/Party</div>
                        <div class="card-body pt-0 pb-1">
                            <a class="activity-item bg-low" *ngFor="let mostHatedPerson of mostHatedPersonArray">
                                {{mostHatedPerson.PersonName}}
                                <span class="float-end">{{mostHatedPerson.cnt}}</span>
                            </a>
                            <!-- <a class="activity-item bg-low">
                                Narendra Modi
                                <span class="float-end">250</span>
                            </a>
                            <a class="activity-item bg-low">
                                Devendra Fadnavis
                                <span class="float-end">250</span>
                            </a>
                            <a class="activity-item bg-low">
                                Adityanath Yogi
                                <span class="float-end">250</span>
                            </a>
                            <a class="activity-item bg-low">
                                Gas Price Hike
                                <span class="float-end">250</span>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>