<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-3">
            <span class="page-name">Perception on Social Media</span>
        </div>
        <div class="col-sm-9">
            <form [formGroup]="filterForm">
            <div class="row g-1 d-flex justify-content-end">
                <div class="col-sm-3">
                    <ngx-select [allowClear]="true" (remove)="clearFilter('district')" formControlName="DistrictId" [items]="allDistrict" optionValueField="DistrictId" optionTextField="DistrictName" 
                    placeholder="Select District" (select)="getTaluka(this.filterForm.value.DistrictId)">
                    </ngx-select>
                </div>
                <div class="col-sm-3">
                    <ngx-select [allowClear]="true" (remove)="clearFilter('taluka')"  (select)="filterData()" [items]="getTalkaByDistrict" [disabled]="!filterForm.value.DistrictId" formControlName="TalukaId"  placeholder="Select Taluka"
                    optionValueField="TalukaId" optionTextField="TalukaName">
                </ngx-select>
                </div>

                <div class="col-sm-3">
                    <div class="input-group">
                        <input [owlDateTime]="dt1" formControlName="fromTo" (dateTimeChange)="getweekRage($event)" [(ngModel)]="dateRange"
                            class="form-control form-control-sm" [max]="maxDate" [selectMode]="'range'"
                            [owlDateTimeTrigger]="dt1" placeholder="Select Weekly Date">
                        <owl-date-time #dt1 [pickerType]="'calendar'" [owlDateTimeTrigger]="dt1"></owl-date-time>
                        <button type="button" class="btn btn-light btn-sm" [owlDateTimeTrigger]="dt1" *ngIf="!defaultCloseBtn"><i class="fas fa-calendar-alt"></i></button>
                        <button class="btn btn-light border btn-sm" type="button" *ngIf="defaultCloseBtn" (click)="clearFilter('Date')">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <button type="button" class="btn btn-secondary rounded btn-sm" (click)="location.back();"><i class="fas fa-arrow-left"></i></button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 chartbox">
            <div class="card mb-3">
                <div class="card-header">Trend on Social Media</div>
                <div class="card-body chartHeight trendSocialMediaChart">

                </div>
            </div>
            <div class="card">
                <div class="card-header">Party Influence Map</div>
                <div class="card-body">
                    <img src="assets/images/mahamap.svg" class="img-fluid mb-4" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 chartbox">
            <div class="card mb-3">
                <div class="card-header">Perception on Social Media
                    <!-- <span class="float-end">
                        <select class="form-select-sm form-select">
                            <option value="">Select Constituency</option>
                        </select>
                    </span> -->
                </div>
                <div class="card-body chartHeight socialMediaChartdiv">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header text-success">Most Liked Person/Party</div>
                        <div class="card-body pt-0 pb-1">
                            <a class="activity-item bg-high" *ngFor="let mostLikedPerson of mostLikedPersonArray">
                                {{mostLikedPerson.PersonName}}
                                <span class="float-end">
                                    <span class="badge bg-success">{{mostLikedPerson.cnt}}</span>
                                </span>
                            </a>
                            <!-- <a class="activity-item bg-high">
                                Sambhajiraje Bhosale
                                <span class="float-end">250</span>
                            </a>
                            <a class="activity-item bg-high">
                                NCP
                                <span class="float-end">250</span>
                            </a>
                            <a class="activity-item bg-high">
                                Nitin Gadkari
                                <span class="float-end">250</span>
                            </a>
                            <a class="activity-item bg-high">
                                Jayant Patil
                                <span class="float-end">250</span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header text-danger">Most Hated Person/Party</div>
                        <div class="card-body pt-0 pb-1">
                            <a class="activity-item bg-low" *ngFor="let mostHatedPerson of mostHatedPersonArray">
                                {{mostHatedPerson.PersonName}}
                                <span class="float-end">
                                    <span class="badge bg-danger">{{mostHatedPerson.cnt}}</span>
                                </span>
                            </a>
                            <!-- <a class="activity-item bg-low">
                                Narendra Modi
                                <span class="float-end">250</span>
                            </a>
                            <a class="activity-item bg-low">
                                Devendra Fadnavis
                                <span class="float-end">250</span>
                            </a>
                            <a class="activity-item bg-low">
                                Adityanath Yogi
                                <span class="float-end">250</span>
                            </a>
                            <a class="activity-item bg-low">
                                Gas Price Hike
                                <span class="float-end">250</span>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>