<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader" class="row mx-0 px-0">
                <span class="page-name">Committee Master
                </span>
            </div>
        </div>
    </div>

    <div class="row chartbox mb-3 form-container">
        <div class="col-sm-12">
            <div class=" main-card" >

                    <div class="row g-4">
                        <div class="col-sm-3">
                            <div class="card card-body border rounded-4 shadow-none details-card">
                                <div class="text-center">
                                    <img src="assets/images/dashboard-images/ncp-default.png" alt="" height="70px" class="rounded-pill">
                                    <h6 class=" fw-semibold my-2 text-main">NCPC</h6>
                                </div>
                                <ul class="list-group list-group-flush ">
                                     <li class="list-group-item  border-top-0 border-end-0 border-start-0">
                                        <div class="d-flex gap-2 align-items-center">
                                           <i class="fas fa-user text-main"></i>
                                            <div class="form-data fw-bold">Suresh Mane (अध्यक्ष)</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item  border-top-0 border-end-0 border-start-0">
                                        <div class="d-flex gap-2 align-items-center">
                                            <i class="fas fa-phone text-main" style="rotate: 90deg;"></i>
                                            <div class="form-data">9598969896</div>
                                        </div>
                                    </li>
                                     <!-- <li class="list-group-item  border-0">
                                        <div class="d-flex gap-2 align-items-center">
                                            <i class="far fa-id-badge text-main"></i>
                                            <div class="form-data ms-1">Member</div>
                                        </div>
                                    </li> -->
                                     <li class="list-group-item  border-0">
                                    <div class="d-flex align-items-center  justify-content-between">
                                        <div class="avatar-group">
                                        <div class="avatar">
                                            <img src="https://i.imgur.com/uIgDDDd.png" alt="Avatar 1" />
                                        </div>
                                        <div class="avatar">
                                            <img src="https://i.imgur.com/uIgDDDd.png" alt="Avatar 2" />
                                        </div>
                                    </div>

                                    <div class="member-count">
                                         <i class="far fa-id-badge text-main"></i> 45 Members
                                    </div>
                                    </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                      
                    </div>
 
            </div>
        </div>
    </div>
</div>