.example-list .example-box{
    cursor: all-scroll;
    border-radius: 7px;
    transition:all .25s ease-in;
}
.example-list .example-box:hover{
    box-shadow: 2px 1px 9px 0px #bbb;    
    transition:all .25s ease-in;
}

.cdk-drag.row.active {
    background: #e9ecef !important;
}

.fs-80rem{
    font-size: .80rem !important;
}
.add-buttons{
    background-color: var(--main-color);
    color: #fff;
    padding: 0px 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.8rem;
    border:0
}
.comm-details a {
    text-decoration: none;
}
.comm-details .btn{
    font-size: 0.8rem;
}
.comm-details .com-level{
    font-size: 0.7rem;
    background-color: #eee;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}
.comm-details .comm-name{
    font-size: 0.85rem;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 5px;
}
.comm-details .comm-area{
    font-size: 0.75rem;
    color:#333;
    margin-left: 15px;
}
.comm-details .comm-desis{
    font-size: 0.8rem;
    color:#333;
}
.comm-details .comm-brrs{
  border-top: solid 1px #ccc;
    display: flex
;
    align-items: center;
    justify-content: stretch;
    font-size: 0.75rem;
    /* margin-top: 10px; */
    padding-block: 6px;
}
.main-card{
    background-color: transparent;
    box-shadow: none !important;
}
.main-card .details-card{
  box-shadow:
  inset 0 1px 2px rgba(0, 0, 0, 0.075),   /* --tw-inset-shadow (example) */
  0 0 #0000,                              /* --tw-inset-ring-shadow (default: none/transparent) */
  0 0 #0000,                              /* --tw-ring-offset-shadow (default: none/transparent) */
  0 0 #0000,                              /* --tw-ring-shadow (default: none/transparent) */
  0 1px 3px rgba(0, 0, 0, 0.1), 
  0 1px 2px rgba(0, 0, 0, 0.06);      
}


.main-card .details-card .list-group .list-group-item{
    border: none !important;
    padding-block: 5px !important;
}

 .avatar-group {
      display: flex;
      align-items: center;
    }

 .avatar-group {
      display: flex;
      align-items: center;
    }

    .avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid white;
      box-shadow: 0 0 0 1px #ccc;
    }

    .avatar + .avatar {
      margin-left: -10px; /* overlap effect */
    }

    .avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .main-card .details-card  .member-count{
        border: 1px solid lightgray;
        width: auto !important;
        border-radius: 25px !important;
        padding: 5px 10px;
        font-size: 0.70rem;
    }

    .main-card .details-card .btn-menu{
        width: fit-content;
        margin-left: auto !important;
    }
     .main-card .details-card .btn-menu .btn:hover,
     .main-card .details-card .btn-menu .btn:active,
     .main-card .details-card .btn-menu .btn.active,
     .main-card .details-card .btn-men .btn.show,
     .main-card .details-card .btn-menu .btn:focus{
        color: var(--main-color);
        background-color: #fff;
     }
     .main-card .details-card .btn-menu .dropdown-menu{
        font-size: 0.80rem !important;
     }