<div class="container-fluid">
    <div class="row" id="membername">
        <div class="col-sm-6">
            Election Name <small class="ms-3 text-secondary">[Election Type]</small>
        </div>
        <div class="col-sm-6 text-end">
            <button type="button" class="btn btn-sm btn-secondary">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
    </div>
    <div class="row" id="dash-stats">
        <div class="col-sm-3">
            <div class="card card-body bg-cyan">
                <i class="fas fa-th-large"></i>
                <p>No. of Wards</p>
                <h3>34</h3>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-body bg-green">
                <i class="fas fa-th"></i>
                <p>No. of Booths</p>
                <h3>34</h3>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-body bg-blue">
                <i class="fas fa-user-shield"></i>
                <p>No. of Candidates</p>
                <h3>34</h3>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-body bg-gold">
                <i class="far fa-id-card"></i>
                <p>No. of Voters</p>
                <h3>34</h3>
            </div>
        </div>
    </div>

    <div class="row chartbox">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">Important Dates
                    <span class="float-end">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#ImportantDatesModal">
                            <i class="fas fa-pen"></i>
                        </a>
                    </span>
                </div>
                <div class="card-body pt-0">
                    <div class="form-container">
                        <div class="mb-2">
                            <label class="form-label">Announcement & issue of Press Note</label>
                            <div class="form-data">Saturday, 21 September, 2019</div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Issue of Notification</label>
                            <div class="form-data">Friday, 28 September, 2019</div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Last Date of filing Nominations</label>
                            <div class="form-data">Monday, 12 October, 2019</div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Scrutiny of Nominations</label>
                            <div class="form-data">Wednesday, 14 October, 2019</div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Last date of withdrawal of Candidature</label>
                            <div class="form-data">Saturday, 18 October, 2019</div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Date of Poll</label>
                            <div class="form-data">Tuesday, 21 October, 2019</div>
                        </div>
                        <div class="mb-0">
                            <label class="form-label">Counting of Votes</label>
                            <div class="form-data">Saturday, 24 October, 2019</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card mb-3">
                <div class="card-header">
                    Candidates
                    <span class="float-end">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#AddCandidateModal">
                            <i class="fas fa-user-plus"></i>
                        </a>
                    </span>
                </div>
                <div class="card-body pt-0">
                    <div class="row row-cols-1 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card h-100 border shadow-none">
                                <div class="card-header text-end py-0">
                                    <div class="btn-group">
                                        <a href="#" class="text-edit pe-3" data-bs-toggle="modal"
                                            data-bs-target="#AddCandidateModal"><i class="fas fa-pen"></i></a>
                                        <a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <img src="assets/images/executive-members/RavikantVarpe.jpg"
                                                class="candidate-photo" alt="...">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <p class="card-title mb-1">Shri. Ajit Pawar</p>
                                            <p class="card-text text-secondary small mb-1 fw-bold">National Congress Party</p>
                                            <small class="text-muted">Ward, Assembly, Constituency</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 border shadow-none">
                                <div class="card-header text-end py-0">
                                    <div class="btn-group">
                                        <a href="#" class="text-edit pe-3" data-bs-toggle="modal"
                                            data-bs-target="#AddCandidateModal"><i class="fas fa-pen"></i></a>
                                        <a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <img src="assets/images/executive-members/RavikantVarpe.jpg"
                                                class="candidate-photo" alt="...">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <p class="card-title mb-1">Shri. Ajit Pawar</p>
                                            <p class="card-text text-secondary small mb-1 fw-bold">National Congress Party</p>
                                            <small class="text-muted">Ward, Assembly, Constituency</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 border shadow-none">
                                <div class="card-header text-end py-0">
                                    <div class="btn-group">
                                        <a href="#" class="text-edit pe-3" data-bs-toggle="modal"
                                            data-bs-target="#AddCandidateModal"><i class="fas fa-pen"></i></a>
                                        <a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <img src="assets/images/executive-members/RavikantVarpe.jpg"
                                                class="candidate-photo" alt="...">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <p class="card-title mb-1">Shri. Ajit Pawar</p>
                                            <p class="card-text text-secondary small mb-1 fw-bold">National Congress Party</p>
                                            <small class="text-muted">Ward, Assembly, Constituency</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 border shadow-none">
                                <div class="card-header text-end py-0">
                                    <div class="btn-group">
                                        <a href="#" class="text-edit pe-3" data-bs-toggle="modal"
                                            data-bs-target="#AddCandidateModal"><i class="fas fa-pen"></i></a>
                                        <a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <img src="assets/images/executive-members/RavikantVarpe.jpg"
                                                class="candidate-photo" alt="...">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <p class="card-title mb-1">Shri. Ajit Pawar</p>
                                            <p class="card-text text-secondary small mb-1 fw-bold">National Congress Party</p>
                                            <small class="text-muted">Ward, Assembly, Constituency</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">Constituency Structure
                    <span class="float-end">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#ReservationModal">
                            <i class="fas fa-plus"></i>
                        </a>
                    </span>
                </div>
                <div class="card-body pt-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Constituency</th>
                                <th>Assembly</th>
                                <th>Ward</th>
                                <th>Booths</th>
                                <th>Reserved For</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Pune Vidhansabha 2021</td>
                                <td>Kharadi Assembly</td>
                                <td>Ward No. 23 - Mukund Nagar</td>
                                <td>
                                    <ul class="mb-0 ps-3 list-column">
                                        <li>ZP School no. 1</li>
                                        <li>ZP School no. 2</li>
                                        <li>ZP School no. 3</li>
                                        <li>ZP School no. 4</li>
                                        <li>ZP School no. 5</li>
                                        <li>ZP School no. 6</li>
                                    </ul>
                                </td>
                                <td>General - Female</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-light btn-sm me-1 rounded text-edit" data-bs-toggle="modal" data-bs-target="#ReservationModal"><i
                                                class="fas fa-pen"></i></button>
                                        <button type="button" class="btn btn-light btn-sm rounded text-danger"><i
                                                class="fas fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Important Dates -->
<div class="modal fade" id="ImportantDatesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ImportantDatesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ImportantDatesModalLabel">Important Dates</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-container">
                    <div class="mb-2">
                        <label class="form-label">Announcement & issue of Press Note</label>
                        <input class="form-control" type="text" placeholder="Day, Date Month, Year">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Issue of Notification</label>
                        <input class="form-control" type="text" placeholder="Day, Date Month, Year">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Last Date of filing Nominations</label>
                        <input class="form-control" type="text" placeholder="Day, Date Month, Year">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Scrutiny of Nominations</label>
                        <input class="form-control" type="text" placeholder="Day, Date Month, Year">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Last date of withdrawal of Candidature</label>
                        <input class="form-control" type="text" placeholder="Day, Date Month, Year">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Date of Poll</label>
                        <input class="form-control" type="text" placeholder="Day, Date Month, Year">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Counting of Votes</label>
                        <input class="form-control" type="text" placeholder="Day, Date Month, Year">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-main btn-sm">Save Information</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for adding candidates -->
<div class="modal fade" id="AddCandidateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="AddCandidateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddCandidateModalLabel">Manage Candidate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-container">
                    <div class="mb-2">
                        <label class="form-label">Photo</label>
                        <div class="cand-photo">
                            <img src="assets/images/executive-members/RavikantVarpe.jpg" />
                            <div class="actions">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-light btn-sm text-secondary mb-1" type="button"><i
                                            class="fas fa-camera"></i></button>
                                    <button class="btn btn-light btn-sm text-dark mb-1" type="button"><i
                                            class="fas fa-times"></i></button>
                                    <button class="btn btn-light btn-sm text-danger" type="button"><i
                                            class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Full Name</label>
                        <input class="form-control" type="text" placeholder="Candidate Name">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Party</label>
                        <select class="form-select">
                            <option value="">Select Party</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-main btn-sm">Save Information</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for adding candidates -->
<div class="modal fade" id="ReservationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ReservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ReservationModalLabel">Manage Reservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-container">
                    <div class="mb-2">
                        <label class="form-label">Constituency</label>
                        <select class="form-select">
                            <option value="">Select Constituency</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Assembly</label>
                        <select class="form-select">
                            <option value="">Select Assembly</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Ward</label>
                        <select class="form-select">
                            <option value="">Select Ward</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Reserved For</label>
                        <select class="form-select">
                            <option value="">Select Category</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-main btn-sm">Save Information</button>
            </div>
        </div>
    </div>
</div>