<div class="container-fluid">
    <div class="row mx-1 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">Forward Activity Tracker</span>
        </div>
        <div class="col-sm-8 text-end">
            <div class="row g-1">
                <div class="col-sm-3 offset-3">
                    <ngx-select [allowClear]="true" [items]="items" placeholder="Select District">
                    </ngx-select>
                </div>
                <div class="col-sm-3">
                    <ngx-select [allowClear]="true" [items]="items" placeholder="Select Taluka">
                    </ngx-select>
                </div>
                <div class="col-sm-3">
                    <ngx-select [allowClear]="true" [items]="items" placeholder="Select City/Village">
                    </ngx-select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-body">
                <div class="row">
                    <div class="col-sm-4" id="memberlist">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <input type="text" class="form-control" placeholder="Search Member">
                            </div>
                            <div class="list-group list-group-flush">
                                <a href="#" class="list-group-item">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img src="assets/images/executive-members/RavikantVarpe.jpg" class="" alt="Ravikant Varpe">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6>Mr. Abhijit Pawar</h6>
                                            <p class="small text-muted mb-0">City/Village, Taluka, District</p>
                                        </div>
                                        <div class="flex-shrink-0 text-end">
                                            <span class="badge bg-main rounded-pill">14</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img src="assets/images/executive-members/RavikantVarpe.jpg" class="" alt="Ravikant Varpe">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6>Mr. Abhijit Pawar</h6>
                                            <p class="small text-muted mb-0">City/Village, Taluka, District</p>
                                        </div>
                                        <div class="flex-shrink-0 text-end">
                                            <span class="badge bg-main rounded-pill">14</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img src="assets/images/executive-members/RavikantVarpe.jpg" class="" alt="Ravikant Varpe">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6>Mr. Abhijit Pawar</h6>
                                            <p class="small text-muted mb-0">City/Village, Taluka, District</p>
                                        </div>
                                        <div class="flex-shrink-0 text-end">
                                            <span class="badge bg-main rounded-pill">14</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 border-start" id="email-container">
                        <div class="border-bottom mb-2 pb-1">
                            <span class="emailname">
                                <a class="personaname" routerLink="../members/member-profile">Mr. Anil Kambale</a>
                            </span>
                            <span class="float-end emaildate">
                                <i class="far fa-calendar-alt me-1"></i> Joined On : 01-02-2020
                            </span>
                        </div>
                        <div class="mb-3 pb-1 emailcontact">
                            <i class="far fa-envelope me-1"></i> anilkambale@gmail.com
                            <span class="float-end">
                                <i class="fas fa-phone-alt me-1"></i> +91-9876543210
                            </span>
                        </div>
                        <div class="mb-3 chartbox">
                            <div class="row mb-1">
                                <div class="col-sm-3 offset-9">
                                    <ngx-select [allowClear]="true" [items]="items" placeholder="Select Social Media">
                                    </ngx-select>
                                </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Shared Date</th>
                                        <th>Activity Title</th>
                                        <th>Shared On</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>01-06-2020</td>
                                        <td>Request to Attend workshop on Indian Constitution</td>
                                        <td>
                                            <i class="fab fa-twitter"></i> Twitter
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>01-06-2020</td>
                                        <td>Request to Attend workshop on Indian Constitution</td>
                                        <td>
                                            <i class="fab fa-facebook-square"></i> Facebook
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>01-06-2020</td>
                                        <td>Request to Attend workshop on Indian Constitution</td>
                                        <td>
                                            <i class="fab fa-instagram-square"></i> Instagram
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>01-06-2020</td>
                                        <td>Request to Attend workshop on Indian Constitution</td>
                                        <td>
                                            <i class="fab fa-whatsapp"></i> Whatsapp
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>