#events .card{
    border: none;
    background-color: transparent;
    border-radius: 10px;
    border: solid 1px transparent;
    transition: all .25s ease-in;
}
#events .card:hover{
    border: solid 1px rgba(0, 0, 0, 0.125);
    background-color: #fff;
    transition: all .25s ease-in;
}
#events .card img{
    width: 150px;
    height:150px;
    object-fit: cover;
}
#events .event-status{
    background-color: var(--main-color);
    color:#fff;
    font-size: 0.75rem;
    border-radius: 50px;
    padding: 5px 12px;
    font-weight: 600;
}
#events h6 a{
    color: var(--main-color);
    text-decoration: none;
}
#events h6 a:hover{
    color: var(--clr-orange);
    text-decoration: none;
}
#events .event-text{
    font-size: 0.85rem;
    line-height:24px;
    color: #999;
}