<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class='page-header'>
                <div class="centered">
                    <h1>Events</h1>
                    <p>Home <span class="mx-2">|</span> Events</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row section">
        <div class="col-sm-12">
            <div class="container">
                <div class="row" id="events">

                    <div class="offset-8 col-sm-4 float-end">
                        <div class="input-group">
                            <div class="input-group">
                                <input [owlDateTime]="dt2" (dateTimeChange)="getweekRage($event.value)" [formControl]="selRange" class="form-control form-control-sm" [selectMode]="'range'" [owlDateTimeTrigger]="dt2" placeholder="Select Date">
                                <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
                                <button class="btn btn-light btn-sm" type="button" *ngIf="!defaultCloseBtn" [owlDateTimeTrigger]="dt2"> <i class="fas fa-calendar-alt"></i></button>
                                <button class="btn btn-light border btn-sm" type="button" *ngIf="defaultCloseBtn" (click)=" paginationNo = 1; clearValue()">
                                    <i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <!-- <div class="card mb-3 card-body">
                            <div class="row g-0">
                                <div class="col-md-auto">
                                    <img src="assets/images/ncp-default.png" class="img-fluid rounded" alt="...">
                                </div>
                                <div class="col-md">
                                    <div class="card-body py-0">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <span class="event-status">Upcoming</span>
                                            </div>
                                            <div class="col-sm-6 text-end"><small><i
                                                        class="fas fa-calendar-alt me-2"></i>
                                                    12-02-2021 - 15-02-2021</small></div>
                                        </div>
                                        <hr class="my-2" />
                                        <h6 class="text-main lh-base">
                                            <a routerLink="./detail">Rich text editor component for Angular 11
                                                demo site. Rich text editor component for Angular 11 demo site</a>
                                        </h6>
                                        <p class="event-text">
                                            W3Schools is optimized for learning and training. Examples might be
                                            simplified to improve reading and learning. Tutorials, references, and
                                            examples are constantly reviewed to avoid errors, but we cannot warrant
                                            full correctness of all content. While using W3Schools, you agree to
                                            have read and accepted our terms of use, cookie and privacy policy.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                      
                        <div class="card mb-3 card-body" *ngFor="let events of eventListArray | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index">
                            <div class="row g-0">
                                <div class="col-md-auto">
                                    <img *ngIf="!events?.ImagePath" src="assets/images/ncp-default.png" class="img-fluid rounded" alt="...">
                                    <img *ngIf="events?.ImagePath" src="{{events?.ImagePath}}" class="img-fluid rounded" alt="...">
                                </div>
                                <div class="col-md">
                                    <div class="card-body py-0">
                                        <div class="row">
                                            <div class="col-sm-6">

                                            </div>
                                            <div class="col-sm-6 text-end"><small><i
                                                        class="fas fa-calendar-alt me-2"></i>
                                                    {{events?.ProgramStartDate}} ~ {{events?.ProgramEndDate}}</small></div>
                                        </div>
                                        <hr class="my-2" />

                                        <div class="event-text" [innerHtml]="events?.ProgramDescription">

                                        </div>
                                        <!-- <h6 class="text-main lh-base"> -->
                                        <a (click)="redirectToEvent(events?.EventId)">Details</a>
                                        <!-- </h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-2 text-end" *ngIf="eventListArray?.length == 0">
                            <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                        </div>
                        <div class="mt-2 text-end" *ngIf="eventListArray?.length != 0">
                            <pagination-controls previousLabel="" nextLabel=""
                                (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>