<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Dashboard</span>
            </div>
        </div>
    </div>

    <div class="row" id="dash-stats">
        <div class="col-sm-2">
            <div class="card card-body bg-cyan">
                <i class="fas fa-vote-yea"></i>
                <p>Total Elections</p>
                <h3>7</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-green">
                <i class="fas fa-map-marked-alt"></i>
                <p>Total Constituency</p>
                <h3>76</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-blue">
                <i class="fas fa-th-large"></i>
                <p>Total Assemblies</p>
                <h3>5345</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-gold">
                <i class="fas fa-th"></i>
                <p>Total Booths</p>
                <h3>34</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-red">
                <i class="far fa-handshake"></i>
                <p>Clients</p>
                <h3>43</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-voilet">
                <i class="fas fa-poll"></i>
                <p>Total Voters</p>
                <h3>345</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            
        </div>
        <div class="col-sm-3">
            
        </div>
    </div>
</div>
