<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Work This Week</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 chartbox">
            <div class="card mb-3">
                <div class="card-header">Work done by Yuvak</div>
                <div class="card-body">
                    d
                </div>
            </div>
            <div class="card">
                <div class="card-header">Best Performed Karyakarini Member</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Karyakarta Name</th>
                                <th>Email ID</th>
                                <th>Contact No</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let result of this.resBestPerformance; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{result.FullName}}</td>
                                <td><a href="mailto:{{result.EmailId}}">{{result.EmailId}}</a></td>
                                <td>{{result.MobileNo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-7 chartbox">
            <div class="card mb-3">
                <div class="card-header">Work done by Yuvak</div>
                <div class="card-body">
                    d
                </div>
            </div>
            <div class="card">
                <div class="card-header">Best Performance
                    <span class="float-end">
                        <div class="input-group">
                            <select class="form-select mr-2">
                                <option value="">Select District</option>
                                <option>Pune</option>
                            </select>
                            <select class="form-select">
                                <option value="">Select Taluka</option>
                                <option>Pune</option>
                            </select>
                        </div>
                    </span>
                </div>
                <div class="card-body">
                    d
                </div>
            </div>
        </div>
    </div>
</div>