
.btn-ediprofile{
    font-size: 0.75rem;
    border:solid 1px rgba(0,0,0,0.35);
    color:#757575;
    box-shadow: none;
    outline: none;
    padding: 3px 10px;
}
#myprofile img{
    width: 130px;
    height: 130px;
    /* border: solid 1px #ddd; */
    padding: 5px;
    margin-bottom: 15px;
}

.update-photo{
    background-color: #eee;
    border: solid 1px rgba(0,0,0,0.125);
    padding: 7px;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 3px;
    text-align: center;
    font-size: 0.85rem;
    color: #000;
    opacity: 0.9;
    left: 200px;
    top: 50px;
    z-index: 9;
}
.modal img
{
    border-radius: 7px;
}

.form-group,
.form-control {
    position: relative;
    box-shadow: none;
}

.form-control {
    border: 1px solid #ced4da;
}

.invalid-feedback {
    position: absolute;
    margin-top: 0px;
}

.eye-icon-pos {
    position: absolute;
    right: 20px;
    top: 40px;
}

.btn-profileedit{
    background-color: #eee;
    border: solid 1px #ddd;
    font-size: 0.75rem;
    color: #000;
    border-radius: 30px;
    padding: 0px 15px;
    line-height: 26px;
}