<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">Activity Analysis</span>
        </div>
        <!-- <div class="col-sm-8">
            <div class="row g-1">
                <div class="col-sm-3">
                    <ngx-select [allowClear]="true" [items]="items" placeholder="Select District">
                    </ngx-select>
                </div>
                <div class="col-sm-3">
                    <ngx-select [allowClear]="true" [items]="items" placeholder="Select Taluka">
                    </ngx-select>
                </div>
                <div class="col-sm-3">
                    <ngx-select [allowClear]="true" [items]="items" placeholder="Select City/Village">
                    </ngx-select>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" type="text" placeholder="Search Member" />
                </div>
            </div>
        </div> -->
    </div>

    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card card-body">
                asdf
            </div>
        </div>
    </div>
</div>