<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">Activity Analysis</span>
        </div>
        <div class="col-sm-8">
            <form [formGroup]="filterForm">
                <div class="row g-1">
                    <div class="col-sm-3 offset-3">
                        <ngx-select [allowClear]="true" (remove)="clearFilter('member')" [items]="memberNameArray" optionValueField="Id" formControlName="memberName" (select)="filterData()" optionTextField="FullName" placeholder="Select Member Name">
                        </ngx-select>
                    </div>
                    <div class="col-sm-3">
                        <ngx-select [allowClear]="true" (remove)="clearFilter('media')" [items]="categoryArray" optionValueField="id" optionTextField="category" placeholder="Select Political Activity" (select)="filterData()" formControlName="workType">
                        </ngx-select>
                    </div>
                    <!-- <div class="col-sm-3">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="From To Date" />
                            <button type="button" class="btn btn-light btn-sm"><i class="fas fa-calendar-alt"></i></button>
                        </div>
                    </div> -->
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input [owlDateTime]="dt3" (remove)="clearFilter('dateRangePIcker')" formControlName="fromTo" [selectMode]="'range'" (dateTimeChange)="selDateRangeByFilter(this.filterForm.value.fromTo)" class="form-control" [owlDateTimeTrigger]="dt3" placeholder="From To Date">
                            <button class="btn btn-light border btn-sm" type="button" [owlDateTimeTrigger]="dt3" *ngIf="!defaultCloseBtn">
                                <i class="fas fa-calendar-alt"></i></button>
                            <button class="btn btn-light border btn-sm" type="button" *ngIf="defaultCloseBtn" (click)="clearValue()">
                                <i class="fas fa-times"></i></button>
                        </div>
                        <owl-date-time #dt3 [pickerType]="'calendar'"></owl-date-time>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="dash-stats">
        <div class="col-sm">
            <div class="card card-body bg-gold">
                <i class="fas fa-network-wired"></i>
                <p>Total Activity</p>
                <h3>{{TotalWorks}}</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-blue">
                <i class="fas fa-award"></i>
                <p>Political Activity</p>
                <h3>{{PoliticalWork}}</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-green">
                <i class="far fa-newspaper"></i>
                <p>News Letters</p>
                <h3>{{newsLetters}}</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-cyan">
                <i class="fas fa-envelope-open-text"></i>
                <p>Social Media Help</p>
                <h3>{{socialMediaCount}}</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-red">
                <i class="fas fa-hands-helping"></i>
                <p>Personal Help</p>
                <h3>{{PersonalHelp}}</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="card card-body bg-voilet">
                <i class="fas fa-hashtag"></i>
                <p>Party Programs</p>
                <h3>{{partyPrograms}}</h3>
            </div>
        </div>
    </div>

    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <!-- <th scope="col">Photo</th> -->
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Member Name</th>
                            <th scope="col">Activity Date</th>
                            <!-- <th scope="col">Activity Type</th> -->
                            <th scope="col">Activity Title/Description</th>
                            <th scope="col">Likes</th>
                            <th scope="col">Comments</th>
                            <th scope="col">Shares</th>
                            <th scope="col">Abuses</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let politicalWork of politicalWorkArray | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index">
                            <td>{{politicalWork.SrNo}}</td>

                            <td><a class="text-primary" (click)="redToMemberProfile(politicalWork.MemberId, politicalWork.FullName)">{{politicalWork.FullName | titlecase}}</a></td>
                            <td>{{politicalWork.ActivityDate}}</td>
                            <td>{{politicalWork.Title | titlecase}}</td>
                            <!-- <td><span class="text-ellipsis-150px">{{politicalWork.Title | titlecase}}</span></td> -->
                            <td>
                                <h6 class="mb-0"><a class="text-primary" (click)="getActivityLikes(politicalWork.Id,'1',politicalWork.TotalLikes)">{{politicalWork.TotalLikes}}</a></h6>
                                <input type="hidden" data-bs-toggle="modal" data-bs-target="#LikesModal" #TotalLikes>
                            </td>
                            <td>
                                <h6 class="mb-0"><a class="text-success" (click)="getActivityLikes(politicalWork.Id,'2',politicalWork.TotalComments)">{{politicalWork.TotalComments}}</a></h6>
                                <input type="hidden" data-bs-toggle="modal" data-bs-target="#CommentModal"#TotalComments>
                            </td>
                            <td>
                                <h6 class="mb-0"><a class="text-info" (click)="getActivityLikes(politicalWork.Id,'3',politicalWork.TotalShares)">{{politicalWork.TotalShares}}</a></h6>
                                <input type="hidden" data-bs-toggle="modal" data-bs-target="#ShareModal"  #TotalShares>
                            </td>
                            <td>
                                <h6 class="mb-0"><a class="text-danger" (click)="getActivityLikes(politicalWork.Id,'4',politicalWork.TotalAbuses)">{{politicalWork.TotalAbuses}}</a></h6>
                                <input type="hidden"  data-bs-toggle="modal" data-bs-target="#AbuseModal" #TotalAbuses>
                            </td>

                            <td>
                                <button class="btn btn-sm btn-light" (click)="ViewPoliticleWorkDetails(i)" data-bs-toggle="modal" data-bs-target="#ViewDetailsModal"><i class="far fa-eye"></i></button>
                            </td>
                        </tr>
                        <tr *ngIf="politicalWorkArray?.length == 0">
                            <td colspan="9">
                                <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2 text-end" *ngIf="politicalWorkArray?.length != 0">
                    <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for details -->
<div class="modal fade" id="ViewDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ViewDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="ViewDetailsModalLabel">Details</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 form-container">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <label class="form-label">#ID</label>
                                <div id="txtID" class="form-data">{{viewPoliticleWorkDetailsById?.SrNo}}</div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Post Date</label>
                                <div id="txtPostDate" class="form-data">{{viewPoliticleWorkDetailsById?.ActivityDate}}</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Members Name</label>
                            <div id="txtMembersName" class="form-data">
                                {{viewPoliticleWorkDetailsById?.FullName}}
                            </div>
                        </div>
                        <div class="row mb-3" *ngIf="viewPoliticleWorkDetailsById?.Title">
                            <div class="col-sm-6">
                                <label class="form-label">Title</label>
                                <div id="txtMobileNo" class="form-data">
                                    {{viewPoliticleWorkDetailsById?.Title}}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6" *ngIf="viewPoliticleWorkDetailsById?.ProgramTitle">
                                <label class="form-label">Program</label>
                                <div id="txtSocialMediaSource" class="form-data">
                                    {{viewPoliticleWorkDetailsById?.ProgramTitle}}
                                </div>
                            </div>
                            <div class="col-sm-6" *ngIf="viewPoliticleWorkDetailsById?.CategoryName">
                                <label class="form-label">Media</label>
                                <div id="txtMobileNo" class="form-data">
                                    {{viewPoliticleWorkDetailsById?.CategoryName}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="viewPoliticleWorkDetailsById?.Description">
                            <label class="form-label">Post Description</label>
                            <div id="txtDescription" class="form-data">
                                {{viewPoliticleWorkDetailsById?.Description}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6" *ngIf="viewPoliticleWorkDetailsById?.ActivityLocation">
                                <label class="form-label">URL Link</label>
                                <div id="txtMessageFavour" class="form-data">
                                    <a href="#">{{viewPoliticleWorkDetailsById?.ActivityLocation}}</a>
                                </div>
                            </div>
                            <div class="col-sm-6" *ngIf="viewPoliticleWorkDetailsById?.PersonContactDetails">
                                <label class="form-label">Contact Person Details</label>
                                <div id="txtMessageOppse" class="form-data">
                                    Contact Person Name<br>{{viewPoliticleWorkDetailsById?.PersonContactDetails}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 form-container">
                        <div class="mb-3">
                            <label class="form-label">Location</label>
                            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="'roadmap'">
                                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                            </agm-map>
                        </div>
                    </div>
                    <div class="col-sm-12 form-container">
                        <label class="form-label">Photos</label>
                        <div class="row">
                            <div class="col-sm-2" *ngFor="let imgs of comUserdetImg; index as i">
                                <img [lightbox]="i" [src]="imgs?.data?.thumb" class="img-thumbnail h-150">
                                                                                </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" aria-label="Close" *ngIf="viewPoliticleWorkDetailsById?.IsAbuse == 0" (click)="insertMarkAsAbuse(viewPoliticleWorkDetailsById?.Id, viewPoliticleWorkDetailsById?.IsAbuse)">Mark As Abuse</button>
                <button type="button" class="btn btn-main btn-sm" data-bs-dismiss="modal" aria-label="Close" *ngIf="viewPoliticleWorkDetailsById?.IsAbuse  == 1" (click)="insertMarkAsAbuse(viewPoliticleWorkDetailsById?.Id, viewPoliticleWorkDetailsById?.IsAbuse)">Mark as Not Abuse</button>

                <!-- <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" aria-label="Close" (click)="insertMarkAsAbuse(viewPoliticleWorkDetailsById?.Id, viewPoliticleWorkDetailsById?.IsAbuse)">Mark As Abuse</button>
                <button type="button" class="btn btn-main btn-sm" data-bs-dismiss="modal" aria-label="Close" (click)="insertMarkAsAbuse(viewPoliticleWorkDetailsById?.Id, viewPoliticleWorkDetailsById?.IsAbuse)">Mark as Not Abuse</button> -->

            </div>
        </div>
    </div>
</div>



<!-- modal for likes details -->
<div class="modal fade" id="LikesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="LikesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <p class="modal-title" id="LikesModalLabel">Liked By</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="list-group list-group-flush">
                    <a href="#" *ngFor="let activityLikes of activityLikesArray" class="list-group-item list-group-item-action">{{activityLikes.FullName}}</a>
                    <div *ngIf="activityLikesArray?.length == 0" class="m-4">
                        <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal for comment details -->
<div class="modal fade" id="CommentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="CommentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <p class="modal-title" id="CommentModalLabel">Comments By</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="list-group list-group-flush">
                    <a *ngFor="let activityLikes of activityLikesArray" href="#" class="list-group-item list-group-item-action">
                        <p class="small text-muted mb-0">{{activityLikes.FullName}}</p>
                        <p class="mb-0 fw-bold">{{activityLikes.Comments}}</p>
                    </a>

                    <div *ngIf="activityLikesArray?.length == 0" class="m-4">
                        <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal for share details -->
<div class="modal fade" id="ShareModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ShareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <p class="modal-title" id="ShareModalLabel">Shared By</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="list-group list-group-flush">
                    <a *ngFor="let activityLikes of activityLikesArray" href="#" class="list-group-item list-group-item-action">{{activityLikes.FullName}}</a>

                    <div *ngIf="activityLikesArray?.length == 0" class="m-4">
                        <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal for share details -->
<div class="modal fade" id="AbuseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AbuseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <p class="modal-title" id="AbuseModalLabel">Abuse Reported By</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="list-group list-group-flush">
                    <a *ngFor="let activityLikes of activityLikesArray" href="#" class="list-group-item list-group-item-action">{{activityLikes.FullName}}</a>

                    <div *ngIf="activityLikesArray?.length == 0" class="m-4">
                        <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
