body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f3f3;
    font-size: 15px;
}

:root {
    --main-color: #272848;
}

.main-content {
    margin: 4rem 0 0;
    padding: 0;
}

@media screen and (min-width:768px) {
    .main-content {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .main-content {
        margin-left: 0 !important;
    }
}

label.form-label.is-invalid {
    color: #dc3545 !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: none;
}

.required-field::after {
    content: "*";
    color: #dc3545!important;
    font-size: 18px;
    margin-left: 2px;
}

ngx-select.ng-untouched.ng-pristine.ng-invalid.is-invalid .ngx-select__toggle {
    border-color: #dc3545 !important;
}

.btn-main {
    background-color: var(--main-color);
    color: #fff;
    font-size: 0.85rem;
}

.btn-main:hover {
    background-color: var(--main-color);
    color: #fff;
}

.form-group {
    position: relative;
}

.invalid-feedback {
    position: absolute;
    margin-top: -1px;
    width: auto;
    font-size: 70%;
    color: #dc3545;
}

.invalid-feedback {
    display: flex;
    margin-top: 0;
}

tr.active {
    background: #f5f5f5;
}

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #272848!important;
    border: solid 1px #272848 !important;
}

.ngx-pagination li {
    display: inline-block;
    border: solid 1px #272848 !important;
}


/* dateRangePicker control css */

.dateRangePicker-wrapper .dateRangePicker .form-inputs>.col {
    padding: 0 10px !important;
}

.dateRangePicker-wrapper .dateRangePicker .form-inputs .form-control {
    font-size: 0.85rem !important;
    font-weight: 500 !important;
}

.dateRangePicker .container-fluid {
    padding: 0 11px !important;
}

.calendar .calendar-pagination .month-year {
    font-size: 0.85rem !important;
}

.dateRangePicker-wrapper .dateRangePicker .btn img,
.dateRangePicker-wrapper .dateRangePicker .btn.btn-link img {
    width: 12px !important;
}

.calendar .table td,
.calendar .table th,
.calendar .table td {
    height: 28px !important;
    width: 28px !important;
    max-width: 28px !important;
    min-width: 28px !important;
}

.dateRangePicker-wrapper .dateRangePicker.open-left {
    z-index: 1;
}

.chartbox .card .card-header .form-control,
.chartbox .card .card-header .form-select {
    font-size: 0.85rem;
    box-shadow: none;
}