@import "~ng-pick-datetime/assets/style/picker.min.css";
body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f3f3;
    font-size: 15px;
}

:root {
    --main-color: #272848;
}

.main-content {
    margin: 4rem 0 0;
    padding: 0;
}

@media screen and (min-width:768px) {
    .main-content {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .main-content {
        margin-left: 0 !important;
    }
}

label.form-label.is-invalid {
    color: #dc3545 !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: none;
}

.required-field::after {
    content: "*";
    color: #dc3545!important;
    font-size: 18px;
    margin-left: 2px;
}

ngx-select.ng-untouched.ng-pristine.ng-invalid.is-invalid .ngx-select__toggle {
    border-color: #dc3545 !important;
}

.btn-main {
    background-color: var(--main-color);
    color: #fff;
    font-size: 0.85rem;
}

.btn-main:hover {
    background-color: var(--main-color);
    color: #fff;
}

.form-group {
    position: relative;
}

.invalid-feedback {
    position: absolute;
    margin-top: -1px;
    width: auto;
    font-size: 70%;
    color: #dc3545;
}

.invalid-feedback {
    display: flex;
    margin-top: 0;
}

tr.active {
    background: #f5f5f5;
}


/* dateRangePicker control css */

.dateRangePicker-wrapper .dateRangePicker .form-inputs>.col {
    padding: 0 10px !important;
}

.dateRangePicker-wrapper .dateRangePicker .form-inputs .form-control {
    font-size: 0.85rem !important;
    font-weight: 500 !important;
}

.dateRangePicker .container-fluid {
    padding: 0 11px !important;
}

.calendar .calendar-pagination .month-year {
    font-size: 0.85rem !important;
}

.dateRangePicker-wrapper .dateRangePicker .btn img,
.dateRangePicker-wrapper .dateRangePicker .btn.btn-link img {
    width: 12px !important;
}

.calendar .table td,
.calendar .table th,
.calendar .table td {
    height: 28px !important;
    width: 28px !important;
    max-width: 28px !important;
    min-width: 28px !important;
}

.dateRangePicker-wrapper .dateRangePicker.open-left {
    z-index: 1;
}

.chartbox .card .card-header .form-control,
.chartbox .card .card-header .form-select {
    font-size: 0.85rem;
    box-shadow: none;
}

.owl-dt-inline-container,
.owl-dt-popup-container,
.owl-dt-timer-content .owl-dt-timer-input {
    font-size: 0.85rem;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    width: 75%;
}

.owl-dt-timer {
    padding: 0;
    height: 5.0em;
}

.owl-dt-timer-box {
    height: 80%;
}

.owl-dt-container-buttons {
    font-size: 12px;
    color: var(--theme-color);
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    background-color: var(--theme-color);
}

.owl-dt-inline-container,
.owl-dt-popup-container {
    width: 16em;
}

.owl-dt-inline-container .owl-dt-calendar,
.owl-dt-popup-container .owl-dt-calendar {
    height: 18em;
}

.owl-dt-timer-content {
    margin: 0;
}

i.fa.fa-spinner.fa-spin.ng-star-inserted {
    color: #7c6319 !important;
    font-size: 18px !important;
    z-index: 999 !important;
    opacity: 1 !important;
}

#navbar ul li.active i {
    color: #fff!important;
}

#navbar ul li.active label {
    background: var(--main-color) !important;
    color: #fff!important;
}

a {
    cursor: pointer!important;
}

.h-400 {
    height: 400px;
}

.h-150 {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

owl-date-time-timer.owl-dt-container-row.ng-tns-c96-1.owl-dt-timer.ng-star-inserted {
    display: none !important;
}

.ngx-pagination {
    padding: 0 !important;
    margin-top: 10px;
}

.ngx-pagination .current {
    padding: 5px 15px !important;
    background: #272848!important;
    border: solid 1px #272848 !important;
}

.ngx-pagination .disabled,
.ngx-pagination a,
.ngx-pagination button {
    padding: 5px 15px !important;
    text-decoration: none;
}

.ngx-pagination li {
    display: inline-block;
    border: solid 1px #bbb !important;
    margin: 0 !important;
    font-size: 0.85rem;
}

.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after,
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
    margin: 0 !important;
}

.ngx-pagination .pagination-previous {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ngx-pagination .pagination-next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ngx-select__toggle,
.ngx-select input,
.ngx-select__toggle {
    font-size: 0.8rem !important;
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #ced4da;
}

.ngx-select,
.ngx-select__item,
.ngx-select__clear,
.ngx-select__selected-plural {
    font-size: 0.8rem !important;
    box-shadow: none;
    /* line-height: 32.71px; */
}

.ngx-select_multiple .ngx-select__clear {
    color: #fff !important;
    opacity: 0.9;
}

.ngx-select__item_active {
    background-color: var(--main-color);
    color: #fff;
    box-shadow: none;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    color: rgba(255, 255, 255, .85);
    background-color: #3f51b5 !important;
}

.text-ellipsis-250px {
    white-space: nowrap;
    width: 250px !important;
    display: block;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.text-ellipsis-150px {
    white-space: nowrap;
    width: 150px !important;
    display: block;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

#dash-stats {
    margin-bottom: 15px
}

#dash-stats .card {
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 4px #dfdfdf
}

#dash-stats .card i {
    font-size: 4.4rem;
    margin-bottom: 5px;
    position: absolute;
    opacity: .1;
    bottom: 0;
    left: 10px
}

#dash-stats .card p {
    font-size: .85rem;
    font-weight: 500;
    margin-bottom: 10px
}

#dash-stats .card h3 {
    font-weight: 400;
    text-align: right;
    margin-bottom: 0
}

#dash-stats .bg-cyan {
    background-color: #b7e7e9;
    color: #2d7678
}

#dash-stats .bg-green {
    background-color: #e0f3be;
    color: #61743e
}

#dash-stats .bg-blue {
    background-color: #d4e0ff;
    color: #22408d
}

#dash-stats .bg-gold {
    background-color: #f0e4bf;
    color: #7c6319
}

#dash-stats .bg-red {
    background-color: #ffdada;
    color: #b20000
}

#dash-stats .bg-voilet {
    background-color: #eed3ee;
    color: #510051
}

.chartfont {
    font-size: .75rem
}

.chartbox .card {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #dfdfdf
}

.chartbox .card .card-header {
    background-color: transparent;
    border-bottom: none;
    font-size: .85rem;
    font-weight: 500;
    line-height: 34px
}

.chartbox .card .card-header a {
    color: var(--main-color);
    margin-left: 5px
}

.chartbox .card .card-header .form-control,
.chartbox .card .card-header .form-select,
.chartbox .card .card-body .list-group-item {
    font-size: .85rem;
    box-shadow: none
}

.chartbox .card .card-header .input-group .form-control {
    border-right: none;
}

.chartbox .card .card-header .input-group .btn {
    background-color: transparent;
    border: 1px solid #ced4da;
    border-left: none;
    box-shadow: none;
    outline: none;
}

.chartbox .card .card-header .form-check-input[type=radio] {
    margin-top: 10px
}

.chartbox .activity-item {
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: .85rem;
    transition: all .25s ease-in;
    display: block;
    text-decoration: none;
    color: #000
}

.chartbox .bg-high:hover {
    background-color: #dbffd2;
    transition: all .25s ease-in;
    color: #009200
}

.chartbox .bg-low:hover {
    background-color: #ffdfdf;
    transition: all .25s ease-in;
    color: #920000
}

.chartbox .table {
    font-size: .8rem
}

.chartbox .table thead th {
    background-color: #f5f5f5;
    border-bottom: solid 1px #aaa;
    border-top: solid 1px #eee;
    font-weight: 500
}

.chartbox .table th,
.chartbox .table td {
    vertical-align: middle
}

.chartbox .table td .form-check-input[type="checkbox"] {
    width: 34px;
    height: 20px;
}

.chartbox .table td .form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.chartbox .table td .btn {
    font-size: .65rem;
    box-shadow: none;
    outline: none;
    padding: 5px 7px
}

.chartbox .table td a {
    text-decoration: none
}

.chartbox .table td a:hover {
    text-decoration: underline
}

.chartbox .table img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: solid 1px #aaa;
    margin-right: 2px;
    padding: 2px;
    object-fit: contain
}

.chartbox .table .prophoto {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    border: none;
    padding: 0
}

.replay {
    background-color: rgb(13, 202, 240, 12%)!important;
}

.unread {
    background-color: rgb(0, 0, 0, 8%)!important;
}

.ignored {
    background-color: rgb(220, 53, 69, 12%) !important;
}

svg {
    width: 100px;
    display: block;
    margin: 0px auto;
  }
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
  .path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
  }
  .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

  #gallery img{
    width: 145px;
    max-width: 145px;
    height:145px;
    max-height: 145px;
    object-fit: cover;
}
#gallery img:hover{
    cursor: pointer;
    border-color: var(--main-color);
}
#GalleryModal .modal-header{
    background-color:transparent;
}
#GalleryModal .btn-close{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    z-index: 999;
}
#GalleryModal .modal-body,
#GalleryModal .modal-content{
    padding:0;
    text-align: center;
    background-color:transparent
}
#GalleryModal .carousel-item img{
    height:92vh;
}