<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Executive Members
                </span>
                <span class="float-end">
                    <select class="form-select form-select-sm">
                        <option value="">Select District</option>
                    </select>
                </span>
            </div>
        </div>
    </div>

    <div class="row" id="exe-members">
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/images/executive-members/MehabubShaikh.jpg" class="img-fluid rounded-start" alt="Mehabub Shaikh">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Mehabub Shaikh</h5>
                            <p class="card-text">Adhyaksh Maharashtra Rajya</p>
                            <p class="small"><i class="far fa-envelope"></i> mehabub.shaikh@gmail.com</p>
                            <p class="small"><i class="fas fa-phone-alt"></i> +91-9876543210</p>
                            <p class="small"><i class="fab fa-whatsapp"></i> +91-9876543210</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/images/executive-members/RavikantVarpe.jpg" class="img-fluid rounded-start" alt="Ravikant Varpe">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Ravikant Varpe</h5>
                            <p class="card-text">Karyadhyaksh Maharashtra Rajya</p>
                            <p class="small"><i class="far fa-envelope"></i> mehabub.shaikh@gmail.com</p>
                            <p class="small"><i class="fas fa-phone-alt"></i> +91-9876543210</p>
                            <p class="small"><i class="fab fa-whatsapp"></i> +91-9876543210</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/images/executive-members/SunilChavan.jpg" class="img-fluid rounded-start" alt="Sunil Chavan">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Sunil Chavan</h5>
                            <p class="card-text">Karyadhyaksh Maharashtra Rajya</p>
                            <p class="small"><i class="far fa-envelope"></i> mehabub.shaikh@gmail.com</p>
                            <p class="small"><i class="fas fa-phone-alt"></i> +91-9876543210</p>
                            <p class="small"><i class="fab fa-whatsapp"></i> +91-9876543210</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>