.prophoto{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}
.devicelogo{
    width: 24px;
}
#exe-memcards{
    font-size: 0.85rem;
}
#exe-memcards .table {
    border-collapse:separate; 
    border-spacing:0 1em;
  }
  #exe-memcards .table tr{
    box-shadow: 0px 0px 3px 1px #d0d0d0;
    border-radius: 4px;
}
/* #exe-memcards .table tr:hover{
    box-shadow: 1px 1px 1px #aaa;
    border-radius: 10px;
}
/* #exe-memcards .card.card-body{
    margin-bottom: 10px;
    padding: 10px;
}
#exe-memcards .card:hover{
    box-shadow: 1px 2px 5px #eee;
    background-color:#fafafa;
    color: rgb(0, 110, 255);
} */