.prophoto{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}
.devicelogo{
    width: 24px;
}
#exe-memcards{
    font-size: 0.85rem;
}
#exe-memcards .card{
    box-shadow:none;
    border: solid 1px rgba(0,0,0,0.125);
    text-decoration: none;
    color: #333;
}
#exe-memcards .card.card-body{
    margin-bottom: 10px;
    padding: 10px;
}
#exe-memcards .card:hover{
    box-shadow: 1px 2px 5px #eee;
    background-color:#fafafa;
    color: rgb(0, 110, 255);
}