<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-3">
            <span class="page-name">Executive Members</span>
        </div>
        <div class="col-sm-9">
            <form [formGroup]="filterForm">
                <div class="row g-1">
                    <div class="col-sm-3">
                        <ngx-select [allowClear]="true" [items]="memberNameArray" optionValueField="Id" formControlName="BodyId" optionTextField="BodyOrgCellName" (remove)="clearFilter('committee')" (select)="committee($event)" placeholder="Select Committee Name">
                        </ngx-select>
                    </div>
                    <div class="col-sm-3">
                        <ngx-select [allowClear]="true" formControlName="DistrictId" [items]="allDistrict" optionValueField="DistrictId" optionTextField="DistrictName" (remove)="clearFilter('district')" placeholder="Select District" (select)="getTaluka(this.filterForm.value.DistrictId)">
                        </ngx-select>
                    </div>
                    <div class="col-sm-3">
                        <ngx-select [allowClear]="true" [items]="getTalkaByDistrict" [disabled]="!filterForm.value.DistrictId" formControlName="TalukaId" (remove)="clearFilter('taluka')" (select)="getVillageOrCity(this.filterForm.value.TalukaId)" placeholder="Select Taluka"
                            optionValueField="TalukaId" optionTextField="TalukaName">
                        </ngx-select>
                    </div>
                    <!-- <div class="col-sm-3">
                        <ngx-select [allowClear]="true" [items]="resultVillageOrCity" [disabled]="!filterForm.value.TalukaId" formControlName="VillageId" (remove)="districtClear('village')" optionValueField="VillageId" (select)="filterVillage(this.filterForm.value.VillageId)"
                            optionTextField="VillageName" placeholder="Select City/Village">
                        </ngx-select>
                    </div> -->
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search Member" formControlName="searchText" (keyup)="onKeyUpFilter()" />
                            <button type="button" class="btn btn-light border btn-sm" *ngIf="filterForm.value.searchText" (click)="clearFilter('search')"><i _ngcontent-tbl-c102="" class="fas fa-times"></i></button>
                            <button type="button" (click)="searchFilter('true')" *ngIf="!filterForm.value.searchText" class="btn btn-sm border btn-light"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="dash-stats">
        <div class="col-sm-2">
            <div class="card card-body bg-cyan">
                <i class="fas fa-users"></i>
                <p>Total Committees</p>
                <h3>{{memberCountData?.TotalCommittee}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-green">
                <i class="fas fa-user"></i>
                <p>Executive Members</p>
                <h3>{{memberCountData?.TotalMember}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-gold">
                <i class="fas fa-people-arrows"></i>
                <p>Active Members</p>
                <h3>{{memberCountData?.ActiveMember}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-red">
                <i class="fas fa-user-alt-slash"></i>
                <p>Non Active Members</p>
                <h3>{{memberCountData?.InActiveMember}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-blue">
                <i class="fab fa-apple"></i>
                <p>iOS Users</p>
                <h3>{{memberCountData?.iOS}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-voilet">
                <i class="fas fa-robot"></i>
                <p>Andriod Users</p>
                <h3>{{memberCountData?.Android}}</h3>
            </div>
        </div>
    </div>
    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body" id="exe-memcards">
                    <table class="table table-hover table-borderless">
                        <tbody>
                            <tr *ngFor="let resultExeMember of resultAllExeMembers  | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index">
                                <td>
                                    <img *ngIf="resultExeMember.ProfilePhoto" src="{{resultExeMember.ProfilePhoto}}" class="prophoto" />
                                    <img *ngIf="!resultExeMember.ProfilePhoto" src="assets/images/dashboard-images/ncplogo.png" class="prophoto" />
                                </td>
                                <td>
                                    <a (click)="redToMemberProfile(resultExeMember.MemberId,resultExeMember.FullName)" class="text-primary">{{resultExeMember.FullName | titlecase}}</a>
                                </td>
                                <td>
                                    <p class="mb-1"><i class="fas fa-envelope me-2 text-muted"></i> {{resultExeMember.EmailId ? (resultExeMember.EmailId | titlecase) : 'NA'}}</p>
                                    <p class="mb-0"><i class="fas fa-phone-alt me-2 text-muted"></i> {{resultExeMember.MobileNo ? (resultExeMember.MobileNo | titlecase) : 'NA'}}</p>
                                </td>
                                <td>
                                    <span class="mb-1">{{resultExeMember?.Location}}</span>
                                </td>
                                <td>
                                    <p class="mb-1" *ngFor="let designation of resultExeMember.Designation.split(',')">{{designation}}</p>
                                </td>
                                <td>
                                    <ng-container *ngIf="resultExeMember.DeviceType == 0">
                                        No Device
                                    </ng-container>
                                    <ng-container *ngIf="resultExeMember.DeviceType == 1">
                                        <img src="assets/images/dashboard-images/Android_robot.svg" class="devicelogo">
                                    </ng-container>
                                    <ng-container *ngIf="resultExeMember.DeviceType == 2">
                                        <img src="assets/images/dashboard-images/Apple_logo.svg" class="devicelogo">
                                    </ng-container>
                                </td>
                                <td>
                                    <i class="fas fa-user-shield text-success" *ngIf="resultExeMember.UserStatus != 0; else elseStatus"></i>
                                    <ng-template #elseStatus>
                                        <i class="fas fa-ban text-danger"></i>
                                    </ng-template>
                                </td>
                            </tr>
                            <tr *ngIf="resultAllExeMembers?.length == 0">
                                <td colspan="7">
                                    <div class="alert alert-danger text-center py-2 mb-0">No Data Found..!</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <a class="card card-body" *ngFor="let resultExeMember of resultAllExeMembers  | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index">
                        <div class="row d-flex align-items-center">
                            <div class="col-sm-auto">
                                <img *ngIf="resultExeMember.ProfilePhoto" src="{{resultExeMember.ProfilePhoto}}" class="prophoto" />
                                <img *ngIf="!resultExeMember.ProfilePhoto" src="assets/images/dashboard-images/ncplogo.png" class="prophoto" />
                            </div>
                            <div class="col-sm">
                                {{resultExeMember.FullName | titlecase}}
                            </div>
                            <div class="col-sm">
                                <p class="mb-1"><i class="fas fa-envelope me-2 text-muted"></i> {{resultExeMember.EmailId ? (resultExeMember.EmailId | titlecase) : 'NA'}}</p>
                                <p class="mb-0"><i class="fas fa-phone-alt me-2 text-muted"></i> {{resultExeMember.ContactNo ? (resultExeMember.ContactNo | titlecase) : 'NA'}}</p>
                            </div>
                            <div class="col-sm">
                                <p class="mb-1">{{resultExeMember?.Location}}</p>
                            </div>
                            <div class="col-sm">
                                <p class="mb-1">{{resultExeMember.Designation| titlecase}}</p>
                                <p class="mb-0 text-muted small">{{resultExeMember.BodyOrgCellName| titlecase}}</p>
                            </div>
                            <div class="col-sm-auto">
                                <ng-container *ngIf="resultExeMember.UserStatus == 0">
                                    <p>No Device</p>
                                </ng-container>
                                <ng-container *ngIf="resultExeMember.UserStatus == 1">
                                    <img src="assets/images/dashboard-images/Android_robot.svg" class="devicelogo">
                                </ng-container>
                                <ng-container *ngIf="resultExeMember.UserStatus == 2">
                                    <img src="assets/images/dashboard-images/Apple_logo.svg" class="devicelogo">
                                </ng-container>
                            </div>
                            <div class="col-sm-auto">
                                <i class="fas fa-user-shield text-success" *ngIf="resultExeMember.UserStatus == 1; else elseStatus"></i>
                                <ng-template #elseStatus>
                                    <i class="fas fa-ban text-danger"></i>
                                </ng-template>

                            </div>
                        </div>
                    </a>
                    <div *ngIf="resultAllExeMembers?.length == 0">
                        <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                    </div> -->
                    <!-- <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Registration Date</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Contacts</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Status</th>
                                <th scope="col">Device</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let allMembers of resultAllViewMembers | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index">
                                <th scope="row">
                                    <img src="{{allMembers.ProfilePhoto}}" class="prophoto" />
                                </th>
                                <td>{{allMembers.PostDate}}</td>
                                <td>{{allMembers.FullName | titlecase}}</td>
                                <td>
                                    <p class="mb-0">{{allMembers.EmailId}}</p>
                                    <p class="mb-0">{{allMembers.ContactNo}}</p>
                                </td>
                                <td>{{allMembers.Designation}}</td>
                                <td><i class="fas fa-shield-alt fa-2x text-success"></i></td>
                                <td>
                                    <img src="assets/images/dashboard-images/Apple_logo.svg" class="border-0" />
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-light" routerLink="../../profile"
                                        type="button"><i class="far fa-eye"></i></button>
                                </td>
                            </tr>
                            <tr *ngIf="resultAllViewMembers?.length == 0">
                                <td colspan="9">
                                    <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                                </td>
                            </tr>
                        </tbody>
                    </table> -->
                    <div class="mt-2 float-lg-end" *ngIf="resultAllExeMembers?.length != 0">
                        <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ViewMemberModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ViewMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="ViewMemberModalLabel">Mr. Anil Kambale</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                sdf
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-main btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>