<div class="container-fluid">
    <div class="row" id="member-profile">
        <div class="col-sm-12 text-center">
            <img src="assets/images/executive-members/MehabubShaikh.jpg" class="profile-pic" />
            <h4 class="profile-name">Mr. Mehabub Shaikh</h4>
            <h6 class="profile-desi">President - Maharashtra State Yuvak Congress</h6>
            <p class="text-muted prof-date"><i class="fas fa-briefcase"></i> 01-05-2020 - Till Date</p>
            <div class="profile-contact">
                <div class="float-start">
                    <i class="far fa-envelope"></i> mehabub.shaikh@gmail.com
                </div>
                <div class="float-end">
                    <i class="fas fa-phone-alt"></i> +91-9876543210
                </div>
            </div>
        </div>

        <div class="card text-center mt-2">
            <div class="card-header">
                <ul class="nav nav-tabs justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="true">Profile</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-overview-tab" data-bs-toggle="pill" data-bs-target="#pills-overview" type="button" role="tab" aria-controls="pills-overview" aria-selected="false">overview</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-activities-tab" data-bs-toggle="pill" data-bs-target="#pills-activities" type="button" role="tab" aria-controls="pills-activities" aria-selected="false">Activities</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-roles-tab" data-bs-toggle="pill" data-bs-target="#pills-roles" type="button" role="tab" aria-controls="pills-roles" aria-selected="false">Roles</button>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        profile
                    </div>
                    <div class="tab-pane fade" id="pills-overview" role="tabpanel" aria-labelledby="pills-overview-tab">
                        overview
                    </div>
                    <div class="tab-pane fade" id="pills-activities" role="tabpanel" aria-labelledby="pills-activities-tab">
                        activities
                    </div>
                    <div class="tab-pane fade" id="pills-roles" role="tabpanel" aria-labelledby="pills-roles-tab">
                        roles
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>