<div class="container-fluid">
    <div class="row" id="membername">
        <div class="col-sm-12">
            Mr. Mehabub Shaikh
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/images/executive-members/RavikantVarpe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text mb-0">
                        Vice President of Yuvak Congress
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fas fa-map-marked-alt"></i> Haveli Constituency
                    </li>
                    <li class="list-group-item">
                        <i class="far fa-envelope"></i> ravikant.varpe@gmail.com
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-phone-alt"></i> +91-9876543210
                    </li>
                    <li class="list-group-item">
                        <i class="fab fa-whatsapp"></i> +91-9876543210
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-map-marker-alt"></i> City/Village, Taluka, District
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            werfgh
        </div>
    </div>
</div>