.legends{
    position: absolute;
    top: 44px;
    right: 20px;
    display: flex;
    font-size: 0.8rem;
}
.calltomember{
    background-color: #efefef;
    color: var(--main-color);
    text-decoration: none;
    padding: 5px;
    border-radius: 50%;
}