<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">Create Election</span>
        </div>
        <div class="col-sm-8 text-end">
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-4">
            <form [formGroup]="createElectionForm" (ngSubmit)="onSubmitElection()">
            <div class="card">
                <div class="card-header">Create Election</div>
                <div class="card-body pt-0">
                    <div class="form-container">
                        <div class="mb-3">
                            <label for="txtElectionName" class="form-label">Election Name</label>
                            <input type="text" class="form-control" formControlName="ElectionName" id="txtElectionName" placeholder="Election Name" [ngClass]="{ 'is-invalid': submitted && f.ElectionName.errors }">
                            <div *ngIf="submitted && f.ElectionName.errors" class="invalid-feedback">
                                <div *ngIf="f.ElectionName.errors.required">Election Name is required</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="ddlElectionType" class="form-label">Election Type</label>
                            <ngx-select [allowClear]="true" [items]="electionTypeArray" formControlName="ElectionTypeId" optionValueField="Id" optionTextField="ElectionType" placeholder="Election Type"
                            [ngClass]="{ 'is-invalid': submitted && f.ElectionTypeId.errors }">
                        </ngx-select>
                            <div *ngIf="submitted && f.ElectionTypeId.errors" class="invalid-feedback">
                                <div *ngIf="f.ElectionTypeId.errors.required">Election Type is required</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="rblBoothListType" class="form-label">Booth List Type</label>
                            <div class="d-block">
                                <div class="form-check form-check-inline" *ngFor="let boothLType of boothListTypeArray">
                                    <input class="form-check-input" type="radio" formControlName="IsAsemblyBoothListApplicable" [value]="boothLType.id" name="IsAsemblyBoothListApplicable" id="bluserDefined">
                                    <label class="form-check-label" for="bluserDefined">{{boothLType.name}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="rblSubElection" class="form-label">Is Sub-Election Applicable</label>
                            <div class="d-block">
                                <div class="form-check form-check-inline" *ngFor="let subEleApp of subElectionAppArray">
                                    <input class="form-check-input" type="radio" formControlName="IsSubElectionApplicable" [value]="subEleApp.id" name="IsSubElectionApplicable"
                                     id="subNo" (change)="subEleApp.id == 0 ? subElectionDivHide = true : subElectionDivHide = false">
                                    <label class="form-check-label" for="subNo">{{subEleApp.name}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="subElectionDivHide">
                            <div class="card card-body border shadow-none">
                                <div class="mb-3">
                                    <label for="ddlSelectElection" class="form-label">Select Election</label>
                                    <div class="input-group">
                                        <select class="form-select rounded" id="ddlSelectElection" formControlName="SubElectionId" [ngClass]="{ 'is-invalid': submitted && f.SubElectionId.errors }">
                                            <option value="1">Select Election</option>
                                            <option value="2">Select Election1</option>
                                            <option value="3">Select Election2</option>
                                        </select>
                                         <!-- <ngx-select [allowClear]="true" [items]="allDistrict" formControlName="SubElectionId" optionValueField="DistrictId" optionTextField="DistrictName" placeholder="Select Election"
                            [ngClass]="{ 'is-invalid': submitted && f.SubElectionId.errors }">
                        </ngx-select> -->
                                        <button type="button" class="btn btn-light btn-sm ms-1 border rounded">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div *ngIf="submitted && f.SubElectionId.errors" class="invalid-feedback">
                                        <div *ngIf="f.SubElectionId.errors.required">Select Election is required</div>
                                    </div>
                                </div>
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>Election Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Satara ZP Elections 2021</td>
                                            <td>
                                                <button type="button" class="btn btn-light text-danger btn-sm ms-1">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mb-2 mt-4">
                            <button type="button" (click)="clearForm()" class="btn btn-secondary  float-lg-start">Clear</button>
                            <button type="submit" class="btn btn-main float-lg-end">Create Election</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <div class="row g-2">
                        <div class="col-sm-3 offset-5">
                            <ngx-select [allowClear]="true" [items]="electionTypeArray" optionValueField="Id" optionTextField="ElectionType" placeholder="Election Type"
                            [ngClass]="{ 'is-invalid': submitted && f.ElectionTypeId.errors }">
                        </ngx-select>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" placeholder="Search..." />
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Constituency</th>
                                <th>Sub Election</th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let insertEleMaster of insertEleMasterArray"> -->
                                <tr>
                                <td>1</td>
                                <td>ZP Satara 2021</td>
                                <td>ZP</td>
                                <td>
                                    <a class="fw-bold text-primary" routerLink="../../election/create-constituency">0</a>
                                </td>
                                <td>
                                    <ol class="mb-0 ps-3">
                                        <li>Panchayat Samiti Swargate</li>
                                        <li>Punchayat Samity Kharadi</li>
                                    </ol>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" title="Edit Election"
                                            class="btn btn-sm btn-light text-edit me-1 rounded"><i
                                                class="far fa-edit"></i></button>
                                        <button type="button" title="Delete Election"
                                            class="btn btn-sm btn-light text-danger rounded"><i
                                                class="fas fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>ZP Satara 2020</td>
                                <td>ZP</td>
                                <td>
                                    <a class="fw-bold text-primary" routerLink="../../election/create-constituency">2</a>
                                </td>
                                <td>
                                    -
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" title="Edit Election"
                                            class="btn btn-sm btn-light text-edit me-1 rounded"><i
                                                class="far fa-edit"></i></button>
                                        <button type="button" title="Delete Election"
                                            class="btn btn-sm btn-light text-danger rounded"><i
                                                class="fas fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>