<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Dashboard</span>
            </div>
        </div>
        <!-- <div class="col-sm-6 text-end">
            <input type="date" class="form-control" placeholder="Select Date" />
        </div> -->
    </div>

    <div class="row" id="dash-stats">
        <div class="col-sm-2">
            <div class="card card-body bg-cyan" (click)="redirectCountingPage('executiveMember')">
                <i class="fas fa-users"></i>
                <p>Executive Member</p>
                <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.ExcecutiveMembers"></i>
                </ng-container>
                <h3>{{dashboardCount1Array?.ExcecutiveMembers}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-green" (click)="redirectCountingPage('YouthMembers')">
                <i class="fas fa-user"></i>
                <p>Youth Members</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.YouthMembers "></i></ng-container> -->
                <h3>{{dashboardCount1Array?.YouthMembers}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-blue" (click)="redirectCountingPage('activeMembers')">
                <i class="fas fa-user-shield"></i>
                <p>Active Members</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.ActiveMembers"></i></ng-container> -->
                <h3>{{dashboardCount1Array?.ActiveMembers}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-gold" (click)="redirectCountingPage('committeeWork')">
                <i class="fas fa-people-arrows"></i>
                <p>Committee Activities</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.CommitteeWork"></i></ng-container> -->
                <h3>{{dashboardCount1Array?.CommitteeWork}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-red" (click)="redirectCountingPage('memberWork')">
                <i class="fas fa-user-cog"></i>
                <p>Members Activities</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.MemberWork"></i></ng-container> -->
                <h3>{{dashboardCount1Array?.MemberWork}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-voilet" (click)="redirectCountingPage('socialMediaWork')">
                <i class="far fa-thumbs-up"></i>
                <p>Perception Captured</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.SocialMediaWork"></i></ng-container> -->
                <h3>{{dashboardCount1Array?.SocialMediaWork}}</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="row chartbox">
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="card-header">
                            Work in This Week <a routerLink="work-this-week"><i
                                    class="fas fa-external-link-alt"></i></a>
                            <span class="float-end">
                                <div class="input-group">
                                    <input [owlDateTime]="dt1" (dateTimeChange)="getweekRage($event.value)"
                                        [(ngModel)]="toDate" class="form-control form-control-sm" [max]="maxDate"
                                        [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                                    <button class="btn btn-light btn-sm" type="button" [owlDateTimeTrigger]="dt1">
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </div>
                            </span>
                        </div>
                        <div class="card-body"
                            [ngClass]="workInThisWeekArray?.length !=0 ?  'workLineChartdiv chartHeight': ''">

                        </div>
                        <div>
                            <div *ngIf="workInThisWeekArray?.length ==0">
                                <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="card-header">
                            Perception on Social Media <a routerLink="social-media-image"><i
                                    class="fas fa-external-link-alt"></i></a>
                        </div>
                        <div class="card-body  socialMediaChartdiv"
                            [ngClass]="typesOfWorksArray?.length !=0 ?  'chartHeight': ''">
                            <div>
                                <div *ngIf="perceptionOnSocialMediaArray?.length ==0">
                                    <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 chartbox">
            <div class="card mb-3">
                <div class="card-header">Highest Activity Districts
                </div>
                <div class="card-body pt-0 pb-2">
                    <a class="activity-item d-flex justify-content-between"
                        *ngFor="let highestActivityDistricts of highestActivityDistrictsArray">
                        <div>
                            <span class="act-count text-success">{{highestActivityDistricts?.ActivityCount}}</span>
                            <span>
                                {{highestActivityDistricts?.DistrictName}}
                            </span>
                        </div>
                        <i class="fas fa-arrow-up bounce text-success me-2"></i>
                    </a> 
                    <!-- <a class="activity-item bg-high"
                        *ngFor="let highestActivityDistricts of highestActivityDistrictsArray">
                        {{highestActivityDistricts?.DistrictName}}
                        <span class="float-end"><span
                                class="badge bg-success">{{highestActivityDistricts?.ActivityCount}}</span></span>
                    </a>
                    <div>
                        <div *ngIf="perceptionOnSocialMediaArray?.length ==0">
                            <div class="alert alert-danger text-center py-2">No Data Found..!</div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Lowest Activity Districts</div>
                <div class="card-body pt-0 pb-2">
                    <a class="activity-item d-flex justify-content-between"
                        *ngFor="let lowestActivityDistricts of lowestActivityDistrictsArray">
                        <div>
                            <span class="act-count text-danger">{{lowestActivityDistricts.ActivityCount}}</span>
                            <span>
                                {{lowestActivityDistricts.DistrictName}}
                            </span>
                        </div>
                        <i class="fas fa-arrow-down bounce-rev text-danger me-2"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 chartbox">
            <div class="card">
                <div class="card-header pb-1">
                    Recent Activity News
                </div>
                <div class="card-body pt-0 recent-posts">
                    <div class="member-posts">
                        <div class="row d-flex g-2">
                            <div class="col">
                                <div class="row mt-1">
                                    <div class="col-3">
                                        <img src="assets/images/event-header.jpg" class="post-image">
                                    </div>
                                    <div class="col-9">
                                        <h6 class="member-name">Anil Pandhare</h6>
                                        <p class="post-date"><i class="far fa-clock me-1"></i>10-02-2021 10:32 AM</p>
                                        <p class="post-title">Examination of Central Committee</p>
                                        <div class="row small text-muted">
                                            <div class="col-sm-4">
                                                <i class="far fa-thumbs-up me-2"></i>10
                                            </div>
                                            <div class="col-sm-4">
                                                <i class="far fa-comments me-2"></i>15
                                            </div>
                                            <div class="col-sm-4">
                                                <i class="far fa-share-square me-2"></i>25
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto text-end">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-light text-muted bg-transparent dropdown-toggle"
                                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Report Abuse</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="member-posts">
                        <div class="row d-flex g-2">
                            <div class="col">
                                <div class="row mt-1 g-2">
                                    <div class="col-3">
                                        <img src="assets/images/event-header.jpg" class="post-image">
                                    </div>
                                    <div class="col-9">
                                        <h6 class="member-name">Anil Pandhare</h6>
                                        <p class="post-date"><i class="far fa-clock me-1"></i>10-02-2021 10:32 AM</p>
                                        <p class="post-title">Examination of Central Committee</p>
                                        <div class="row small text-muted">
                                            <div class="col-sm-4">
                                                <i class="far fa-thumbs-up me-2"></i>10
                                            </div>
                                            <div class="col-sm-4">
                                                <i class="far fa-comments me-2"></i>15
                                            </div>
                                            <div class="col-sm-4">
                                                <i class="far fa-share-square me-2"></i>25
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto text-end">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-light text-muted bg-transparent dropdown-toggle"
                                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Report Abuse</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="member-posts">
                        <div class="row d-flex g-2">
                            <div class="col">
                                <div class="row mt-1 g-2">
                                    <div class="col-3">
                                        <img src="assets/images/event-header.jpg" class="post-image">
                                    </div>
                                    <div class="col-9">
                                        <h6 class="member-name">Anil Pandhare</h6>
                                        <p class="post-date"><i class="far fa-clock me-1"></i>10-02-2021 10:32 AM</p>
                                        <p class="post-title">Examination of Central Committee</p>
                                        <div class="row small text-muted">
                                            <div class="col-sm-4">
                                                <i class="far fa-thumbs-up me-2"></i>10
                                            </div>
                                            <div class="col-sm-4">
                                                <i class="far fa-comments me-2"></i>15
                                            </div>
                                            <div class="col-sm-4">
                                                <i class="far fa-share-square me-2"></i>25
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto text-end">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-light text-muted bg-transparent dropdown-toggle"
                                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Report Abuse</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="member-posts">
                        <div class="row d-flex g-2">
                            <div class="col">
                                <div class="row mt-1 g-2">
                                    <div class="col-3">
                                        <img src="assets/images/event-header.jpg" class="post-image">
                                    </div>
                                    <div class="col-9">
                                        <h6 class="member-name">Anil Pandhare</h6>
                                        <p class="post-date"><i class="far fa-clock me-1"></i>10-02-2021 10:32 AM</p>
                                        <p class="post-title">Examination of Central Committee</p>
                                        <div class="row small text-muted">
                                            <div class="col-sm-4">
                                                <i class="far fa-thumbs-up me-2"></i>10
                                            </div>
                                            <div class="col-sm-4">
                                                <i class="far fa-comments me-2"></i>15
                                            </div>
                                            <div class="col-sm-4">
                                                <i class="far fa-share-square me-2"></i>25
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto text-end">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-light text-muted bg-transparent dropdown-toggle"
                                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Report Abuse</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="member-posts">
                        <div class="row d-flex g-2">
                            <div class="col">
                                <div class="row mt-1 g-2">
                                    <div class="col-3">
                                        <img src="assets/images/event-header.jpg" class="post-image">
                                    </div>
                                    <div class="col-9">
                                        <h6 class="member-name">Anil Pandhare</h6>
                                        <p class="post-date"><i class="far fa-clock me-1"></i>10-02-2021 10:32 AM</p>
                                        <p class="post-title">Examination of Central Committee</p>
                                        <div class="row small text-muted">
                                            <div class="col-sm-4">
                                                <i class="far fa-thumbs-up me-2"></i>10
                                            </div>
                                            <div class="col-sm-4">
                                                <i class="far fa-comments me-2"></i>15
                                            </div>
                                            <div class="col-sm-4">
                                                <i class="far fa-share-square me-2"></i>25
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto text-end">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-light text-muted bg-transparent dropdown-toggle"
                                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Report Abuse</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="member-posts">
                        <div class="row d-flex g-2">
                            <div class="col">
                                <div class="row mt-1 g-2">
                                    <div class="col-3">
                                        <img src="assets/images/event-header.jpg" class="post-image">
                                    </div>
                                    <div class="col-9">
                                        <h6 class="member-name">Anil Pandhare</h6>
                                        <p class="post-date"><i class="far fa-clock me-1"></i>10-02-2021 10:32 AM</p>
                                        <p class="post-title">Examination of Central Committee</p>
                                        <div class="row small text-muted">
                                            <div class="col-sm-4">
                                                <i class="far fa-thumbs-up me-2"></i>10
                                            </div>
                                            <div class="col-sm-4">
                                                <i class="far fa-comments me-2"></i>15
                                            </div>
                                            <div class="col-sm-4">
                                                <i class="far fa-share-square me-2"></i>25
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto text-end">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-light text-muted bg-transparent dropdown-toggle"
                                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Report Abuse</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>