<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Dashboard</span>
            </div>
        </div>
        <!-- <div class="col-sm-6 text-end">
            <input type="date" class="form-control" placeholder="Select Date" />
        </div> -->
    </div>

    <div class="row" id="dash-stats">
        <div class="col-sm-2">
            <div class="card card-body bg-cyan" (click)="redirectCountingPage('executiveMember')">
                <i class="fas fa-users"></i>
                <p>Executive Member</p>
                <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.ExcecutiveMembers"></i>
                </ng-container>
                <h3>{{dashboardCount1Array?.ExcecutiveMembers}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-green" (click)="redirectCountingPage('YouthMembers')">
                <i class="fas fa-user"></i>
                <p>Youth Members</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.YouthMembers "></i></ng-container> -->
                <h3>{{dashboardCount1Array?.YouthMembers}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-blue" (click)="redirectCountingPage('activeMembers')">
                <i class="fas fa-user-shield"></i>
                <p>Active Members</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.ActiveMembers"></i></ng-container> -->
                <h3>{{dashboardCount1Array?.ActiveMembers}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-gold" (click)="redirectCountingPage('committeeWork')">
                <i class="fas fa-people-arrows"></i>
                <p>Committee Work</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.CommitteeWork"></i></ng-container> -->
                <h3>{{dashboardCount1Array?.CommitteeWork}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-red" (click)="redirectCountingPage('memberWork')">
                <i class="fas fa-user-cog"></i>
                <p>Members Work</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.MemberWork"></i></ng-container> -->
                <h3>{{dashboardCount1Array?.MemberWork}}</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-voilet" (click)="redirectCountingPage('socialMediaWork')">
                <i class="far fa-thumbs-up"></i>
                <p>Social Media Work</p>
                <!-- <ng-container><i class="fa fa-spinner fa-spin" *ngIf="!dashboardCount1Array?.SocialMediaWork"></i></ng-container> -->
                <h3>{{dashboardCount1Array?.SocialMediaWork}}</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <div class="row chartbox">
                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            Work in This Week <a routerLink="work-this-week"><i
                                    class="fas fa-external-link-alt"></i></a>
                            <span class="float-end">
                                <div class="input-group">
                                    <input [owlDateTime]="dt1" (dateTimeChange)="getweekRage($event.value)" 
                                        [(ngModel)]="defaultToDate" class="form-control form-control-sm" [max]="maxDate"
                                        [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                                    <button class="btn btn-light btn-sm" type="button" [owlDateTimeTrigger]="dt1" >
                                        <i class="fas fa-calendar-alt"></i>
                                    </button>
                                </div>
                            </span>
                        </div>
                        <div class="card-body chartHeight workLineChartdiv">

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            New Members This Week
                            <span class="float-end" style="width: 200px;">
                                <ngx-select [allowClear]="true" (remove)="getNewMemberAndWorkInThisWeek()"
                                    (select)="getDistrictWiseMemberCount($event)" [items]="allDistrictArray"
                                    optionValueField="DistrictId" optionTextField="DistrictName"
                                    placeholder="Select District">
                                </ngx-select>
                            </span>
                        </div>
                        <div class="card-body chartHeight weeklyChartdiv">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-header pb-0">
                            Types of Works
                        </div>
                        <div class="card-body pieChartdiv pt-0">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-3" >
                        <div class="card-header">
                            Perception on Social Media <a routerLink="social-media-image"><i
                                    class="fas fa-external-link-alt"></i></a>
                        </div>
                        <div class="card-body chartHeight socialMediaChartdiv">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 chartbox">
            <div class="card mb-3">
                <div class="card-header"><i class="fas fa-arrow-up bounce text-success me-2"></i>Highest Activity Districts
                </div>
                <div class="card-body pt-0 pb-1">
                    <a class="activity-item bg-high" *ngFor="let highestActivityDistricts of highestActivityDistrictsArray">

                        {{highestActivityDistricts.DistrictName}}
                        <span class="float-end"><span
                                class="badge bg-success">{{highestActivityDistricts.ActivityCount}}</span></span>
                    </a>

                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header "><i class="fas fa-arrow-down bounce text-danger me-2"></i>Lowest Activity Districts
                </div>
                <div class="card-body pt-0 pb-1" *ngFor="let lowestActivityDistricts of lowestActivityDistrictsArray">
                    <a class="activity-item bg-low">

                        {{lowestActivityDistricts.DistrictName}}
                        <span class="float-end"><span
                                class="badge bg-danger">{{lowestActivityDistricts.ActivityCount}}</span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>