
.bounce {
    animation: bounce 3s infinite;
}
.bounce-rev{
    animation: bounce-rev 3s infinite;
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
@keyframes bounce-rev {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(5px);
    }
  }
.chartbox .activity-item .act-count{
    background-color: rgb(241, 241, 241);
    font-size: 1.1rem;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}
