<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="pageheader">
                <span class="page-name">Dashboard</span>
            </div>
        </div>
        <!-- <div class="col-sm-6 text-end">
            <input type="date" class="form-control" placeholder="Select Date" />
        </div> -->
    </div>

    <div class="row" id="dash-stats">
        <div class="col-sm-2">
            <div class="card card-body bg-cyan">
                <i class="fas fa-users"></i>
                <p>Executive Member</p>
                <h3>1257</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-green">
                <i class="fas fa-user"></i>
                <p>Youth Members</p>
                <h3>25312</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-blue">
                <i class="fas fa-user-shield"></i>
                <p>Active Members</p>
                <h3>7902</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-gold">
                <i class="fas fa-people-arrows"></i>
                <p>Committee Work</p>
                <h3>3534</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-red">
                <i class="fas fa-user-cog"></i>
                <p>Members Work</p>
                <h3>12310</h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card card-body bg-voilet">
                <i class="far fa-thumbs-up"></i>
                <p>Social Media Work</p>
                <h3>2720</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="row chartbox">
                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            Work in This Week <a routerLink="../work-this-week"><i class="fas fa-external-link-alt"></i></a>
                            <span class="float-end">
                                <input type="date" class="form-control form-control-sm" placeholder="Date Range" />
                            </span>
                        </div>
                        <div class="card-body">
                            asdfghj
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            New Members in This Week
                            <span class="float-end">
                                <select class="form-select form-select-sm">
                                    <option value="">Select District</option>
                                    <option value="">Pune</option>
                                    <option value="">Solapur</option>
                                </select>
                            </span>
                        </div>
                        <div class="card-body">
                            asdfghj
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            Types of Works
                        </div>
                        <div class="card-body">
                            asdfghj
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            Perception on Social Media <a routerLink="../social-media-image"><i class="fas fa-external-link-alt"></i></a>
                        </div>
                        <div class="card-body">
                            asdfghj
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 chartbox">
            <div class="card mb-3">
                <div class="card-header">Highest Activity Districts</div>
                <div class="card-body pt-0 pb-1">
                    <a class="activity-item bg-high">
                        Satara
                        <span class="float-end">250</span>
                    </a>
                    <a class="activity-item bg-high">
                        Solapur
                        <span class="float-end">250</span>
                    </a>
                    <a class="activity-item bg-high">
                        Pune
                        <span class="float-end">250</span>
                    </a>
                    <a class="activity-item bg-high">
                        Chandrapur
                        <span class="float-end">250</span>
                    </a>
                    <a class="activity-item bg-high">
                        Beed
                        <span class="float-end">250</span>
                    </a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Lowest Activity Districts</div>
                <div class="card-body pt-0 pb-1">
                    <a class="activity-item bg-low">
                        Sangali
                        <span class="float-end">250</span>
                    </a>
                    <a class="activity-item bg-low">
                        Kolhapur
                        <span class="float-end">250</span>
                    </a>
                    <a class="activity-item bg-low">
                        Dhule
                        <span class="float-end">250</span>
                    </a>
                    <a class="activity-item bg-low">
                        Amaravati
                        <span class="float-end">250</span>
                    </a>
                    <a class="activity-item bg-low">
                        Jalgaon
                        <span class="float-end">250</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>