
.bounce {
    animation: bounce 3s infinite;
}
.bounce-rev{
    animation: bounce-rev 3s infinite;
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
@keyframes bounce-rev {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(5px);
    }
  }
.chartbox .activity-item .act-count{
    background-color: rgb(241, 241, 241);
    font-size: 1.1rem;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}
.member-posts{
    margin-bottom: 10px;
}
.member-posts a{
    text-decoration: none !important;
}
.member-posts a:hover{
    background-color: #fafafa;
    text-decoration: none !important;
}
.member-photo{
    width:60px;
    border-radius: 50%;
    margin-right: 5px;
}

.member-posts .member-name{
    font-weight: 600;
    margin-bottom: 1px;
    margin-bottom: 5px;
    color: var(--main-color);
}
.member-posts .member-address,
.member-posts .post-date{
    margin-bottom: 3px;
    font-size: 0.75rem;
    color: #777;
}
.member-posts .post-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 82%;
  }
  .member-posts .post-title {
    font-size: 0.85rem;
    color:#333;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .member-posts .post-image{
      width: 100%;
      height: 100px;
      object-fit: cover;
    object-position: center;
    border-radius: 5px;
  } 
  .recent-posts{
    height: 670px;
        overflow-y: auto;
        padding: 20px;
  }
  #PostDetailModal{
      z-index: 9999;
  }
  #PostDetailModal .carousel-item{
      text-align: center;
  }
  #PostDetailModal .carousel-item img{
    height:92.5vh;
    width:auto;
}
#PostDetailModal .carousel-control-prev,
#PostDetailModal .carousel-control-next{
    width: 50px;
    height: 50px;
    margin: auto 0;
    background: black;
}
#PostDetailModal .btn-group .btn{
    font-size: 0.85rem;
    border: solid 1px rgba(0, 0, 0, 0.125);
    padding-block: 10px;
}
.likesharecomment{
    max-height:70vh;
    overflow-y: auto;
}
.likesharecomment a{
    text-decoration: none !important;
    color: var(--main-color);
    font-weight: 600;
}